{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/M_equipment/css/configuration.css' %}">
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="locationbar ml-2">
    <span>Resource Management &nbsp;&nbsp;>&nbsp;&nbsp;Integreation &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">Configuration<span>
</div>
<div>
    <!-- Page Heading -->
    <h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">Integration Configuration</h6>
    <p class="h6 mb-4 ml-2">Configure Integrated Resources</p>
    <div class="card shadow mb-4 ">
        <div class="card-header py-3 ">
            <h6 class="m-0 font-weight-bold text-teiren ">Registered Resources</h6>
            <button class="btn-reset" type="button" id="refresh-button">
                <span class="material-symbols-outlined">
                    restart_alt
                </span>
            </button>
            {% comment %} <button class="btn-reset"  aria-label="새로고침"> {% endcomment %}
                {% comment %} <img src="{% static 'M_equipment/img/refresh.png' %}" alt="새로고침"> {% endcomment %}
            {% comment %} </button> {% endcomment %}
        </div>
        <div class="card-body" id="section-to-refresh" style="font-size:12px">
            <div id="loading-animation" style="display:none;">Loading...</div>
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="table-layout:fixed;text-align:center;">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Resource Type</th>
                            <th>Log Type</th>
                            <th>Log Group Name</th>
                            <th>Main Key</th>
                            <th>Delete Key</th>
                            <th>Collection On/Off</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Status</th>
                            <th>Resource Type</th>
                            <th>Log Type</th>
                            <th>Log Group Name</th>
                            <th>Main Key</th>
                            <th>Delete Key</th>
                            <th>Collection On/Off</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if integrations %}
                            {% for integration in integrations %}
                                {% if not integration.status == 'running' %}
                                    <tr class="text-danger">
                                        <td><i class="fa-solid fa-triangle-exclamation fa-bounce"></i></td>
                                {% else %}
                                    <tr><td><i class="text-teiren fa-solid fa-circle-check"></i></td>
                                {% endif %}
                                    <td>{{ integration.integrationType|title }}</td>
                                    <td>{{ integration.logType|title }}</td>
                                {% if integration.logType == integration.groupName %}
                                    <td>-</td>
                                {% else %}
                                    <td>{{ integration.groupName }}</td>
                                {% endif %}
                                <td>{{ integration.accessKey }}</td>
                                <td>
                                    <form>
                                        <input type="hidden" name="integration_type" value="{{ integration.integrationType }}">
                                        <input type="hidden" name="access_key" value="{{ integration.accessKey }}">
                                        <input type="hidden" name="region_name" value="{{ integration.regionName }}">
                                        <input type="hidden" name="log_type" value="{{ integration.logType }}">
                                        <input type="hidden" name="group_name" value="{{ integration.groupName }}">
                                        <button type="button" class="btn btn-danger btn-md" onClick="checkModal(this, 'delete')">
                                            <i class="fas fa-trash text-gray-200"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form>
                                        <input type="hidden" name="integration_type" value="{{ integration.integrationType }}">
                                        <input type="hidden" name="access_key" value="{{ integration.accessKey }}">
                                        <input type="hidden" name="region_name" value="{{ integration.regionName }}">
                                        <input type="hidden" name="log_type" value="{{ integration.logType }}">
                                        <input type="hidden" name="group_name" value="{{ integration.groupName }}">
                                        <input type="hidden" name="on_off" value="{{integration.isRunning}}">
                                        {% if integration.isRunning == 0 %}
                                            <button type="button" class="btn btn-md btn-outline-teiren" onClick="checkModal(this, 'trigger')">
                                        {% else %}
                                            <button type="button" class="btn btn-md btn-teiren" onClick="checkModal(this, 'trigger')">
                                        {% endif %}
                                                <i class="fa-solid fa-power-off"></i>
                                            </button>
                                    </form>
                                </td>
                                </tr>   
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="7" style="font-size:20px">No Data</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- Delete Modal -->
<div class="modal fade card-body" id="delete_modal" role="dialog" style="overflow-y:auto" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style="width:1000px; height:auto">
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id="modal_title">Delete Registration</h5>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <h5 class="text-danger">Verify Information Before Deleting</h5>
                <form id="delete_form" class="mt-2">
                    
                </form>
                <h5 id="delete_message" class="text-danger">Will You Delete Registered Information?</h5>
            </div>
            <div class="modal-footer" id="modal_footer">
                <div id="delete_check">
                    <button type="button" id="delete_quit" class="btn btn-md btn-outline-danger mr-2" data-dismiss="modal">Cancel</button>
                    <button type="button" id="delete_accept" class="btn btn-md btn-outline-teiren">Delete</button>
                </div>
                <button type="button" id="delete_complete" class="btn btn-md btn-outline-teiren" style="display:none;">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- Trigger Modal -->
<div class="modal fade card-body" id="trigger_modal" role="dialog" style="overflow-y:auto" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style="width:1000px; height:auto">
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id="modal_title">Integration On/Off</h5>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <h5 class="text-danger">Verify Information Before Turning On/Off</h5>
                <form id="trigger_form" class="mt-2">
                    
                </form>
                <h5 id="trigger_message" class="text-danger">Will You Change Collection Status?</h5>
            </div>
            <div class="modal-footer" id="modal_footer">
                <div id="delete_check">
                    <button type="button" id="trigger_quit" class="btn btn-md btn-outline-danger mr-2" data-dismiss="modal">Cancel</button>
                    <button type="button" id="trigger_accept" class="btn btn-md btn-outline-teiren"></button>
                </div>
                <button type="button" id="trigger_complete" class="btn btn-md btn-outline-teiren" style="display:none;">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static '/M_equipment/js/configuration.js' %}"></script>
<script>
document.getElementById('refresh-button').addEventListener('click', function() {
    fetch('/integration/refresh/')
    .then(response => response.text())
    .then(data => {
        document.getElementById('section-to-refresh').innerHTML = data;
        $('#dataTable').DataTable();
    });
});
</script>
<script>
document.getElementById('refresh-button').addEventListener('click', function() {
    // 로딩 애니메이션 표시
    document.getElementById('loading-animation').style.display = 'block';

    // 데이터 새로고침 요청
    fetch('/integration/refresh/')
    .then(response => response.text())
    .then(data => {
        // 새로고침 완료 시 애니메이션 숨김
        document.getElementById('loading-animation').style.display = 'none';
        document.getElementById('section-to-refresh').innerHTML = data;
        $('#dataTable').DataTable();
    });
});
</script>
{% endblock %}