{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Begin Page Content -->

<div class="locationbar ml-2">
    <span>Compliance &nbsp;&nbsp;>&nbsp;&nbsp;Compliance &nbsp;&nbsp;>&nbsp;&nbsp;증적관리&nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">{{title}} <span>
</div>

<!-- Page Heading -->
<h2 class="h2 font-weight-bold mb-2 text-gray-800 ml-2">{{title}}</h2>
<p class="h4 mb-4 ml-2">{{title}} 분류에 대한 내용 및 관련 법령, 매핑 항목, 증적 버전 관리 등을 수행할 수 있습니다.</p>    
<div class="card shadow mb-4" id="log_table">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-teiren">Overview</h4>
    </div>
    
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <tbody>
                    {%for d in data%}
                    <tr>
                        <th>Name</th>
                        <td>{{d.data.name}}</td>
                    </tr>

                    <tr>
                        <th>Comment</th>
                        <td>{{d.data.comment}}</td>
                    </tr>

                    <tr>
                        <th>Poc</th>
                        <td>{{d.data.poc}}</td>
                    </tr>

                    
                    <tr>
                        <th>Version</th>
                        <td>{{d.data.version}}</td>
                    </tr>

                    <tr>
                        <th>Author</th>
                        <td>{{d.data.author}}</td>
                    </tr>


                    <tr>
                        <th>Last Update Time</th>
                        <td>{{d.data.last_update}}</td>
                    </tr>
                    {% endfor %}

                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="log_table">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-teiren">Current Evidence Preview</h4>
    </div>

    <h2> 즌비증~</h2>

    <div class="card-header py-3">
        <form method="POST" action="/compliance/evidence/file_add/">
            <h4 class="m-0 font-weight-bold text-teiren">Evidence Version Manage
                {% csrf_token %}
                <input type="hidden" name="title" value="{{title}}"/>
                <input type="submit" class="btn btn-md btn-teiren" style="font-size:0.7vw" value="증적추가"/>
            </h4>
        </form>
    </div>

    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>name</th>
                        <th>comment</th>
                        <th>version</th>
                        <th>download</th>
                        <th>poc</th>
                        <th>author</th>
                        <th>upload</th>
                        <th>func</th>
                    </tr>
                </thead>
                <tbody>
                    {%for f in file_list%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{f.name}}</td>
                            <td>{{f.comment}}</td>
                            <td>{{f.version}}</td>
                            <td><button id="downloadBtn" class="btn btn-md btn-teiren" onclick="download_file('{{f.name}}')">Download</button></td>
                            <td>{{f.poc}}</td>
                            <td>{{f.author}}</td>
                            <td>{{f.upload_date}}</td>
                            <td>
                                <button class="btn btn-md btn-teiren" style="font-size:0.7vw" onclick="mod_file()">수정</button>
                                <button class="btn btn-md btn-danger" style="font-size:0.7vw" onclick="del_file('{{title}}','{{f.name}}')">삭제</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="log_table">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-teiren">관련 인증 및 정책</h4>
    </div>

    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Compliance</th>
                        <th>Version Date</th>
                        <th>Chapter</th>
                        <th>Section</th>
                        <th>Article</th>
                        <th>바로가기</th>
                    </tr>
                </thead>
                <tbody>
                    {%for c in compliance_list%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.ver.name}}</td>
                        <td>{{c.ver.date}}</td>
                        <td>{{c.chap.no}}. {{c.chap.name}}</td>
                        <td>{{c.sec.no}}. {{c.sec.name}}</td>
                        <td>{{c.arti.no}}. {{c.arti.name}}</td>

                        <td>
                            <a href="#" class="btn btn-md btn-teiren" style="font-size:0.7vw">
                                바로가기
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
function del_file(data_name, file_name){
    console.log(data_name);
    console.log(file_name);

    $.ajax({
        url: '/compliance/evidence/file_del/',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}"
        },
        type: 'POST',
        data: {
            'data_name': data_name,
            'file_name': file_name
        },
        success: function(response){
            if(response.startsWith('\n<meta')){
                location.reload()
            }
            if(response === 'success'){ 
                alert('Saved Successfully')
                location.reload()
            } else {
                //alert('Failed To Save. Please Try Again')
                alert(response)
            }
        },
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); 
        }
    })
}

function download_file(file_name){
    console.log(file_name)
}

  </script>

{% endblock %}

