{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <script src="{% static '/graphdb/code.js' %}"></script>
    <link href="{% static '/graphdb/style.css' %}" rel="stylesheet" />
</head>
{% endblock %}
{% block content %}
<div style="margin:100px">
    <div class="card shadow">
        <div class="card card-body">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table table-bordered" id="dataTable" width="100%" height="500px" cellspacing="0"
                    style="table-layout:fixed;text-align:center;">
                    <thead>
                        <div class="row">
                            <div id="cy" sytle="word-break:normal;"></div>
                            <span class="fa fa-bars config-toggle" id="config-toggle"></span>
                            <br>
                            <div id="config" class="config">
                                <div class="preamble">
                                    <span class="label label-info font-weight-bold">test</span>
                                </div>
                            </div>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="test" style="display: flex; justify-content:center; align-items:center; font-size: 30px">
    test
</div>
<script>
    $(function () {
        $.ajax({
            url: '/cytoscape/',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            type: 'post'
        }).done(function (data) {
            // $('#test').html(data)
            console.log(data)
        })
    })
</script>
{% endblock %}