{% extends 'testing/newDesign/base.html' %}
{% load static %}
{% block head %}

<head>
    <!-- tab.css -->
    <link rel="stylesheet" href="{% static '/css/tab_table.css' %}">
</head>
{% endblock %}
{% block content %}
<div>
    <div class="tabs">
        <input type="radio" id="modal-tab1" name="tab-control-modal" checked>
        <input type="radio" id="modal-tab2" name="tab-control-modal">
        <ul class="ul">
            <li title="Integrations">
                <label for="modal-tab1" role="button">
                    <span>INTEGRATIONS</span>
                </label>
            </li>
            <li title="Lists">
                <label for="modal-tab2" role="button">
                    <span>LISTS</span>
                </label>
            </li>
        </ul>

        <div class="slider">
            <div class="indicator"></div>
        </div>
        <div class="content">
            <section>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> 이번달 로그 위협 결과 다운로드(.csv)</a> -->
                    </div>
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800 ml-0">수집/통합 로그 설정</h1>
                    <p class="h6 mb-4">수집/통합할 서비스를 선택 및 설정합니다. </p>

                    <!-- Content Row -->
                    <div class="row justify-content-center">
                        <a class="btn col-xl-3 col-md-6 mb-4" href='#' style="pointer-events: none;">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md font-weight-bold text-secondary text-uppercase mb-1">
                                                Naver
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <img src="{% static '/img/naver_icon.png' %}" width="40%" height="auto"
                                                    style="filter: grayscale(80%); opacity: 0.5;">
                                                <p>Naver Cloud Platform</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="btn col-xl-3 col-md-6 mb-4" href='#' style="pointer-events: none;">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md font-weight-bold text-secondary text-uppercase">
                                                NHN
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <img src="{% static '/img/nhn_icon.png' %}" width="77%" height="20%"
                                                    style="margin-top:15px; margin-bottom:15px; filter: grayscale(80%); opacity: 0.5;">
                                                <p>NHN Cloud</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="btn col-xl-3 col-md-6 mb-4" href='/integration/aws'>
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md font-weight-bold text-warning text-uppercase mb-1">
                                                AMAZON</div>
                                            <img src=" {% static '/img/aws_icon.png' %}" width="77%" height="auto">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <p>Amazon Web Services</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="btn col-xl-3 col-md-6 mb-4" href='#' style="pointer-events: none;">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md font-weight-bold text-secondary text-uppercase mb-2">
                                                AZURE</div>
                                            <img src=" {% static '/img/azure_icon.png' %}" width="43%" height="auto"
                                                style="filter: grayscale(80%); opacity: 0.5;">
                                            <div class="h5 mb-0 mt-3 font-weight-bold text-gray-800">
                                                <p>Microsoft Azure</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="btn col-xl-3 col-md-6 mb-4" href='#' style="pointer-events: none;">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md font-weight-bold text-secondary text-uppercase mb-2">
                                                지란지교
                                            </div>
                                            <div class="h5 font-weight-bold text-gray-800">
                                                <img class='mb-2' src=" {% static '/img/officekeeper_icon.png' %}"
                                                    width="40%" height="auto" style="filter: grayscale(80%); opacity: 0.5;">
                                                <p>Office Keeper</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="btn col-xl-3 col-md-6 mb-4" href='#' style="pointer-events: none;">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md font-weight-bold text-secondary text-uppercase mb-1">
                                                KT</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div>
                                                    <img src=" {% static '/img/kt_icon.png' %}" width="85%" height="auto" style="filter: grayscale(80%); opacity: 0.5;">
                                                </div>
                                                <p>KT Cloud</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="btn col-xl-3 col-md-6 mb-4" href='#' style="pointer-events: none;">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md font-weight-bold text-secondary text-uppercase mb-2">
                                                Windows
                                            </div>
                                            <div class="h5 font-weight-bold text-gray-800">
                                                <img class='mb-2' src=" {% static '/img/windows-logo.png' %}"
                                                    width="40%" height="auto" style="filter: grayscale(80%); opacity: 0.5;">
                                                <p>Windows Security Event Log</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Page level custom scripts -->
            </section>
            <section>
                <div class="container-fluid">
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Begin Page Content -->
                        <div class="container-fluid">
                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800 ml-0">등록 키 확인하기</h1>
                            <p class="h6 mb-4">SIEM과 연동된 키를 한번에 확인할 수 있습니다. </p>
                            <div class="table-responsive " style="overflow:hidden;word-break: break-all;">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="table-layout:fixed;text-align:center;">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Resource Type</th>
                                            <th>Main Key</th>
                                            <th>Delete Key</th>
                                            <th>Collection On/Off</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>No</th>
                                            <th>Resource Type</th>
                                            <th>Main Key</th>
                                            <th>Delete Key</th>
                                            <th>Collection On/Off</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% if list %}
                                            {% for num, integrations in list.items %}
                                            <tr>
                                                <td>{{ num }}</td>
                                                {% for type, keys in  integrations.items %}
                                                    <td>{{ type }}</td>
                                                    <td>{{ keys.ACCESS_KEY }}</td>
                                                    <td>
                                                        <button id='delete' class="btn btn-primary btn-icon-split btn-sm" style="background-color:#FF4747;border-color:#FF4747" 
                                                            data-toggle="modal" data-target="#delete_modal" data-cloud='{{ type }}' data-main='{{ keys.ACCESS_KEY }}' data-sub='{{ keys.SECRET_KEY }}'>
                                                            <span class="icon text-white-50">
                                                                <i class="fas fa-trash"></i>
                                                            </span>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" class="on_off" value="{{keys.on_off}}" />
                                                        {% if keys.on_off == 0 %}
                                                        <button class="btn btn-md btn-outline-teiren" onclick="container_trigger(this, '{{type}}','{{ keys.ACCESS_KEY }}','{{ keys.SECRET_KEY }}','{{ keys.REGION_NAME }}')">
                                                        {% else %}
                                                        <button class="btn btn-md btn-teiren" onclick="container_trigger(this, '{{type}}', '{{ keys.ACCESS_KEY }}', '{{ keys.SECRET_KEY }}', '{{ keys.REGION_NAME }}')">
                                                        {% endif %}
                                                            <i class="fa-solid fa-power-off"></i>
                                                        </button>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="5" style="font-size:20px">No Data</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal hide fade card-body" id="delete_modal" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-primary" id='modal_title'>로그 수집 중단</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body">
                <div>
                    <p>키 종류: <input type="text" class="form-control" id='cloud_name' name="cloudname" value='' readonly></p>
                    <p><span id='key1'>ACCESS KEY: </span><input type="text" class="form-control" id='main_key' name="mainkey" value='' readonly></p>
                    <p><span id='key2'>SECRET KEY: </span><input type="text" class="form-control" id='sub_key' name="subkey" value='' readonly></p>
                    <span id='result' class='text-danger'>해당 경로의 로그 수집을 중단하시겠습니까?</span>
                </div>
            </div>
            <div class="modal-footer" id="modal_footer">
                <div id='delete_check'>
                    <input type='button' id='delete_quit' class="btn btn-outline-danger" data-dismiss='modal' value="취소">
                    <input type='button' id='delete_accept' class="btn btn-outline-primary" value="확인">
                </div>
                <input type='hidden' id='delete_complete' class="btn btn-outline-primary" value="확인">
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static '/M_equipment/js/integration.js' %}"></script>
<script>
    function container_trigger(e, type, access_key, secret_key, region_name){
        console.log(access_key, secret_key, region_name)
        var on_off = 0
        var input = $(e.parentNode).find('input.on_off')[0]
        if (input.value != 1){
            on_off = 1
        }
        input.value = on_off
        $.ajax({
            url:`${type}/collection/`,
            headers:{
                'X-CSRFToken': '{{csrf_token}}'
            },
            data:{
                access_key: access_key,
                secret_key: secret_key,
                region_name: region_name,
                isRunning: on_off
            },
            type:'post',
            datatype: 'json'
        }).done(function(response){
            console.log('status: ' + response.isRunning)
            console.log('container id: ' + response.containerId)

            if (response.isCreate == 1){
                alert('장비가 성공적으로 실행되었습니다\n' + response.containerId)
            } else if (response.isRunning == 1){
                alert('장비가 실행중입니다!\n' + response.containerId)
                if (on_off == 1){
                    $(e).attr('class', 'btn btn-md btn-teiren')
                } else {
                    $(e).attr('class', 'btn btn-md btn-outline-teiren')
                }
            } else{
                alert('알 수 없는 오류')
            }
        })
    }
    function dd(){
        
    }
</script>
{% endblock %}