<div style="font-size: 15px">
    <p> Teiren SIEM has detected a <span style="color:#e74a3b; font-weight:700">THREAT LOG</span></p>
    <p>RuleName: <span style="color:#e74a3b; font-weight:700">{{r.ruleName}}</span></p>
    <p>RuleNumber: <span style="color:#e74a3b; font-weight:700">{{r.ruleName}}#{{rel_id}}</span></p>
    <p>RuleComment: <span style="color:#e74a3b; font-weight:700">{{r.ruleComment}}</span></p>
    <p>UserName: <span style="color:#e74a3b; font-weight:700">{{l.userIdentity_userName}}</span></p>
    <p>EventName: <span style="color:#e74a3b; font-weight:700">{{l.eventName}}</span></p>
    <p>EventTime: <span style="color:#e74a3b; font-weight:700">{{l.eventTime}}</span></p>
    <p>EventSource: <span style="color:#e74a3b; font-weight:700">{{r.eventSource}}</span></p>
</div>
<a href="http://localhost:8888/alert/logs/" style="display: flex; text-decoration: none; justify-content:center;">
    <button style="color: #fff;background-color: #e74a3b;width: 60%;height: 50px;font-size: 20px;border-radius: 30px; border: none;">
        click here to see in more details
    </button>
</a>