<div id="logTotal">
    <div class="card shadow border-left-teiren">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h7 font-weight-bold text-teiren text-uppercase mb-1">
                        Total Log</div>
                    <div class="p-0 h6 mb-0 font-weight-bold text-gray-800">{{total}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>