{% load static %}
<div id="recentDetection">
    <div class="card shadow" style="height:320px">
        <!-- Card Header - Dropdown -->
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
            <div class="h6 m-0 font-weight-bold text-danger">최근 탐지 위협</div>
        </div>
        <!-- Card Body -->
        <div class="card-body p-3" style="overflow-y:scroll;">
            <div class="table-responsive">
                <table class="table m-0" id="dataTable"
                    style="text-align:center;overflow:scroll;font-size:0.6rem;">
                    <thead>
                        <tr>
                            <th>위협 No</th>
                            <th>장비명</th>
                            <th>탐지위협</th>
                            <th>행위</th>
                            <th>발생시간</th>
                            <th>더보기</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if recent_threat %}
                        {% for threat in recent_threat %}
                        <tr>
                            {% for key, value in threat.items %}
                            {% if key != 'form' %}
                            <td>
                                {{ value }}
                            </td>
                            {% endif %}
                            {% endfor %}
                            <td>
                                <form class="gdb_threat" method="post" onclick="threat(this)">
                                    {% csrf_token %}
                                    {% for key, value in threat.form.items %}
                                    <input type="hidden" name="{{key}}" value="{{value}}">
                                    {% endfor %}
                                    <input type=button class="btn btn-md btn-danger" style="font-size:0.5vw" value='더보기'>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/dashboard/recentDetection.js' %}"></script>