{% load static %}
<div id="threatUser" class="mb-1 px-1 h-100">
    <div class="card shadow h-100">
        <!-- Card Header - Dropdown -->
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-teiren">사용자 별 위협 비율</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body py-2 pl-1 pr-3">
            <div class="chart-area" style="height:100%;">
                <canvas id='userThreat'></canvas>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/js/dashboard/threatUser.js' %}"></script>
<script>
    {"user_threat": {{ user_threat|safe }}}
</script>
