<div id="threatlogTotal">
    <div class="card border-left-warning shadow ">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h7 font-weight-bold text-warning text-uppercase mb-1">
                        Detected Threat</div>
                    <div class="p-0 h6 mb-0 font-weight-bold text-gray-800">
                        {{threat}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>