{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/M_compliance/css/evidence_management/searchcard.css' %}">
{% endblock head %}
{% block content %}
<!-- Begin Page Content -->
<div class="locationbar ml-2">
    <span>Compliance Management&nbsp;&nbsp;>&nbsp;&nbsp;Compliance &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">Evidence Management<span>
</div>


<!-- Page Heading -->
<h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">Evidence Management</h6>
<p class="h6 mb-4 ml-2">Manage the entire evidence, manage the version, and manage the mapping at once.</p>
{% include "./evidence_management/searchcard.html" %}
<div class="card shadow mb-4" id="log_table">
    <div class="card-header row align-items-center py-3">
        <h6 class="m-0 mr-3 font-weight-bold text-teiren">Evidence List</h6>
        <button class="btn btn-md btn-teiren ml-auto mr-2" data-toggle="modal" data-target="#data_add"><i class="fa-solid fa-plus mr-2"></i>Add Data</button>           
    </div>
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="evidence_dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Comment</th>
                        <th>Author</th>
                        <th>Last update</th>
                        <th>Details</th>
                        <th>Modify</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data_list%}
                        <tr>
                            <td style="width:20%;">{{forloop.counter}}</td>
                            <td>{{data.product.name}}</td>
                            <td>{{data.data.name}}</td>
                            <td>{{data.data.comment}}</td>
                            <td>{{data.data.author}}</td>
                            <td>{{data.data.last_update}}</td>
                            <td>
                                <!-- Details -->
                                <a href="/compliance/evidence/{{data.product.name}}/{{ data.data.name }}/">
                                    <button type="button" class="btn btn-md btn-outline-teiren"><i class="fa-solid fa-circle-info mr-2"></i>Details</button>
                                </a>
                            </td>
                            <td>
                                <!-- Modify -->
                                <button type="button" class="btn btn-md btn-teiren" data-toggle="modal" data-target="#data_mod"
                                data-name="{{data.data.name}}" data-comment="{{data.data.comment}}" data-author="{{data.data.author}}"><i class="fa-solid fa-pen-to-square mr-2"></i>Modify</button>
                            </td>
                            <td>
                                <!-- Delete -->
                                <button type="button" class="btn btn-md btn-danger" data-toggle="modal" data-target="#data_delete"
                                data-name="{{data.data.name}}" data-comment="{{data.data.comment}}" data-author="{{data.data.author}}"><i class="fa-solid fa-trash mr-2"></i>Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Data Modal -->
<div class="modal hide fade card-body" id="data_add" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id='modal_title'>Add Evidence Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="data_add_form">
                    <p>Choose Product:
                        <select class="form-control" id="product_selected" name="product" placeholder="test">
                            <option value="">Select Product</option>
                            {% for product in product_list %}
                            <option value="{{product}}">{{product}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>Name: <input class="form-control" name="name" type="text"></p>
                    <p>Comment: <input class="form-control" name="comment" type="text"></p>
                    <p>Author: <input class="form-control" name="author" type="text"></p>
                    <p>Related Compliance:
                        <select class="form-control" id="compliance" name="compliance" onchange="updateVersion()">
                            <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                            <option value="">Choose Compliance</option>
                            {% for compliance in compliance_list %}
                            <option value="{{compliance}}">{{compliance}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>Related Compliance Version:
                        <select class="form-control" id="version_selected" name="version" onchange="updateArticle()">
                            <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                            <option value=""></option>
                        </select>
                    </p>
                    <p>Related Compliance Article:
                        <select class="form-control" id="article_selected" name="article">
                            <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                            <option value=""></option>
                        </select>
                    </p>
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' id='add_accept' class="btn btn-md btn-teiren" value="Save">
            </div>
        </div>
    </div>
</div>

<!-- Mod Data Modal -->
<div class="modal hide fade card-body" id="data_mod" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id='modal_title'>Modify Evidence Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="data_modify_form">
                    <input class="form-control" name="og_name" type="hidden">
                    <p>Data Name: <input class="form-control" name="name" type="text"></p>
                    <p>Comment: <input class="form-control" name="comment" type="text"></p>
                    <p>Author: <input class="form-control" name="author" type="text"></p>
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' id='mod_quit' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' id='mod_accept' class="btn btn-md btn-teiren" value="Modify">
            </div>
        </div>
    </div>
</div>

<!-- Delete Data Modal -->
<div class="modal hide fade card-body" id="data_delete" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-danger" id='modal_title'>Delete Evidence Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="data_delete_form">
                    <p>Data Name: <input class="form-control" name="name" type="text" readonly></p>
                    <p>Comment: <input class="form-control" name="comment" type="text" readonly></p>
                    <p>Author: <input class="form-control" name="author" type="text" readonly></p>
                </form>
                <h5>All the files in <span id="data_name" class="text-danger"></span> will be deleted. Will you still delete this data?</h5>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' id='delete_accept' class="btn btn-md btn-danger" value="Delete">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('#add_accept').click(function() {
        $.ajax({
            url: 'data/add/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: $('#data_add_form').serialize()
        }).done(function(response){
            alert(response)
            if(response.startsWith('Success')){
                location.reload()
                return 0
            }
        })
    });

    // 상위 카테고리가 변경될 때 호출되는 함수
    function updateVersion() {
        $.ajax({
            url: 'data/get_version/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: {
                "compliance": $('#compliance').val()
            }
        }).done(function(response){
            var version_list = response['version_list'];
            $('#article_selected').html('')
            $('#version_selected').html('')
            $('#version_selected').append(
                $('<option>').text('Choose Compliance Version').attr('disabled', true).attr('selected', true)
            )
            $(version_list).each(function(i){
                var version = $('<option>').text(this).val(this)
                $('#version_selected').append(version)
            })
        })
    }


    // 하위 카테고리를 서버에서 받아오는 함수
    function updateArticle() {
        $.ajax({
            url: 'data/get_article/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: {
                "compliance": $('#compliance').val(), // Send the selected value to the server
                "version": $('#version_selected').val()
            }
        }).done(function(response){
            var article_list = response['article_list']
            $('#article_selected').html('')
            $('#article_selected').append(
                $('<option>').text('Choose Compliance Article').attr('disabled', true).attr('selected', true)
            )
            $(article_list).each(function(){
                var version = $('<option>').text(`${this['no']} ${this['name']}`).val(`${this['no']} ${this['name']}`)
                $('#article_selected').append(version)
            })
        })
    }

    $('#data_mod').on('shown.bs.modal', function (e) {
        var button = $(e.relatedTarget); // 클릭된 버튼
        var data_name = button.data('name'); // data-name 속성의 값
        var data_comment = button.data('comment'); // data-name 속성의 값
        var data_author = button.data('author'); // data-name 속성의 값

        // 모달 내부 필드에 데이터 표시
        $('#data_mod input[name="og_name"]').val(data_name)
        $('#data_mod input[name="name"]').val(data_name);
        $('#data_mod input[name="comment"]').val(data_comment);
        $('#data_mod input[name="author"]').val(data_author);
    });

    $('#mod_accept').click(function() {
        $.ajax({
            url: 'data/modify/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: $('#data_modify_form').serialize()
        }).done(function(response){
            alert(response)
            if(response.startsWith('Success')){
                location.reload()
                return 0
            }
        })
    });
    
    $('#data_delete').on('shown.bs.modal', function (e) {
        var button = $(e.relatedTarget); // 클릭된 버튼
        var data_name = button.data('name'); // data-name 속성의 값
        var data_comment = button.data('comment'); // data-name 속성의 값
        var data_author = button.data('author'); // data-name 속성의 값
        
        // 모달 내부 필드에 데이터 표시
        $('#data_delete #data_name').text(data_name);
        $('#data_delete input[name="name"]').val(data_name);
        $('#data_delete input[name="comment"]').val(data_comment);
        $('#data_delete input[name="author"]').val(data_author);
    });

    $('#delete_accept').click(function (){
        $.ajax({
            url: 'data/delete/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: $('#data_delete_form').serialize()
        }).done(function(response){
            alert(response)
            if(response.startsWith('Success')){
                location.reload()
                return 0
            }
        })
    })
</script>
<script src="{% static '/M_compliance/js/evidence_management/searchcard.js' %}"></script>
<script>$('#compliance_side').addClass('active');</script>
{% endblock %}

