{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<a href="/compliance/lists_2"><h1>임시사용가능한 제2의 페이지</h1></a>

<br>
<!--단일 변수 출력-->
<h2>{{test_string}}</h2>
<br>

<div class="card-body" style="font-size:15px;">
    <div class="table-responsive" style="overflow:hidden;">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
               style="table-layout:fixed;text-align:center;font-size:15px;">
            <thead>
            <tr>
                <th>name</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>name</th>
            </tr>
            </tfoot>

            <tbody>
                <!--for 문으로 리스트 출력: 파이썬 코드를 쓸 때는 % % 안에 담아서 사용-->
                {% for t in test_list %}
                <tr>
                    <td>{{t.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}


