<div id="integrationTotal">
    <div class="card border-left-primary shadow">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h7 font-weight-bold text-primary text-uppercase mb-1">
                        Resources
                    </div>
                    <div class="p-0 h6 mb-0 font-weight-bold text-gray-800">
                        {{integration}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>