{% load static %}
<div id="memory" class="h-100">
    <div class="card border-left-success shadow h-100">
        <!-- Card Header - Dropdown -->
        <div class="card-header">
            <div class="h6 m-0 font-weight-bold text-success text-uppercase">Memory</div>
        </div>
        <!-- Card Body -->
        <div class="card-body pb-0">
            <div class="chart-area" style="height:100%">
                <canvas id="myMem"></canvas>
            </div>
            <!-- <div class="ml-5">
                <span>Memory 사용량: <span id='mem'>0</span>%</span>
            </div> -->
        </div>
    </div>
</div>
<script src="{% static 'dashboard/js/mem_perform.js' %}"></script>