{% load static %}
<div id="threatSenario" class="h-100">
    <div class="card shadow h-100">
        <!-- Card Header - Dropdown -->
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-teiren text-uppercase">Calculated Severity</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body p-2">
            <div class="chart-area" style="height:100%;">
                <canvas id='senarioThreat'></canvas>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/dashboard/js/threatSenario.js' %}"></script>
<script>
    {"senario_threat": {{ senario.average|safe }}}
</script>