<div class="card-header py-3" id="log_table">
    <h6 class="m-0 font-weight-bold text-teiren">Log List
        {% if current_log %}
            ( {{current_log.0}}~{{current_log.1}} out of {{total_log}} )
        {% else %}
            ( 0 out of 0 )
        {% endif %}
    </h6>
</div>

<div class="card-body" style="font-size:15px;">
    <div class="table-responsive" style="overflow:hidden;">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
            <thead>
            <tr>
                <th>LogType</th>
                <th>EventTime</th>
                <th>EventType</th>
                <th>Source</th>
                <th>Destination</th>
                <th>EventResult</th>
                <th>Src IP</th>
                <th>Dst IP</th>
                <th>Details</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>LogType</th>
                <th>EventTime</th>
                <th>EventType</th>
                <th>Source</th>
                <th>Destination</th>
                <th>EventResult</th>
                <th>Src IP</th>
                <th>Dst IP</th>
                <th>Details</th>
            </tr>
            </tfoot>
            <tbody>
            {% if page_obj.log_list %}
                {%for log in page_obj.log_list%}
                <tr>
                    {% for key, value in log.items %}
                        {% if key != 'id' and key != 'logType' %}
                            {% if value is None %}
                                <td>-</td>
                            {% else %}
                                <td>{{value}}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td>
                        <button class="btn btn-md btn-teiren" data-toggle="modal" data-target="#detail-modal"
                            data-id={{log.id}} data-logtype={{log.logType}}>
                            Details
                        </button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="9" style="font-size:30px">No Data</td>
            </tr>
            {% endif %}
            
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
            </ul>
        </nav>

        <!-- 페이지리스트 -->
        <div class="d-flex justify-content-center">
            <ul style="display:flex; list-style: none;">
                {% if page_obj.has_previous %}
                <li class="page-item" aria-current="page">
                    <button class="page-link" onclick="searchFilter(1)">Start</button>
                </li>
                <li class="page-item" aria-current="page">
                    <button class="page-link" onclick="searchFilter({{page_obj.previous_page_number}})">Prev</button>
                </li>
                {% endif %}

                {% for page_number in page_obj.paginator.page_range %}
                {% if page_number == page_obj.now_page %}
                <li class="page-item active" aria-current="page">
                    <button class="page-link" onclick="searchFilter({{ page_number }})">{{ page_number }}</button>
                </li>
                {% else %}
                <li class="page-item">
                    <button class="page-link" onclick="searchFilter({{ page_number }})">{{ page_number }}</button>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item" aria-current="page">
                    <button class="page-link" onclick="searchFilter({{page_obj.next_page_number}})">Next</button>
                </li>
                <li class="page-item" aria-current="page">
                    <button class="page-link" onclick="searchFilter({{page_obj.paginator.num_pages}})">End</button>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>