{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Begin Page Content -->
<div class="locationbar ml-2">
    <span>Resource Management &nbsp;&nbsp;>&nbsp;&nbsp;Integreation &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">Configuration<span>
</div>
<div>
    <!-- Page Heading -->
    <h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">Integration Configuration</h6>
    <p class="h6 mb-4 ml-2">Configure Integrated Resources</p>
    <div class="card shadow mb-4 ">
        <div class="card-header py-3 ">
            <h6 class="m-0 font-weight-bold text-teiren ">Registered Resources</h6>
        </div>
        <div class="card-body" style="font-size:12px">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="table-layout:fixed;text-align:center;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Resource Type</th>
                            <th>Main Key</th>
                            <th>Delete Key</th>
                            <th>Collection On/Off</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Resource Type</th>
                            <th>Main Key</th>
                            <th>Delete Key</th>
                            <th>Collection On/Off</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if list %}
                            {% for num, integrations in list.items %}
                            <tr>
                                <td>{{ num }}</td>
                                {% for type, keys in  integrations.items %}
                                    <td>{{ type }}</td>
                                    <td>{{ keys.ACCESS_KEY }}</td>
                                    <td>
                                        <button id='delete' class="btn btn-primary btn-icon-split btn-sm" style="background-color:#FF4747;border-color:#FF4747" 
                                            data-toggle="modal" data-target="#delete_modal" data-cloud='{{ type }}' data-main='{{ keys.ACCESS_KEY }}' data-sub='{{ keys.SECRET_KEY }}'>
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </button>
                                    </td>
                                    <td>
                                        <input type="hidden" class="on_off" value="{{keys.on_off}}" />
                                        {% if keys.on_off == 0 %}
                                        <button class="btn btn-md btn-outline-teiren" onclick="container_trigger(this, '{{type}}','{{ keys.ACCESS_KEY }}','{{ keys.SECRET_KEY }}','{{ keys.REGION_NAME }}')">
                                        {% else %}
                                        <button class="btn btn-md btn-teiren" onclick="container_trigger(this, '{{type}}', '{{ keys.ACCESS_KEY }}', '{{ keys.SECRET_KEY }}', '{{ keys.REGION_NAME }}')">
                                        {% endif %}
                                            <i class="fa-solid fa-power-off"></i>
                                        </button>
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5" style="font-size:20px">No Data</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal hide fade card-body" id="delete_modal" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-primary" id='modal_title'>Delete Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <div>
                    <p>Resource Type: <input type="text" class="form-control" id='cloud_name' name="cloudname" value='' readonly></p>
                    <p><span id='key1'>ACCESS KEY: </span><input type="text" class="form-control" id='main_key' name="mainkey" value='' readonly></p>
                    <p><span id='key2'>SECRET KEY: </span><input type="text" class="form-control" id='sub_key' name="subkey" value='' readonly></p>
                    <span id='result' class='text-danger'>Will You Delete Registered Information?</span>
                </div>
            </div>
            <div class="modal-footer" id="modal_footer">
                <div id='delete_check'>
                    <input type='button' id='delete_quit' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                    <input type='button' id='delete_accept' class="btn btn-md btn-outline-primary" value="Delete">
                </div>
                <input type='hidden' id='delete_complete' class="btn btn-md btn-outline-primary" value="Confirm">
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static '/M_equipment/js/configuration.js' %}"></script>
{% endblock %}