{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- Page Essential -->
<link rel="stylesheet" href="{% static '/M_equipment/css/registration.css' %}">
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="locationbar ml-2">
    <span>Resource Management &nbsp;&nbsp;>&nbsp;&nbsp;Integreation &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">Registration<span>
</div>
<div>
    <!-- Page Heading -->
    <h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">Integration Registration</h6>
    <p class="h6 mb-4 ml-2">Register Resource To Be Integrated.</p>
    
    <form id="search" onsubmit="filterSearch()">
        <div class="searchcard shadow mb-4">
            <div class="searchcard-body py-3">
                <select class="btn-select" name="search_key">
                    <option>All</option>
                    <option>Cloud Service Platform</option>
                    <option>Security Solution</option>
                    <option>System</option>
                </select>
                <input class="search-input" name="search_value" placeholder="Search"/>
                <button class="btn-search" type="button" onClick="filterSearch()">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </div>
        </div>
    </form>
    
    <div class="card shadow mb-4 ">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-teiren">Resource List</h6>
        </div>
        <div class="card-body">
            <div class="registration mt-3">
                <div class="regi-header">
                    <h6 class="h4 text-uppercase font-weight-bold">Cloud Service Platform</h6>
                </div>
                <div class="regi-body">
                    <!--<span class="h6 text-uppercase font-weight-bold mb-4">Amazon Web Services</span>
                    <div class="w-100"></div>-->
                    <a class="regi-item shadow" href="/integration/aws/cloudtrail/">
                        <span hidden>Amazon Web Services</span>
                        <img src="{% static '/img/aws_icon.png' %}" style="padding: 15px;">
                        <span class="span text-amazon font-weight-bold text-uppercase">Cloudtrail</span>
                    </a>
                    <a class="regi-item shadow" href="/integration/aws/elb/">
                        <span hidden>Amazon Web Services</span>
                        <img src="{% static '/img/aws_icon.png' %}" style="padding: 15px;">
                        <span class="span text-amazon font-weight-bold text-uppercase">Cloudwatch ELB</span>
                    </a>
                    <a class="regi-item shadow" href="/integration/aws/dns/">
                        <span hidden>Amazon Web Services</span>
                        <img src="{% static '/img/aws_icon.png' %}" style="padding: 15px;">
                        <span class="span text-amazon font-weight-bold text-uppercase">Cloudwatch DNS</span>
                    </a>
                    <a class="regi-item shadow disabled">
                        <span hidden>Amazon Web Services</span>
                        <img src="{% static '/img/aws_icon.png' %}" style="padding: 15px;">
                        <span class="span text-amazon font-weight-bold text-uppercase">Cloudwatch VPC FLOW LOG</span>
                    </a>
                    <a class="regi-item shadow disabled">
                        <span hidden>Amazon Web Services</span>
                        <img src="{% static '/img/aws_icon.png' %}" style="padding: 15px;">
                        <span class="span text-amazon font-weight-bold text-uppercase">Cloudwatch SSM</span>
                    </a>
                    <!-- <div class="w-100"></div> -->
                    <a class="regi-item shadow disabled">
                        <span hidden>Microsoft</span>
                        <img src="{% static '/img/azure_icon.png' %}">
                        <span class="span text-primary font-weight-bold text-uppercase">Azure</span>
                    </a>
                    <a class="regi-item shadow disabled">
                        <span hidden>Google Cloud Platform</span>
                        <img src="{% static '/img/gcp_icon.png' %}">
                        <span class="span text-primary font-weight-bold text-uppercase">GCP</span>
                    </a>
                    <a class="regi-item shadow disabled">
                        <span hidden>Naver Cloud Platform</span>
                        <img src="{% static '/img/ncp_icon.png' %}">
                        <span class ="span text-naver font-weight-bold text-uppercase">NCP</span>
                    </a>
                    <a class="regi-item shadow disabled">
                        <span hidden>NHN</span>
                        <img src="{% static '/img/nhn_icon.png' %}" style="padding: 22px 0;">
                        <span class="span text-primary font-weight-bold text-uppercase">NHN Cloud</span>
                    </a>
                    <a class="regi-item shadow disabled">
                        <span hidden>KT</span>
                        <img src="{% static '/img/kt_icon.png' %}" style="padding: 22px 0;">
                        <span class="span text-danger font-weight-bold text-uppercase">KT Cloud</span>
                    </a>
                </div>
            </div>
            <div class="registration">
                <div class="regi-header">
                    <h6 class="h4 text-uppercase font-weight-bold">Security Solution</h6>
                </div>
                <div class="regi-body">
                    <a class="regi-item shadow disabled">
                        <span hidden>JIRANSECURITY</span>
                        <img src="{% static '/img/officekeeper_icon.png' %}">
                        <span class="span text-primary font-weight-bold text-uppercase">Office Keeper</span>
                    </a>
                </div>
            </div>
            <div class="registration">
                <div class="regi-header">
                    <h6 class="h4 text-uppercase font-weight-bold">System</h6>
                </div>
                <div class="regi-body">
                    <a class="regi-item shadow disabled">
                        <span hidden>Windows</span>
                        <img src="{% static '/img/windows_icon.png' %}">
                        <span class="span text-primary font-weight-bold text-uppercase">Security Event Log</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static '/M_equipment/js/registration.js' %}"></script>
{% endblock %}