<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-teiren">로그 목록 ( {{total_log}} 개중 {{current_log.0}}~{{current_log.1}})
    </h6>
</div>

<div class="card-body" id="log_table">
    <div class="table-responsive" style="overflow:hidden;">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
               style="table-layout:fixed;text-align:center;">
            <thead>
            <tr>
                <th>eventTime</th>
                <th>eventName</th>
                <th>eventSource</th>
                <th>userARN</th>
                <th>userType</th>
                <th>userName</th>
                <th>Region</th>
                <th>role</th>
                <th>sourceIP</th>
                <th>More Details</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>eventTime</th>
                <th>eventName</th>
                <th>eventSource</th>
                <th>userARN</th>
                <th>userType</th>
                <th>userName</th>
                <th>Region</th>
                <th>role</th>
                <th>sourceIP</th>
                <th>More Details</th>
            </tr>
            </tfoot>
            <tbody>
            {% if error %}
            <tr>
                <td colspan="10" style="padding:45px 0;font-size:20px;">{{error}}</td>
            </tr>
            {% endif %}
            {%for log in page_obj.log_list%}
            <tr>
                {% for key, value in log.items %}
                {% if key != 'id' and key != 'cloud' %}
                <td>{{value}}</td>
                {% endif %}
                {% endfor %}
                <td>
                    <button class="btn btn-md btn-teiren" data-toggle="modal" data-target="#detail-modal"
                        data-id={{log.id}} data-cloud={{log.cloud}} style="font-size:0.7vw">
                        상세 보기
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
            </ul>
        </nav>

        <!-- 페이지리스트 -->
        <div class="d-flex justify-content-center">
            <ul style="display:flex; list-style: none;">
                {% if page_obj.has_previous %}
                <li class="page-item" aria-current="page">
                    <button class="page-link" onclick="searchFilter(1)">처음</button>
                </li>
                <li class="page-item" aria-current="page">
                    <button class="page-link" onclick="searchFilter({{page_obj.previous_page_number}})">이전</button>
                </li>
                {% endif %}

                {% for page_number in page_obj.paginator.page_range %}
                {% if page_number == page_obj.now_page %}
                <li class="page-item active" aria-current="page">
                    <button class="page-link" onclick="searchFilter({{ page_number }})">{{ page_number }}</button>
                </li>
                {% else %}
                <li class="page-item">
                    <button class="page-link" onclick="searchFilter({{ page_number }})">{{ page_number }}</button>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item" aria-current="page">
                    <button class="page-link" onclick="searchFilter({{page_obj.next_page_number}})">다음</button>
                </li>
                <li class="page-item" aria-current="page">
                    <button class="page-link" onclick="searchFilter({{page_obj.paginator.num_pages}})">끝</button>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>