<div class="col-xl">
    <div class="mb-4">
        <div class="text-center">
            <h2 class="m-0 font-weight-bold text-center text-teiren">Custom Rule Details</h2>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 text-center">
            <form>
                <input type="hidden" name="ruleClass" value="{{custom.type}}">
                <input type="hidden" name="rule_name" value="{{custom.ruleName}}">
                <input type=hidden name="rule_id" value="{{custom.id}}">
                <input type="hidden" name="log_type" value="{{custom.logType}}">
                <button type='button' class="btn btn-danger btn-sm btn-teiren" style="overflow:hidden; float: right;"
                    data-dismiss='modal' data-toggle='modal' data-target='#del' onclick='deleteRuleModal(this.parentNode)'>
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                </button>
            </form>
            <form id="edit_modal_form">
                <input type="hidden" name="ruleClass" value="{{custom.type}}">
                <input type="hidden" name="rule_name" value="{{custom.ruleName}}">
                <input type="hidden" name="log_type" value="{{custom.logType}}">
                <input type=hidden name="rule_id" value="{{custom.id}}">
                <input type=hidden name="on_off" value="{{custom.on_off}}">
                <button type='button' class="btn btn-sm btn-teiren" style="overflow:hidden; float:right; margin-right:2px"
                    data-dismiss='modal' data-toggle='modal' data-target='#edit'>
                    <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                    </span>
                </button>
            </form>
            <div style="margin-left:64px; margin-top:8px">
                <h5 class="m-0 font-weight-bold text-teiren" style="text-align:center">
                    {{custom.ruleName}}
                </h5>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table table-bordered" id="dataTable" width="auto" cellspacing="0"
                    style="table-layout:fixed;text-align:center;overflow:scroll;font-size:0.7rem">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">No</td>
                            <td>{{custom.id}}</td>
                        <tr>
                        <tr>
                            <td class="font-weight-bold">Rule Type</td>
                            <td>{{custom.type}}</td>
                        <tr>
                        <tr>
                            <td class="font-weight-bold">Rule Name</td>
                            <td>{{custom.ruleName}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Rule Comment</td>
                            <td>{{custom.ruleComment}}</td>
                        </tr>
                        {% for key, value in custom.details.items %}
                            {% if value %}
                                <tr>
                                    <td class="font-weight-bold">{{key}}</td>
                                    <td>{{value}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if custom.related %}
        <div class="">
            <div class="text-center">
                <h4 class="m-0 font-weight-bold text-center text-teiren">Related Flow Detection</h4>
            </div>
        </div>
        {% for related in custom.related %}
        <div class="card-body">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table table-bordered" id="dataTable" width="auto" cellspacing="0"
                    style="table-layout:fixed;text-align:center;overflow:scroll;font-size:0.9em">
                    <tbody>
                        <tr>
                            <th class='bg-gray-300'>Flow Name</th>
                            <th class='bg-gray-300'>{{related.flowName}}</th>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Flow Comment</td>
                            <td>{{related.flowComment}}</td>
                        </tr>
                        {% for key, value in related.detail.items %}
                            {% if value %}
                                {% if key == 'Count' %}
                                <tr>
                                    <td class="font-weight-bold">Detection Count</td>
                                    <td>{{value}}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td class="font-weight-bold">{{key}}</td>
                                    <td>{{value}}</td>
                                </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>