{% load static %}
{% block head %}
<head>
    <!-- Neo4j Cytoscape -->
    <script src="{% static '/graphdb/code.js' %}"></script>
    <link href="{% static '/graphdb/style.css' %}" rel="stylesheet" />
    <script type="text/javascript">
        var detect_json = JSON.parse('{{ graph|safe }}')
    </script>
</head>
{% endblock %}
{% block content %}
<div class="card shadow h-100">
    <div class="card card-body">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="table-layout:fixed;text-align:center;">
                <thead>
                    <div class="row">
                        <div id="cy" sytle="word-break:normal;"></div>
                        <span class="fa fa-bars config-toggle" id="config-toggle"></span>
                        <br>
                        <div id="config" class="config">
                            <div class="preamble">
                                <span class="label label-info font-weight-bold">{{rule_name}}</span>
                            </div>
                            <form id="threat_form" method="post" action="/threat/notifications/details/" target="_blank">
                            </form>
                        </div>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}