.registration{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    transition: all 0.3s;
}

.registration .regi-header{
    width: 80%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #57626F;
}

.registration .regi-body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.registration .regi-body .regi-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 190px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 25px;
    padding: 30px 0;
    color: #57626F;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.registration .regi-body .regi-item.disabled,
.registration .regi-body .regi-item.disabled *{
    pointer-events: none;
    color: #57626F !important;
    background-color: #ddd;
}

.registration .regi-body .regi-item img{
    max-width: 250px;
    height: 120px;
}

.registration .regi-body .regi-item.disabled img{
    filter: grayscale(80%); opacity: 0.5;
}

.registration .regi-body .regi-item .span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    text-align: center;
}
/* Searchbar */
.searchcard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fbfefe;
    background-clip: border-box;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.searchcard-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.25rem;
}

.searchcard .searchcard-body .btn-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
    overflow: hidden;
    color: #57626F;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 12px;
}

.searchcard .searchcard-body .btn-select:focus {
    outline: none;
    border: 1px solid #24b6d4;
}

.searchcard .searchcard-body .search-input {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 8px 15px;
    color: #57626F;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 12px;
}

.searchcard .searchcard-body .search-input:focus {
    outline: none;
    border: 1px solid #24b6d4;
}

.searchcard .searchcard-body .btn-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #24b6d4;
    border: 2px solid #24b6d4;
    border-radius: 5px;
    padding: 5px 25px;
    transition: all 0.3s;
}

.searchcard .searchcard-body .btn-search:hover {
    color: #24b6d4;
    background-color: #f2fefe;
}

/* End searchbar */