{% load static %}
{% block head %}
<!-- Page Essential -->
<link rel="stylesheet" href="{% static '/css/tab_table.css' %}">
{% endblock %}
<h4 class='mb-4 font-weight-bold text-teiren' style='text-align:center;'>{{account}} Details</h4>
<div class='tabs'>
    <input type='radio' id='modal-tab1' name='tab-control-modal' checked>
    <input type='radio' id='modal-tab2' name='tab-control-modal'>
    <ul class="ul">
        <li title='Graph Details'>
            <label for='modal-tab1' role='button'>
                <span>Graph Details</span>
            </label>
        </li>
        <li title='{{account}}'>
            <label for='modal-tab2' role='button'>
                <span>{{account}}</span>
            </label>
        </li>
    </ul>
    <div class='slider'>
        <div class='indicator'></div>
    </div>
    <div class='content'>
        <section style="height:800px;">
            {% include './graph.html'%}
        </section>
        <section>
            {% include './table.html' %}
        </section>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $("#dataTable_modal").DataTable({
            destroy: false,
            // 표시 건수기능 숨기기
            lengthChange: true,
            // 검색 기능 숨기기
            searching: false,
            // 정렬 기능 숨기기
            ordering: false,
            // 정보 표시 숨기기
            info: true,
            // 페이징 기능 숨기기
            paging: true
        });
    });
</script>