{% load static %}
{% block head %}
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<!-- selete2 CSS-->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

{% endblock %}

    
{% block content %}
<div class="container mt-5">
    <h2>AWS Credentials Form!</h2>
    <form id="awsCredentialsForm">
        <div class="form-group">
            <label for="accessKey">Access Key</label>
            <input type="text" class="form-control" id="accessKey" placeholder="Enter Access Key">
        </div>
        <div class="form-group">
            <label for="secretKey">Secret Key</label>
            <input type="text" class="form-control" id="secretKey" placeholder="Enter Secret Key">
        </div>
        <button type="button" class="btn btn-primary" onclick="submitAWSCredentials()">Submit</button>
    </form>
    <br>
    <form id="awsCredentialsResult"></form>
</div>
{% endblock %}

{% block script %}
<form id="csrf-form">
    {% csrf_token %}
</form>
<script>
function submitAWSCredentials() {
    var accessKey = $("#accessKey").val();
    var secretKey = $("#secretKey").val();

    $.ajax({
        url: "{% url 'cloudformation' %}",
        type: "POST",
        data: {
            csrfmiddlewaretoken: $('#csrf-form input[name=csrfmiddlewaretoken]').val(),
            accessKey: accessKey,
            secretKey: secretKey
        },
        success: function(data) {
            if (data.isAwsUser) {
                var userInput = $('<input/>', {
                    type: 'text',
                    class: 'form-control mt-3',
                    id: 'userName',
                    placeholder: 'Enter IAM User Name'
                });
                var createIamButton = $('<button/>', {
                    text: 'Create IAM User',
                    class: 'btn btn-success mt-3',
                    click: function () { createIamUserPolicy(accessKey, secretKey, $('#userName').val()); }
                });

                $('#awsCredentialsForm').append(userInput, createIamButton);
            } else {
                alert('Invalid AWS credentials.');
            }
        },
        error: function(xhr, status, error) {
            console.error(error);
            alert('Error submitting credentials.');
        }
    });
}

function createIamUserPolicy(accessKey, secretKey, userName) {
    event.preventDefault();
    console.log('Creating IAM user with:', accessKey, secretKey, 'and userName:', userName);
    $.ajax({
        url: "{% url 'createIamPolicy' %}",
        type: "POST",
        data: {
            csrfmiddlewaretoken: $('#csrf-form input[name=csrfmiddlewaretoken]').val(),
            accessKey: accessKey,
            secretKey: secretKey,
            userName: userName
        },
        success: function(response) {
            console.log(response);
            // 성공 메시지 및 생성된 자격증명 표시
            var resultDiv = $('<div/>', {
                class: 'alert alert-success mt-3',
                text: 'IAM User Created Successfully! '
            });

            var credentialsInfo = $('<div/>').html(
                '<h3>[New Iam Acocunt]</h3><br>' +
                `<strong>UserName:</strong> ${response.userName}<br>` +
                `<strong>AccessKey:</strong> ${response.accessKey}<br>` +
                `<strong>SecretKey:</strong> ${response.secretKey}`
            );

            $('#awsCredentialsResult').append(credentialsInfo);
        },
        error: function(xhr, status, error) {
            console.error(error);
            alert('Error creating IAM User.');
        }
    });
}
</script>
{% endblock %}
