{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Include lodash -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

<!-- Include gridstack -->
<link rel="stylesheet" href="{% static '/js/gridstack/gridstack.css' %}">
<script src="{% static '/js/gridstack/gridstack-all.js' %}"></script>

<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />

<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="grid-stack">
    <div class="grid-stack-item fit-to-content" gs-w="2">
        <div class="grid-stack-item-content">
            <div class="pb-2 pr-1">
                <div class="card shadow border-left-teiren">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h7 font-weight-bold text-teiren text-uppercase mb-1">
                                    총 로그 개수</div>
                                <div class="p-0 h6 mb-0 font-weight-bold text-gray-800">{{total}}개
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="2">
        <div class="grid-stack-item-content">
            <div class="pb-2 px-1">
                <div class="card border-left-primary shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h7 font-weight-bold text-primary text-uppercase mb-1">
                                    연동 현황</div>
                                <div class="p-0 h6 mb-0 font-weight-bold text-gray-800">
                                    {{integration}}개
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="2">
        <div class="grid-stack-item-content">
            <div class="pb-2 px-1">
                <div class="card border-left-warning shadow ">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h7 font-weight-bold text-warning text-uppercase mb-1">
                                    위협 로그 개수</div>
                                <div class="p-0 h6 mb-0 font-weight-bold text-gray-800">
                                    {{threat}}개
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="2">
        <div class="grid-stack-item-content">
            <div class="pb-2 px-1">
                <div class="card border-left-danger shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col p-0 mr-2">
                                <div class="h7 font-weight-bold text-danger text-uppercase mb-1"><i class='text-xs fas fa-fw fa-exclamation-triangle'></i> 위협 비율</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto p-0">
                                        <div class="p-0 h6 mb-0 mr-3 font-weight-bold text-gray-800">
                                            {{threat_ratio}}%
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width:{{ threat_ratio }}%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="4" gs-x="8" gs-h="28">
        <div class="grid-stack-item-content">
            <div class="mb-1 pl-1 h-100">
                <div class="card shadow h-100 w-100">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <div class="h6 m-0 font-weight-bold text-primary">최근 수집 로그 Overview</div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body pl-0 pb-0">
                        <div class="chart-area" style="height:100%;">
                            <canvas id="recentOverview"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="3" gs-h="23">
        <div class="grid-stack-item-content">
            <div class="mb-1 pr-1 h-100">
                <div class="card shadow h-100">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-teiren">위협 발생 장비 추이</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body py-2 pl-1 pr-3">
                        <div class="chart-area" style="height:100%;">
                            <canvas id='equipThreat'></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="3" gs-h="23">
        <div class="grid-stack-item-content">
            <div class="mb-1 px-1 h-100">
                <div class="card shadow h-100">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-teiren">해외 IP 접근 추이</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body py-2 pl-1 pr-3">
                        <div class="chart-area" style="height:100%;">
                            <canvas id='ipCountry'></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="2" gs-h="23">
        <div class="grid-stack-item-content">
            <div class="mb-1 px-1 h-100">
                <div class="card shadow d-flex h-100">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-teiren">중요도 별 위협 개수</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body p-2 d-flex" style="height:auto">
                        <div class="table-responsive d-flex" style="overflow:hidden;">
                            <table class="table m-0" id="dataTable" style="text-align:center;font-size:0.6rem">
                                <!-- <thead>
                                    <tr>
                                        <th style="border-top: 0">등급</th>
                                        <th style="border-top: 0">건수</th>
                                    </tr>
                                </thead> -->
                                <tbody>
                                    <tr>
                                        <th class="text-danger" style="border-top: 0"><i class='text-xs fas fa-fw fa-exclamation-triangle'></i>DANGER</th>
                                        <td style="border-top: 0">{{senario.count.3}}건</td>
                                    </tr>
                                    <tr>
                                        <th style="color:#fd7e14"><i class='text-xs fas fa-fw fa-exclamation-triangle'></i>HIGH</th>
                                        <td>{{senario.count.2}}건</td>
                                    </tr>
                                    <tr>
                                        <th class="text-warning"><i class='text-xs fas fa-fw fa-exclamation-triangle'></i>MID</th>
                                        <td>{{senario.count.1}}건</td>
                                    </tr>
                                    <tr>
                                        <th class="text-success"><i class="text-xs fas fa-fw fa-solid fa-circle-check"></i>LOW</th>
                                        <td>{{senario.count.0}}건</td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="4" gs-x="8" gs-y="28" gs-h="27">
        <div class="grid-stack-item-content">
            <div class="mb-1 pl-1 h-100">
                <div class="card shadow h-100 w-100">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <div class="h6 m-0 font-weight-bold text-danger">위협 로그 Overview</div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body pl-0 pb-0">
                        <div class="chart-area" style="height:100%">
                            <canvas id="threatOverview"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="3" gs-h="23">
        <div class="grid-stack-item-content">
            <div class="mb-1 pr-1 h-100">
                <div class="card shadow h-100">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-teiren">정책 별 탐지 위협 개수</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body py-2 pl-1 pr-3">
                        <div class="chart-area" style="height:100%;">
                            <canvas id='ruleDetectedCount'></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="3" gs-h="23">
        <div class="grid-stack-item-content">
            <div class="mb-1 px-1 h-100">
                <div class="card shadow h-100">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-teiren">사용자 별 위협 비율</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body py-2 pl-1 pr-3">
                        <div class="chart-area" style="height:100%;">
                            <canvas id='userThreat'></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="2" gs-h="23">
        <div class="grid-stack-item-content">
            <div class="mb-1 px-1 h-100">
                <div class="card shadow h-100">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-teiren">시나리오 분석 위협도</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body p-2">
                        <div class="chart-area" style="height:100%;">
                            <canvas id='senarioThreat'></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="4" gs-h="55">
        <div class="grid-stack-item-content">
            <div class="pr-0 h-100">
                <div style="height:100%" id="gdb_dashboard">
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="8" gs-x="4" gs-y="55">
        <div class="grid-stack-item-content">
            <div class="mb-2">
                <div class="card shadow" style="height:320px">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header d-flex flex-row align-items-center justify-content-between">
                        <div class="h6 m-0 font-weight-bold text-danger">최근 탐지 위협</div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body p-3" style="overflow-y:scroll;">
                        <div class="table-responsive">
                            <table class="table m-0" id="dataTable"
                                style="text-align:center;overflow:scroll;font-size:0.6rem;">
                                <thead>
                                    <tr>
                                        <th>위협 No</th>
                                        <th>장비명</th>
                                        <th>탐지위협</th>
                                        <th>행위</th>
                                        <th>발생시간</th>
                                        <th>더보기</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if recent_threat %}
                                    {% for threat in recent_threat %}
                                    <tr>
                                        {% for key, value in threat.items %}
                                        {% if key != 'form' %}
                                        <td>
                                            {{ value }}
                                        </td>
                                        {% endif %}
                                        {% endfor %}
                                        <td>
                                            <form class="gdb_threat" method="post" onclick="threat(this)">
                                                {% csrf_token %}
                                                {% for key, value in threat.form.items %}
                                                <input type="hidden" name="{{key}}" value="{{value}}">
                                                {% endfor %}
                                                <input type=button class="btn btn-md btn-danger" style="font-size:0.5vw" value='더보기'>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="2" gs-y="88" gs-x="4">
        <div class="grid-stack-item-content">
            <div class="px-0">
                <div class="card border-left-primary shadow">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <div class="h6 m-0 font-weight-bold text-primary">CPU 사용량</div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body pb-0">
                        <div class="chart-area" style="height:100%">
                            <canvas id="myCPU"></canvas>
                        </div>
                        <!-- <div class="ml-5">
                            <span>CPU 사용량: <span id='CPU'>0</span>%</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="2" gs-y="88" gs-x="6">
        <div class="grid-stack-item-content">
            <div class="pr-0">
                <div class="card border-left-success shadow">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <div class="h6 m-0 font-weight-bold text-success">Memory 사용량</div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body pb-0">
                        <div class="chart-area" style="height:100%">
                            <canvas id="myMem"></canvas>
                        </div>
                        <!-- <div class="ml-5">
                            <span>Memory 사용량: <span id='mem'>0</span>%</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="2" gs-y="88" gs-x="8">
        <div class="grid-stack-item-content">
            <div class="">
                <div class="card border-left-info shadow">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <div class="h6 m-0 font-weight-bold text-info">DISK 사용량</div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body pb-0">
                        <div class="chart-area" style="height:100%">
                            <canvas id="myDISK"></canvas>
                        </div>
                        <!-- <div class="ml-5">
                            <span>DISK 사용량: <span id='DISK'>0</span>%</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item fit-to-content" gs-w="2" gs-y="88" gs-x="10">
        <div class="grid-stack-item-content">
            <div class="px-0">
                <div class="card border-left-warning shadow">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <div class="h6 m-0 font-weight-bold text-warning">Network 사용량</div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body pb-0">
                        <div class="chart-area" style="height:100%">
                            <canvas id="myNet"></canvas>
                        </div>
                        <!-- <div class="ml-5">
                            <span>Network Recived: <span id='NET_In'>0</span>KB</span></br>
                            <span>Network Transmitted: <span id='NET_Out'>0</span>KB</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/dashboard/perform.js' %}"></script>
<script>
    var grid = GridStack.init({
        float: false,
        resizable: {handles: 'all'},
        fitToContent: true,
        cellHeight: 10,
        margin:1,
        staticGrid: true,
    });
    $.ajax({
        url: '/dashboard/grid/load/',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
        data:{
            name: 'default'
        },
        type:'post'
    }).done(function(data){
        var data = JSON.parse(data)
        grid.removeAll()
        grid.load(data)
        for(i in data){
            var scriptSrc = $(data[i].content).filter('script').attr('src')
            if (scriptSrc){
                $.getScript(scriptSrc)
            }
            var scripts = $(data[i].content).filter('script:not([src])');
            $.each(scripts,function(idx, script){
                var jsvar = JSON.parse(script.text)
                for (var key in jsvar){
                    window[key] = jsvar[key]
                }
            })
        }
    }).fail(function(data){
        grid.removeAll()
    })
</script>
{% endblock %}