{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}
{% block content %}
<style>

</style>
<div class="mt-4"></div>
{{test}}
<button id='test' onclick="test()">testsetset</button>
<div id="scripts"></div>
{% endblock %}
{% block script %}
<script>
    $.ajax({
        url: '/test/test2/',
        headers:{
            'X-CSRFToken': '{{csrf_token}}'
        },
        type: 'post'
    }).done(function(data){
        var scriptSrc = $(data).filter('script').attr('src')
        $('#scripts').append($('<script>').attr({'src':scriptSrc, 'id':'test'}))
    })
</script>
{% endblock %}