{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">기본 설정</h1>
    <p class="mb-4">SIEM에 대한 기본 설정을 변경할 수 있습니다.</p>

    <p>
        <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-teiren">기본 옵션 변경</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="table-layout:fixed;text-align:center;">
                    <!-- <form method="post" action="settings_radio_action.php"> -->
                    <div>
                        <h6 class="m-0 font-weight-bold text-teiren">언어 변경</h6>
                    </div>
                    <p>
                    <div class="form-group">
                    <div>
                        <input type='radio' name='lang' checked>
                        <label>한국어</label>
                    </div>
                    <div>
                        <input type='radio' name='lang' >
                        <label>English</label>
                    </div>
                    <!-- <hr>
                    <div>
                        <h6 class="m-0 font-weight-bold text-teiren">테마 설정</h6>
                        <p>
                        <div>
                            <input type='radio' name='theme' checked >
                            <label>화이트</label>
                        </div>
                        <div>
                            <input type='radio' name='theme'>
                            <label>블랙</label>
                        </div>
                    </div> -->
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}