<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
    style="text-align:center;overflow:scroll;font-size:15px !important;">
    <thead>
        <tr>
            <th>
                <div class="d-flex row justify-content-center">
                    Status
                    <div class="order-div">
                        <button class="order-btn" type="button" onClick="searchFilter(1,['alert','ASC'])">
                            <i class="fa-solid fa-sort-up"></i>
                        </button>
                        <button class="order-btn" type="button" onClick="searchFilter(1,['alert','DESC'])">
                            <i class="fa-solid fa-sort-down"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex row justify-content-center">
                    Resource
                    <div class="order-div">
                        <button class="order-btn" type="button" onClick="searchFilter(1,['resource','ASC'])">
                            <i class="fa-solid fa-sort-up"></i>
                        </button>
                        <button class="order-btn" type="button" onClick="searchFilter(1,['resource','DESC'])">
                            <i class="fa-solid fa-sort-down"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex row justify-content-center">
                    Event Time
                    <div class="order-div">
                        <button class="order-btn" type="button" onClick="searchFilter(1,['eventTime','ASC'])">
                            <i class="fa-solid fa-sort-up"></i>
                        </button>
                        <button class="order-btn" type="button" onClick="searchFilter(1,['eventTime','DESC'])">
                            <i class="fa-solid fa-sort-down"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex row justify-content-center">
                    Rule Comment
                    <div class="order-div">
                        <button class="order-btn" type="button" onClick="searchFilter(1,['ruleComment','ASC'])">
                            <i class="fa-solid fa-sort-up"></i>
                        </button>
                        <button class="order-btn" type="button" onClick="searchFilter(1,['ruleComment','DESC'])">
                            <i class="fa-solid fa-sort-down"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex row justify-content-center">
                    Detected Event
                    <div class="order-div">
                        <button class="order-btn" type="button" onClick="searchFilter(1,['eventName','ASC'])">
                            <i class="fa-solid fa-sort-up"></i>
                        </button>
                        <button class="order-btn" type="button" onClick="searchFilter(1,['eventName','DESC'])">
                            <i class="fa-solid fa-sort-down"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex row justify-content-center">
                    Severity
                    <div class="order-div">
                        <button class="order-btn" type="button" onClick="searchFilter(1,['severity','ASC'])">
                            <i class="fa-solid fa-sort-up"></i>
                        </button>
                        <button class="order-btn" type="button" onClick="searchFilter(1,['severity','DESC'])">
                            <i class="fa-solid fa-sort-down"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex row justify-content-center">
                    Source Ip
                    <div class="order-div">
                        <button class="order-btn" type="button" onClick="searchFilter(1,['ip','ASC'])">
                            <i class="fa-solid fa-sort-up"></i>
                        </button>
                        <button class="order-btn" type="button" onClick="searchFilter(1,['ip','DESC'])">
                            <i class="fa-solid fa-sort-down"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex row justify-content-center">
                    Detection No
                    <div class="order-div">
                        <button class="order-btn" type="button" onClick="searchFilter(1,['id','ASC'])">
                            <i class="fa-solid fa-sort-up"></i>
                        </button>
                        <button class="order-btn" type="button" onClick="searchFilter(1,['id','DESC'])">
                            <i class="fa-solid fa-sort-down"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th>Details</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Status</th>
            <th>Resource</th>
            <th>Event Time</th>
            <th>Rule Comment</th>
            <th>Detected Event</th>
            <th>Severity</th>
            <th>Source Ip</th>
            <th>Detection No</th>
            <th>Details</th>
        </tr>
    </tfoot>
    <tbody>
        {% if data %}
            {% for result in data %}
                {% if result.alert == 0 %}
                <tr class="text-danger">
                    <td style="font-weight:900" width="8%"><i class="fa-solid fa-eye-slash fa-bounce"></i></td>
                {% else %}
                <tr>
                    <td class="text-teiren" style="font-weight:900" width="8%"><i class="fa-solid fa-circle-check"></i></td>
                {% endif %}
                    <td width="8%"> {{result.resource}}</td>
                    <td width="10%">{{result.eventTime_format}}</td>
                    <td align="left" width="30%">{{result.ruleComment}}</td>
                    <td width="10%">{{result.eventName}}</td>
                    <td width="10%">
                        <div class="color-box color-box-{{result.severity.1}}">{{result.severity.0}}</div>
                    </td>
                    <td width="10%">{{result.sourceIp}}</td>
                    <td width="15%">{{result.rule_name}}</td>
                    <td width="10%">
                        <form method="POST" action="/threat/notifications/details/">
                            {% csrf_token %}
                            {% for key, value in result.form.items %}
                                <input type="hidden" name="{{key}}" value="{{value}}">
                            {% endfor %}
                            {% if 'alert' in result %}
                                <button class="btn btn-md btn-danger ">Details</button>
                            {% else %}
                                <button class="btn btn-md btn-teiren ">Details</button>
                            {% endif %}
                        </form>
                    </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="9" style="font-size:35px">No Data</td>
            </tr>
        {% endif %}
    </tbody>
</table>
<!-- 페이지리스트 -->
<div class="d-flex justify-content-center">
    <ul style="display:flex; list-style: none;">
        {% if page_obj.has_previous %}
        <li class="page-item" aria-current="page">
            <button class="page-link" onclick="searchFilter(1)">Start</button>
        </li>
        <li class="page-item" aria-current="page">
            <button class="page-link" onclick="searchFilter({{page_obj.previous_page_number}})">Prev</button>
        </li>
        {% else %}
        <li class="page-item disabled" aria-current="page">
            <button class="page-link" onclick="searchFilter(1)" >Start</button>
        </li>
        <li class="page-item disabled" aria-current="page">
            <button class="page-link" onclick="searchFilter({{page_obj.previous_page_number}})">Prev</button>
        </li>
        {% endif %}

        {% for page_number in page_obj.paginator.page_range %}
        {% if page_number == page_obj.cur_page %}
        <li class="page-item active" aria-current="page">
            <button class="page-link" onclick="searchFilter({{ page_number }})">{{ page_number }}</button>
        </li>
        {% else %}
        <li class="page-item">
            <button class="page-link" onclick="searchFilter({{ page_number }})">{{ page_number }}</button>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item" aria-current="page">
            <button class="page-link" onclick="searchFilter({{page_obj.next_page_number}})">Next</button>
        </li>
        <li class="page-item" aria-current="page">
            <button class="page-link" onclick="searchFilter({{page_obj.paginator.num_pages}})">End</button>
        </li>
        {% else %}
        <li class="page-item disabled" aria-current="page">
            <button class="page-link" onclick="searchFilter({{page_obj.next_page_number}})">Next</button>
        </li>
        <li class="page-item disabled" aria-current="page">
            <button class="page-link" onclick="searchFilter({{page_obj.paginator.num_pages}})">End</button>
        </li>
        {% endif %}
    </ul>
</div>