{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}
{% block content %}
<style>
.btn-checkbox {
    background-color: #ddd;
    color: black;
    border: none;
    padding: 10px 24px;
}

.btn-checkbox.active {
    background-color: #4CAF50; /* Green */
    color: white;
}

#myInput {
    width: -webkit-fill-available;
    padding:12px;
    border-radius:4px;
    border:1px solid #ccc;
}
#mySelect {
    width: -webkit-fill-available;
    padding:12px;
    border-radius:4px;
    border:1px solid #ccc;
}
</style>

    {{test}}

<button class="btn-checkbox" id="myCheckbox">Check me</button>

<select id="mySelect">
  <option value='1'>Test 1</option>
  <option value='2'>Test 2</option>
  <option value='3'>Another Test</option>
  <option value='4'>Yet Another Test</option>
  <option value='5'>Final Test</option>
</select>


{% endblock %}
{% block script %}
<script>
    $('#myCheckbox').on('click', function() {
        this.classList.toggle('active');
        console.log(this)
    });
    $(document).ready(function() {
        // Initialize Select2 on your select element
        $('#mySelect').select2({
            placeholder: 'Select an option'
        });
    
        // Listen for keyup events on your input field
        $('#myInput').on('keyup', function() {
            var inputValue = $(this).val().toLowerCase();
    
            // For each option in the select element,
            $("#mySelect option").each(function() {
                var title = $(this).text().toLowerCase();
    
                // If the input value is included in the option text,
                if (title.indexOf(inputValue) !== -1) {
                    // Show the option
                    $(this).show();
                } else {
                    // Otherwise hide it
                    $(this).hide();
                }
                
                if(inputValue === ''){
                     $(this).show();
                 }
            });
    
            // Open dropdown after filtering options.
            $('#mySelect').select2('open');
        });
    });
    
</script>
{% endblock %}