{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- Page Essential -->
<link rel="stylesheet" href="{% static '/css/tab.css' %}">
<link rel="stylesheet" href="{% static '/css/searchcard.css' %}">
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="locationbar ml-2">
    <span>Log Management &nbsp;&nbsp;>&nbsp;&nbsp;Cloud Logs &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">{{cloud|upper}} <span>
</div>
<div>
    <!-- Page Heading -->
    <h6 class="h3 font-weight-bold mb-2 text-gray-800 ml-2">{{cloud|upper}} Log</h6>
    <p class="h6 mb-4 ml-2">{{cloud|upper}} Integrated Logs</p>
    <!-- DataTales Example -->
    {% include "M_logs/searchcard.html" %}
</div>
<!-- Detail Modal -->
<div class="modal fade card-body" id="detail-modal" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style='width:1000px; height:auto'>
            <div class='d-flex justify-content-end p-3'>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <img src="{% static '/img/teiren-side-logo.png' %}" style="margin:0 auto; margin-bottom:0; width:300px; height: 100px;">
            <div class="modal-body justify-content-center" id='detail'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-teiren" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var cloud = '{{cloud}}'
</script>
<script src="{% static '/M_logs/js/filter_select.js' %}"></script>
<script src="{% static '/M_logs/js/log.js' %}"></script>
{% endblock %}

