{% if normal %}
<div class="col-xl">
    <div class="mb-4">
        <div class="text-center">
            <h2 class="m-0 font-weight-bold text-center text-teiren">{{normal.name}} 수정</h2>
            <input type='hidden' id='type' value="{{normal.request.log_type}}">
        </div>
    <br>
        <div class="card-body shadow" style="border-radius:20px;">
            <form id='edit_form'>
                <div class="form-group text-center">
                    <div class="text-center mt-3">
                        <div class="col-8 mb-1" style='margin: 0 auto'>
                            <label class="d-block" for="productName">Log Type</span>
                            <select class="btn btn-md btn-block" style="background-color:#FFFFFF; border-color:#E5E5E5" name="productName" id="productName">
                                <option>{{normal.request.log_type}}</option>
                                {% for type in types %}
                                <option value="{{type}}">{{type}}</option>
                                {% endfor %}
                            </select> &nbsp;
                        </div>
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col-sm-6 mb-sm-1">
                        <span>Rule 이름</span>
                        <input type="text-area" class="form-control form-control-user" name="name" value="{{normal.name}}">
                    </div>
                    <div class="col-sm-6">
                        <span>Rule 설명</span>
                        <input type="text-area" class="form-control form-control-user" name="comment" value="{{normal.comment}}" placeholder="Rule 설명">
                    </div>
                </div>
                
                <div class="form-group row text-center">
                    <div class="col-sm-4 mb-1">
                        <span>설정 행위</span>
                        <input type="text" class="form-control form-control-user" name="actionDisplayName" value="{{normal.actionDisplayName}}" placeholder="ex. Login">
                    </div>
                    <div class="col-sm-4">
                        <span>설정 행위 결과</span>
                        <input type="text" class="form-control form-control-user" name="actionResultType" value="{{normal.actionResultType}}" placeholder="ex. SUCCESS">
                    </div>
                    <div class="col-sm-4">
                        <span>설정 시간</span>
                        <input type="text" class="form-control form-control-user" name="eventTime" value="{{normal.eventTime}}" placeholder="ex. 0:00~24:00">
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col-sm-4 mb-1">
                        <span>설정 국가</span>
                        <input type="text" class="form-control form-control-user" name="clientIpCountry" value="{{normal.clientIpCountry}}" placeholder="ex. KR">
                    </div>
                    <div class="col-sm-4">
                        <span>설정 IP 대역</span>
                        <input type="text" class="form-control form-control-user" name="sourceIp" value="{{normal.sourceIp}}" placeholder="ex. 192.168.0.0/16">
                    </div>
                    <div class="col-sm-4">
                        <span>설정 사용자 ID</span>
                        <input type="text" class="form-control form-control-user" name="userName" value="{{normal.userName}}" placeholder="ex. USERNAME">
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col-sm-4 mb-1">
                        <span>설정 사용자 유형</span>
                        <input type="text" class="form-control form-control-user" name="actionUserType" value="{{normal.actionUserType}}" placeholder="ex. Sub">
                    </div>
                    <div class="col-sm-4">
                        <span>설정 사용자 에이전트</span>
                        <input type="text" class="form-control form-control-user" name="userAgent" value="{{normal.userAgent}}" placeholder="ex. firefox">
                    </div>
                    <div class="col-sm-4">
                        <span>설정 경로</span>
                        <input type="text" class="form-control form-control-user" name="sourceType" value="{{normal.sourceType}}" placeholder="ex. PORTAL">
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col-sm-4 mb-1">
                        <span>설정 PORT</span>
                        <input type="text" class="form-control form-control-user" name="portRange" value="{{normal.portRange}}" placeholder="ex. 433">
                    </div>
                    <div class="col-sm-4">
                        <span>설정 탐지 횟수</span>
                        <input type="text" class="form-control form-control-user" name="count" value="{{normal.count}}" placeholder="ex. 5">
                    </div>
                    <div class="col-sm-4">
                        <span>설정 사용자 고유번호</span>
                        <input type="text" class="form-control form-control-user" name="subAccountNo" value="{{normal.subAccountNo}}" placeholder="ex. 55902">
                    </div>
                </div>
                <div class="form-group text-center">
                    <span>설정 탐지 시간</span>
                </div>
                <div class="form-group row text-center mb-0">
                    <div class="col-sm-3 mr-auto ml-auto">
                        <input type="text" class="form-control form-control-user " name="days" value="{{normal.time.days}}" placeholder="ex. 0">일
                    </div>
                    <div class="col-sm-3 mr-auto ml-auto">
                        <input type="text" class="form-control form-control-user " name="hours" value="{{normal.time.hours}}" placeholder="ex. 0">시간
                    </div>  
                    <div class="col-sm-3 mr-auto ml-auto">
                        <input type="text" class="form-control form-control-user " name="minutes" value="{{normal.time.minutes}}" placeholder="ex. 30">분
                    </div>  
                    <div class="col-sm-3 mr-auto ml-auto">
                        <input type="text" class="form-control form-control-user " name="seconds" value="{{normal.time.seconds}}" placeholder="ex. 0">초
                    </div>  
                </div>
                <br>
                <div class="form-group row text-center">
                    <div class="col-sm-6">
                        <span>알림 대상 E-mail 1</span>
                        <input type="text" class="form-control form-control-user" name="alert_email1" value="{{normal.alert_email1}}" placeholder="ex. bob11@bob.com">
                    </div>
                    <div class="col-sm-6">
                        <span>알림 대상 E-mail 2</span>
                        <input type="text" class="form-control form-control-user" name="alert_email2" value="{{normal.alert_email2}}" placeholder="ex. bob22@bob.com" >
                    </div>
                </div>
                <div>
                    <input type=hidden name="og_rule_name" value="{{normal.name}}">
                    <input type=hidden name="rule_id" value="{{normal.request.rule_id}}">
                    <input type=hidden name="on_off" value="{{normal.on_off}}">
                    <input type=hidden name="cloud" value="{{normal.request.cloud}}">
                    <input type=hidden name="is_flow" value='0'>
                    <input type="button" value="정책 수정" class="btn btn-teiren btn-block" onclick='edit_action()'>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function edit_action(event){
        var data = $('#edit_form').serialize()
        $.ajax({
            url: '/custom/edit/',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: data,
            type: 'post'
        }).done(function(data){
            alert(data)
            if (data == '정책 수정 성공'){
                $('.modal').modal('hide')
                window.location.reload()
            }
        }).fail(function(data){
            alert('다시 시도해주세요')
        })
    }
</script>
{% elif flow %}
<div class="col-xl">
    <div class="">
        <div class="text-center">
            <h2 class="m-0 font-weight-bold text-center text-teiren">{{flow.name}} 수정</h2>
        </div>
        <div class="card-body shadow mt-3" style="border-radius:20px;">
            <form id="flow_edit_form">
                {% csrf_token %}
                <div class="form-group row text-center">
                    <div class="col-sm-6 mb-sm-1">
                        <span>흐름 Rule 이름</span>
                        <input type="text-area" class="form-control form-control-user" name="name" value="{{flow.name}}">
                    </div>
                    <div class="col-sm-6">
                        <span>흐름 Rule 설명</span>
                        <input type="text-area" class="form-control form-control-user" name="comment" value="{{flow.comment}}" placeholder="흐름 Rule 설명">
                    </div>
                </div>
                
                <div id="origin_rule_action" class="form-group row text-center">
                    {% for key, value in flow.rule.items %}
                    <div class="col-6 mb-1">
                        <lable for="rule{{forloop.counter}}">{{forloop.counter}}번째 행위</label>
                            <select class="btn btn-md btn-block" style="background-color:#FFFFFF; border-color:#E5E5E5" id="rule{{forloop.counter}}" name="rule{{forloop.counter}}">
                                <option>{{value}}</option>
                                <option value="">행위 없음</option>
                                {% for action in actions %}
                                <option value="{{action}}">{{action}}</option>
                                {% endfor %}
                            </select> &nbsp;
                    </div>
                    {% endfor %}
                    <div id='add_rule_button' class="col-6 d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-teiren btn-block" onclick="add_rule_action()">정책 행위 추가</button>
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col-sm-4">
                        <span> </span>
                    </div>
                    <div class="col-4">
                        <span>기타 행위 허용 수</span>
                        <input type="text" class="form-control form-control-user" name="blank" value="{{flow.blank}}" placeholder="ex. 3">
                    </div>
                    <div class="col-sm-4">
                        <span> </span>
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col-sm-6">
                        <span>알림 대상 E-mail 1</span>
                        <input type="text" class="form-control form-control-user" name="alert_email1" value="{{flow.alert_email1}}" placeholder="ex. bob11@bob.com">
                    </div>
                    <div class="col-sm-6">
                        <span>알림 대상 E-mail 2</span>
                        <input type="text" class="form-control form-control-user" name="alert_email2" value="{{flow.alert_email2}}" >
                    </div>
                </div>
                <div>
                    <input type=hidden name="og_rule_name" value="{{flow.name}}">
                    {%for key, value in flow.rule.items %}
                    <input type=hidden name="og_rule{{forloop.counter}}" value="{{value}}">
                    {% endfor %}
                    <input type=hidden name="cloud" value="{{flow.request.cloud}}">
                    <input type=hidden name="rule_id" value="{{flow.request.rule_id}}">
                    <input type=hidden name="is_flow" value='1'>
                    <input type="button" value="흐름 기반 정책 수정" class="btn btn-teiren btn-block" onclick='edit_action()'>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function add_rule_action(e){
        var action_count = $('#origin_rule_action div select').length
        console.log(action_count)
        $.ajax({
            url: '/custom/edit/add_rule/',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data:{
                count: action_count,
                cloud: '{{ flow.request.cloud }}'
            },
            type:'post'
        }).done(function(data){
            $('#add_rule_button').remove()
            $('#origin_rule_action').append(data)
        }).fail(function(error){
            alert(error)
        })
    }
    function edit_action(event){
        var data = $('#flow_edit_form').serialize()
        $.ajax({
            url: '/custom/edit/',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: data,
            type: 'post'
        }).done(function(data){
            alert(data)
            if (data == '정책 수정 성공'){
                $('.modal').modal('hide')
                window.location.reload()
            }
        }).fail(function(data){
            alert('다시 시도해주세요')
        })
    }
</script>
{% endif %}