<div id='rule_{{count}}' class="rule card-body shadow mt-4" style= "border-radius:20px; display:none;">
    <div class='row'>
        <h5 class='text-teiren font-weight-bold ml-3 mt-2'>Static 정책 설정</h5>
        <div style="margin-left:auto">
            <button type="button" class="btn btn-md btn-outline-teiren ml-4" style='border-radius:40px' onclick='moveup(this)'><i class="fas fa-arrow-up"></i></button>
            <button type="button" class="btn btn-md btn-outline-teiren mr-4" style='border-radius:40px' onclick='movedown(this)'><i class="fas fa-arrow-down"></i></button>
            <button type="button" class="btn btn-md btn-danger" style='border-radius:40px' onclick='delrule(this)'><i class="fas fa-trash-can"></i></button>
            <button type='button' class='hide text-teiren' style="background-color:transparent; border-color:transparent"
                onclick='hide(this)'><i class='fas fa-chevron-up'></i>
            </button>
            <button type='button' hidden class='show text-teiren' style="background-color:transparent; border-color:transparent"
                onclick='show(this)'><i class='fas fa-chevron-down'></i>
            </button>
        </div>
    </div>
    <div class='content'>
        <button type='button' onclick='changerule("default", this, {{count}}, "{{cloud}}")' class='btn btn-md btn-outline-teiren mt-4' style=''>기본 행위로 변경</button>
        <div class="form-group text-center">
            <input type='hidden' name='ruleType_{{count}}' value='new'/>
            <div class="text-center">
                <span class='pr-3'>로그 종류</span>
                <br>
                <select id='log_type' name='eventSource_{{count}}' class="btn btn-md" style="background-color:#FFFFFF; border-color:#E5E5E5; width:70%;">
                    <option>로그 종류</option>
                    {% for log_type in log_types %}
                    <option value={{log_type}}>{{log_type}}</option>
                    {% endfor%}
                </select>
            </div>
        </div>
        <div class="form-group row text-center">
            <div class="col-sm-6 mb-sm-1">
                <span>정책 이름</span>
                <input type="text-area" class="form-control form-control-user" name="ruleName_{{count}}" placeholder="정책 이름 설정">
            </div>
            <div class="col-sm-6">
                <span>정책 설명</span>
                <input type="text-area" class="form-control form-control-user" name="ruleComment_{{count}}" placeholder="정책 설명">
            </div>
        </div>
        <div id='properties_{{count}}'>
            <div id="property1" class="form-group row text-center">
                <div class="text-center col-6 mb-1">
                    <span class='pr-3'>정책 특성 1</span>
                    <br>
                    <select id ="property1_{{count}}" name='property1_{{count}}' class="btn btn-md property" style="background-color:#FFFFFF; border-color:#E5E5E5; width:100%;">
                        <option>정책 특성 1</option>
                        <option>새로운 정책 특성</option>
                        {% for property in log_properties %}
                        {% if property == 'eventSource' %}
                        {% else %}
                        <option value={{property}}>{{property}}</option>
                        {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <div class="col-6">
                    <span>정책 특성 값 1</span>
                    <input type="text-area" class="form-control form-control-user" name="property_val1_{{count}}" placeholder="정책 특성 값 1">
                </div>
            </div>
        </div>
        <div id='add_property' class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-teiren btn-block" onclick="add_property({{count}}, '{{cloud}}')" style="width:97%">정책 특성 추가</button>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#property1_{{count}}').on("change", function(){
            if($(this).val() === '새로운 정책 특성'){
                $('#properties_{{count}}').find('#property1').append(`
                <div id="property_key1_{{count}}"  class="col-6">
                    <span>새로운 정책 특성 1</span>
                    <input type="text-area" class="form-control form-control-user" name="property_key1_{{count}}" placeholder="새로운 정책 특성 1">
                </div>
                `)
            }
            else{
                if($('#property_key1_{{count}}').length > 0){
                    $('#property_key1_{{count}}').remove()
                }
            }
        })
    })
</script>
