{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<div class="locationbar ml-2">
    <span>Compliance Management&nbsp;&nbsp;>&nbsp;&nbsp;Compliance &nbsp;&nbsp;>&nbsp;&nbsp; <a href="/compliance/policy/">Policy Management</a> &nbsp;&nbsp;>&nbsp;&nbsp; {{policy}} &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">{{data.name}}<span>
</div>

<!-- Page Heading -->
<h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">{{policy}} > {{data.name}}</h6>
<p class="h6 mb-4 ml-2">Manage <span class="text-teiren font-weight-bold">{{data.name}}</span> policy data files at once.</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-teiren">Data Overview</h4>
    </div>
    
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <tbody>
                    <tr>
                        <th style="width:30%">Name</th>
                        <td>{{data.name}}</td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>{{data.comment}}</td>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <td>Policy Manage</td>
                    </tr>
                    <tr>
                        <th>Author</th>
                        <td>{{data.author}}</td>
                    </tr>
                    <tr>
                        <th>Last Update Time</th>
                        <td>{{data.last_update}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    {% comment %} <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-teiren">Current Evidence Preview</h4>
    </div>

    <h2> 즌비증~</h2> {% endcomment %}
    <div id="preview_div">
    </div>
    <div class="card-header py-3 row">
        <h4 class="m-0 font-weight-bold text-teiren">Policy Data File Manage</h4>
        <button class="btn btn-md btn-teiren ml-auto mr-3" data-toggle="modal" data-target="#file_add_modal" data-policy="{{policy}}" data-name="{{data.name}}"><i class="fa-solid fa-plus mr-2"></i>Add Policy Data File</button>           
    </div>

    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="file_dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Comment</th>
                        <th>Version</th>
                        <th>PoC</th>
                        <th>Author</th>
                        <th>Uploaded Date</th>
                        <th>Preview</th>
                        <th>Download</th>
                        <th>Modify</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {%for file in file_list%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{file.name}}</td>
                            <td>{{file.comment}}</td>
                            <td>{{file.version}}</td>
                            <td>{{file.poc}}</td>
                            <td>{{file.author}}</td>
                            <td>{{file.upload_date}}</td>
                            <td>
                                <form>
                                    {% csrf_token %}
                                    <input type="hidden" name="comment" value="{{file.comment}}">
                                    <input type="hidden" name="name" value="{{file.name}}">
                                    <button type="button" class="btn btn-md btn-outline-teiren" onclick="preview(this)"><i class="fa-solid fa-magnifying-glass mr-2"></i>preview</button>
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="/compliance/policy/{{policy}}}/{{data.name}}/file/download/" target="_blank">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment" value="{{file.comment}}">
                                    <input type="hidden" name="name" value="{{file.name}}">
                                    <button type="submit" class="btn btn-md btn-outline-teiren"><i class="fa-solid fa-download mr-2"></i>Download</button>
                                </form>
                            </td>
                            <td>
                                <button class="btn btn-md btn-teiren" data-toggle="modal" data-target="#file_modify_modal" 
                                data-policy="{{policy}}" data-name="{{data.name}}" data-file="{{file.name}}" data-comment="{{file.comment}}"
                                data-poc="{{file.poc}}" data-author="{{file.author}}" data-version="{{file.version}}" data-lastupdate="{{file.upload_date}}"><i class="fa-solid fa-pen-to-square mr-2"></i>Modify</button>
                            </td>
                            <td>
                                <button class="btn btn-md btn-danger" data-toggle="modal" data-target="#file_delete_modal" 
                                data-policy="{{policy}}" data-name="{{data.name}}" data-file="{{file.name}}" data-comment="{{file.comment}}"
                                data-poc="{{file.poc}}" data-author="{{file.author}}" data-version="{{file.version}}" data-lastupdate="{{file.upload_date}}"><i class="fa-solid fa-trash mr-2"></i>Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Add File Modal -->
<div class="modal hide fade card-body" id="file_add_modal" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id='modal_title'>Add Policy Data File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="file_add_form">
                    <p>Policy Name: <input class="form-control" name="policy" type="text" readonly></p>
                    <p>Data Name: <input class="form-control" name="name" type="text" readonly></p>
                    <p>File: <div class="form-control"><input name="file" type="file" accept="image/*, .pdf, .xlsx, .xls, .hwp, .hwpx, .ppt, .pptx, .csv, .docx, .doc"></div></p>
                    <p>File Comment: <input class="form-control" name="comment" type="text"></p>
                    <p>Author: <input class="form-control" name="author" type="text" value="{{user }}"readonly></p>
                    <p>Version: <input class="form-control" name="version" type="text"></p>
                    <p>PoC: <input class="form-control" name="poc" type="text"></p>
                    <h6>image 파일 전체, pdf, 엑셀(xlsx, xls, csv), 한글파일(hwp, hwpx), 파워포인트(ppt, pptx), 워드(docx, doc)</h6>
                    <h6 class="mb-2">형식만 업로드 가능합니다.</h6>
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' class="btn btn-md btn-teiren" onclick="addPolicyDataFile()" value="Add Policy Data File">
            </div>
        </div>
    </div>
</div>

<!-- Modify File Modal -->
<div class="modal hide fade card-body" id="file_modify_modal" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id='modal_title'>Modify Policy Data File: <span class="file-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="file_modify_form">
                    <p>Policy Name: <input class="form-control" name="policy" type="text" readonly></p>
                    <p>Data Name: <input class="form-control" name="name" type="text" readonly></p>
                    <p>Last Update (Auto Change): <input class="form-control" name="lastupdate" type="text" readonly></p>
                    <p>File Name: <input class="form-control" name="file" type="text" readonly></p>
                    <p>File Comment: <input class="form-control" name="comment" type="text"></p>
                    <p>Author: <input class="form-control" name="author" type="text" value="{{user }}"readonly></p>
                    <p>Version: <input class="form-control" name="version" type="text"></p>
                    <p>PoC: <input class="form-control" name="poc" type="text"></p>
                    <input type="hidden" name="og_comment">
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' class="btn btn-md btn-teiren" onclick="modifyPolicyDataFile()" value="Modify Policy Data File">
            </div>
        </div>
    </div>
</div>

<!-- Delete File Modal -->
<div class="modal hide fade card-body" id="file_delete_modal" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-danger" id='modal_title'>Delete Policy Data File: <span class="file-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="file_delete_form">
                    <p>Policy Name: <input class="form-control" name="policy" type="text" readonly></p>
                    <p>Data Name: <input class="form-control" name="name" type="text" readonly></p>
                    <p>File Name: <input class="form-control" name="file" type="text" readonly></p>
                    <p>File Comment: <input class="form-control" name="comment" type="text" readonly></p>
                    <p>Author: <input class="form-control" name="author" type="text" value="{{user}}"readonly></p>
                    <p>Version: <input class="form-control" name="version" type="text" readonly></p>
                    <p>PoC: <input class="form-control" name="poc" type="text" readonly></p>
                </form>
                <h5 class="text-danger">Will You Delete <span class="file-name font-weight-bold"></span>?</h5>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' class="btn btn-md btn-danger" onclick="deletePolicyDataFile()" value="Delete Policy Data File">
            </div>
        </div>
    </div>
</div>

<script>
$('#file_dataTable').DataTable({
    info:true,
    searching:false,
    lengthChange:false
})

$('#file_add_modal').on('shown.bs.modal', function (e) {   
    $(this).find('input[name="policy"]').val($(e.relatedTarget).data('policy'));
    $(this).find('input[name="name"]').val($(e.relatedTarget).data('name'));
});

function addPolicyDataFile(){
    $.ajax({
        url: 'file/add/',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}"
        },
        type: 'POST',
        data: new FormData($('#file_add_form')[0]),
        processData: false,
        contentType: false
    }).done(function(response){
        alert(response)
        if(response.startsWith('Success')){
            location.reload()
            return 0
        }
    })
}

$('#file_modify_modal').on('shown.bs.modal', function (e) {   
    $(this).find('input[name="policy"]').val($(e.relatedTarget).data('policy'));
    $(this).find('input[name="name"]').val($(e.relatedTarget).data('name'));
    $(this).find('input[name="file"]').val($(e.relatedTarget).data('file'));
    $(this).find('input[name="comment"]').val($(e.relatedTarget).data('comment'));
    $(this).find('input[name="og_comment"]').val($(e.relatedTarget).data('comment'));
    $(this).find('input[name="author"]').val($(e.relatedTarget).data('author'));
    $(this).find('input[name="poc"]').val($(e.relatedTarget).data('poc'));
    $(this).find('input[name="version"]').val($(e.relatedTarget).data('version'));
    $(this).find('input[name="lastupdate"]').val($(e.relatedTarget).data('lastupdate'));
    $(this).find('.file-name').text($(e.relatedTarget).data('file'))
});

function modifyPolicyDataFile(){
    $.ajax({
        url: 'file/modify/',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}"
        },
        type: 'POST',
        data: $('#file_modify_form').serialize(),
    }).done(function(response){
        alert(response)
        if(response.startsWith('Success')){
            location.reload()
            return 0
        }
    })
}

$('#file_delete_modal').on('shown.bs.modal', function (e) {   
    $(this).find('input[name="policy"]').val($(e.relatedTarget).data('policy'));
    $(this).find('input[name="name"]').val($(e.relatedTarget).data('name'));
    $(this).find('input[name="file"]').val($(e.relatedTarget).data('file'));
    $(this).find('input[name="comment"]').val($(e.relatedTarget).data('comment'));
    $(this).find('input[name="author"]').val($(e.relatedTarget).data('author'));
    $(this).find('input[name="poc"]').val($(e.relatedTarget).data('poc'));
    $(this).find('input[name="version"]').val($(e.relatedTarget).data('version'));
    $(this).find('input[name="lastupdate"]').val($(e.relatedTarget).data('lastupdate'));
    $(this).find('.file-name').text($(e.relatedTarget).data('file'))
});

function deletePolicyDataFile(){
    $.ajax({
        url: 'file/delete/',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}"
        },
        type: 'POST',
        data: $('#file_delete_form').serialize(),
    }).done(function(response){
        alert(response)
        if(response.startsWith('Success')){
            location.reload()
            return 0
        }
    })
}

function preview(e){
    $('#preview_div').css('max-height', '900px')
    $('#preview_div').html(`
    <div class="card-header py-3 row">
        <h4 class="m-0 font-weight-bold text-teiren">File Preview</h4>
    </div>
    <div id="preview" class="d-flex justify-content-center" style="background-color:#d7d7d7">
        <div id="loader" class="d-flex justify-content-center align-items-center" 
            style="width:100%; height:600px; background-color:rgba(156, 154, 154, 0.1);">
            <div class="spinner-border-lg text-teiren"></div>
        </div>
    </div>
    `)
    $('.body-content').animate({
        scrollTop: Math.abs($('.locationbar').offset().top)+$('#preview_div').offset().top+20
      }, 'slow');
    $.ajax({
        url:'/compliance/file/preview/policy/',
        type:'POST',
        data: $(e.parentNode).serialize()
    }).done(function(response){
        $('#loader').remove()
        console.log(response)
        $('#preview').append(response)
    })
}

</script>

{% endblock %}

