<div class="table-responsive" style="overflow:hidden">
    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0"
        style="text-align:center;overflow:scroll;">
        <thead>
            <tr>
                <th>No</th>
                <th>Rule Type</th>
                <th>기본 Rule 이름</th>
                <th>설명</th>
                <th>on/off</th>
                <th>Details</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>No</th>
                <th>Rule Type</th>
                <th>Rule 이름</th>
                <th>설명</th>
                <th>on/off</th>
                <th>Details</th>
            </tr>
        </tfoot>
        <tbody>
            {% if default %}
            {% for rule in default %}
            <tr>
                <td>{{ rule.id }}</td>
                <td width="250">{{ rule.type }}</td>                
                <td width="500">{{ rule.name }}</td>
                <td width="2500" align="left">{{ rule.comment }}</td>
                <td>
                    <form>
                        <input type="hidden" name="rule_name" value="{{ rule.name }}">
                        <input type="hidden" name="rule_type" value=" {{ rule.type }}">
                        <input type='hidden' name='cloud' value='NHN'>
                        <input type="hidden" name="on_off" value="{{ rule.on_off }}">
                        {% if rule.on_off == 1 %}
                        <input type="button" value="  On  " class="btn btn-teiren btn-md text-center"
                            style="overflow:hidden; font-size:0.7vw" onclick='onoff(this)'>
                        {% else %}
                        <input type="button" value="  Off  " class="btn btn-teiren btn-md text-center"
                            style="background-color:#D3D3D3;border-color:#D3D3D3;font-size:0.7vw"
                            onclick='onoff(this)'>
                        {% endif %}
                    </form>
                </td>
                <td width="150">
                    <form>
                        <input type='hidden' name='address' value='/rules/default/details/'>
                        <input type='hidden' name='rule_name' value="{{ rule.name }}">
                        <input type='hidden' name='rule_type' value="{{ rule.type }}">
                        <input type='hidden' name='cloud' value='NHN'>
                        <input type='hidden' name='on_off' value="{{ rule.on_off }}">
                        <input type='button' onclick="detail(this.parentNode)"
                            class="btn btn-teiren btn-md" style="overflow:hidden; font-size:0.7vw"
                            value='Details' data-toggle='modal' data-target='#detail-modal'>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>