{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <link rel="stylesheet" href="{% static '/css/tab.css' %}">
</head>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div>
        <h1 class="h3 mb-2 text-gray-800 ml-2">Office Keeper 정책 설정</h1>
        <p class="mb-4 ml-2">Office Keeper 로그의 상세한 허용/차단할 룰을 확인하고, 설정할 수 있습니다.</p>
    </div>
    <div class="tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <ul class='ul'>
            <li title="사용자 설정 Rule">
                <label for="tab1" role="button">
                    <span>사용자 설정 Rule</span>
                </label>
            </li>
            <li title="기본 설정 Rule">
                <label for="tab2" role="button">
                    <span>기본 설정 Rule</span>
                </label>
            </li>
        </ul>
        <div class="slider">
            <div class="indicator"></div>
        </div>
        <div class="content">
            <section id='custom'>

            </section>
            <section id='default'>

            </section>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- Custom Modal -->
<div class="modal fade card-body" id="detail-modal" role="dialog" style='overflow-y:auto' aria-labelledby="detailLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style='width:1000px; height:auto'>
            <div class='d-flex justify-content-end p-3'>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body justify-content-center" id='detail_body'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-teiren" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function detail(event) {
        var url = event.address.value
        var data = $(event).serialize()
        $.ajax({
            url: url,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: data,
            type: 'post'
        }).done(function (data) {
            $('#detail_body').html(data)
        })
    }
    $(function () {
        $.ajax({
            url: 'custom/',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            type: 'post'
        }).done(function (data) {
            $('#custom').html(data)
        })
        $.ajax({
            url: 'default/',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            type: 'post'
        }).done(function (data) {
            $('#default').html(data)
        })
    })
</script>
{% endblock %}