{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- Page Essential -->
<link rel="stylesheet" href="{% static '/css/tab.css' %}">
{% endblock %}
{% block content %}
<!-- Begin Page Content -->

<div>
    <!-- Page Heading -->
    <h6 class="h3 font-weight-bold mb-2 text-gray-800 ml-2">{{cloud}} 로그 확인하기</h6>
    <p class="h6 mb-4 ml-2">AWS에서 발생하는 모든 로그들을 한번에 확인할 수 있습니다. </p>
    <div id='test'></div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4 ">
        <div class="card-header py-3" data-toggle="collapse" href="#searchCollapse" role="button" aria-expanded="false"
             aria-controls="collapseExample">
            <h6 class="m-0 font-weight-bold text-teiren ">작업 내역 검색</h6>
        </div>
        <div class="card-body collapse" id="searchCollapse">
            <div style="overflow:hidden;">
                <form id="search">
                    <div class='ml-0 mb-3 row justify-content-center' style="font-size:12px">
                        <div class="dropdown d-flex flex-column justify-content-center align-items-center mb-4 pl-0 col-3">
                            <span class="font-weight-bold" style="font-size: 0.7rem;">eventSource</span>
                            <div class="btn-group ml-1 w-75 search_input">
                                <input class="btn btn-outline-teiren dropdown-toggle" placeholder="eventSource">
                                <ul class="dropdown-menu shadow" style="overflow:hidden scroll; height: 530%;">
                                    <li class="dropdown-item">
                                        <label>
                                            <input class="form-check-input eventSource" type="checkbox" name="eventSource_all" value="all" onclick="selectAll(this, 'eventSource')">전체
                                        </label>
                                    </li>
                                    <li class="dropdown-item">
                                        <label>
                                            <input class="form-check-input eventSource" type="checkbox" name="eventSource_regex" value="regex" onclick="selectcheck(this, 'eventSource')">정규표현식
                                        </label>
                                    </li>
                                    {%for eventSource in eventSource_list %}
                                    <li class="dropdown-item" style="">
                                        <label>
                                            <input class="form-check-input eventSource" type="checkbox" name="eventSource_{{eventSource}}" value="{{eventSource}}" onclick="selectcheck(this, 'eventSource')">{{eventSource}}
                                        </label>
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <div id="eventSource_regex" class="btn-group ml-1 mt-3 w-75 regex" style="display:none;">
                                <input class="btn btn-outline-teiren dropdown-toggle" name="eventSource_regex" placeholder="eventSource 정규표현식">
                            </div>
                        </div>
                        <div class="dropdown d-flex flex-column justify-content-center align-items-center mb-4 pl-0 col-3">
                            <span class="font-weight-bold" style="font-size: 0.7rem;">사용자</span>
                            <div class="btn-group ml-1 w-75 search_input">
                                <input class="btn btn-outline-teiren dropdown-toggle" placeholder="사용자">
                                <ul class="dropdown-menu shadow" style="overflow:hidden scroll; height: 530%;">
                                    <li class="dropdown-item">
                                        <label>
                                            <input class="form-check-input user" type="checkbox" name="user_all" value="all" onclick="selectAll(this, 'user')">전체
                                        </label>
                                    </li>
                                    <li class="dropdown-item">
                                        <label>
                                            <input class="form-check-input user" type="checkbox" name="user_regex" value="regex" onclick="selectcheck(this, 'user')">정규표현식
                                        </label>
                                    </li>
                                    {%for user in user_list %}
                                    <li class="dropdown-item" style="">
                                        <label>
                                            <input class="form-check-input user" type="checkbox" name="user_{{user}}" value="{{user}}" onclick="selectcheck(this, 'user')">{{user}}
                                        </label>
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <div id="user_regex" class="btn-group ml-1 mt-3 w-75 regex" style="display:none;">
                                <input class="btn btn-outline-teiren dropdown-toggle" name="user_regex" placeholder="사용자 정규표현식">
                            </div>
                        </div>
                        <div class="dropdown d-flex flex-column justify-content-center align-items-center mb-4 pl-0 col-3">
                            <span class="font-weight-bold" style="font-size: 0.7rem;">Reigon</span>
                            <div class="btn-group ml-1 w-75 search_input">
                                <input class="btn btn-outline-teiren dropdown-toggle" placeholder="Region">
                                <ul class="dropdown-menu shadow" style="overflow:hidden scroll; height: 530%;">
                                    <li class="dropdown-item">
                                        <label>
                                            <input class="form-check-input region" type="checkbox" name="region_all" value="all" onclick="selectAll(this, 'region')">전체
                                        </label>
                                    </li>
                                    <li class="dropdown-item">
                                        <label>
                                            <input class="form-check-input region" type="checkbox" name="region_regex" value="regex" onclick="selectcheck(this, 'region')">정규표현식
                                        </label>
                                    </li>
                                    {%for region in region_list %}
                                    <li class="dropdown-item" style="">
                                        <label>
                                            <input class="form-check-input region" type="checkbox" name="region_{{region}}" value="{{region}}" onclick="selectcheck(this, 'region')">{{region}}
                                        </label>
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <div id="region_regex" class="btn-group ml-1 mt-3 w-75 regex" style="display:none;">
                                <input class="btn btn-outline-teiren dropdown-toggle" name="region_regex" placeholder="region 정규표현식">
                            </div>
                        </div>
                        <div class="dropdown d-flex flex-column justify-content-center align-items-center mb-4 pl-0 col-3">
                            <span class="font-weight-bold" style="font-size: 0.7rem;">sourceIPAddress</span>
                            <div class="btn-group ml-1 w-75 search_input">
                                <input class="btn btn-outline-teiren dropdown-toggle" placeholder="sourceIPAddress">
                                <ul class="dropdown-menu shadow" style="overflow:hidden scroll; height: 530%;">
                                    <li class="dropdown-item">
                                        <label>
                                            <input class="form-check-input sourceIPAddress" type="checkbox" name="sourceIPAddress_all" value="all" onclick="selectAll(this, 'sourceIPAddress')">전체
                                        </label>
                                    </li>
                                    <li class="dropdown-item">
                                        <label>
                                            <input class="form-check-input sourceIPAddress" type="checkbox" name="sourceIPAddress_regex" value="regex" onclick="selectcheck(this, 'sourceIPAddress')">정규표현식
                                        </label>
                                    </li>
                                    {%for sourceIPAddress in sourceIPAddress_list %}
                                    <li class="dropdown-item" style="">
                                        <label>
                                            <input class="form-check-input sourceIPAddress" type="checkbox" name="sourceIPAddress_{{sourceIPAddress}}" value="{{sourceIPAddress}}" onclick="selectcheck(this, 'sourceIPAddress')">{{sourceIPAddress}}
                                        </label>
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <div id="sourceIPAddress_regex" class="btn-group ml-1 mt-3 w-75 regex" style="display:none;">
                                <input class="btn btn-outline-teiren dropdown-toggle" name="sourceIPAddress_regex" placeholder="sourceIPAddress 정규표현식">
                            </div>
                        </div>
                        <div class="dropdown d-flex flex-column justify-content-center align-items-center mb-4 pl-0 col-3">
                            <span class="font-weight-bold mb-2" style="font-size: 0.7rem;">eventTime</span>
                            <div id="eventTime_calandar" class="row align-items-center justify-content-center w-100">
                                <div class="btn-group col-5 calendar">
                                    <input class="btn btn-outline-teiren dropdown-toggle" type="date" name="eventTime_date_start">
                                </div>
                                <span class="col-1" style="font-size:0.9rem">~</span>
                                <div class="btn-group col-5 calendar">
                                    <input class="btn btn-outline-teiren dropdown-toggle" type="date" name="eventTime_date_end">
                                </div>
                            </div>
                        </div><div class="dropdown d-flex flex-column justify-content-center align-items-center mb-4 pl-0 col-3">
                            <span class="font-weight-bold" style="font-size: 0.7rem;">eventName</span>
                            <div class="btn-group ml-1 w-75 search_input">
                                <input class="btn btn-outline-teiren dropdown-toggle" placeholder="eventName">
                                <ul class="dropdown-menu shadow" style="overflow:hidden scroll; height: 530%;">
                                    <li class="dropdown-item">
                                        <label>
                                            <input class="form-check-input eventName" type="checkbox" name="eventName_all" value="all" onclick="selectAll(this, 'eventName')">전체
                                        </label>
                                    </li>
                                    <li class="dropdown-item">
                                        <label>
                                            <input class="form-check-input eventName" type="checkbox" name="eventName_regex" value="regex" onclick="selectcheck(this, 'eventName')">정규표현식
                                        </label>
                                    </li>
                                    {%for eventName in eventName_list %}
                                    <li class="dropdown-item" style="">
                                        <label>
                                            <input class="form-check-input eventName" type="checkbox" name="eventName_{{eventName}}" value="{{eventName}}" onclick="selectcheck(this, 'eventName')">{{eventName}}
                                        </label>
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <div id="eventName_regex" class="btn-group ml-1 mt-3 w-75 regex" style="display:none;">
                                <input class="btn btn-outline-teiren dropdown-toggle" name="eventName_regex" placeholder="eventName 정규표현식">
                            </div>
                        </div>
                    </div>
                </form>
                <div class='d-flex justify-content-end p-3' style="margin-top:100px">
                    <button type="button" class="btn btn-outline-teiren ml-auto" style="font-size: 0.9rem;" onclick="searchFilter(1)">검색</button>
                    <button class="btn btn-outline-warning ml-2 mr-auto" style="font-size: 0.9rem;" onClick="searchFilter('reset')">초기화</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4" id="log_table">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-teiren">로그 목록 ( {{total_log}} 개중 {{current_log.0}}~{{current_log.1}})
            </h6>
        </div>

        <div class="card-body" style="font-size:12px;">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                       style="table-layout:fixed;text-align:center;">
                    <thead>
                    <tr>
                        <th>eventTime</th>
                        <th>eventName</th>
                        <th>eventSource</th>
                        <th>userARN</th>
                        <th>userType</th>
                        <th>userName</th>
                        <th>Region</th>
                        <th>role</th>
                        <th>sourceIPAddress</th>
                        <th>More Details</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>eventTime</th>
                        <th>eventName</th>
                        <th>eventSource</th>
                        <th>userARN</th>
                        <th>userType</th>
                        <th>userName</th>
                        <th>Region</th>
                        <th>role</th>
                        <th>sourceIPAddress</th>
                        <th>More Details</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {%for log in page_obj.log_list%}
                    <tr>
                        {% for key, value in log.items %}
                        {% if key != 'id' and key != 'cloud' %}
                        <td>{{value}}</td>
                        {% endif %}
                        {% endfor %}
                        <td>
                            <button class="btn btn-md btn-teiren" data-toggle="modal" data-target="#detail-modal"
                                data-id={{log.id}} data-cloud={{log.cloud}} style="font-size:0.7vw">
                                상세 보기
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    </ul>
                </nav>

                <!-- 페이지리스트 -->
                <div class="d-flex justify-content-center">
                    <ul style="display:flex; list-style: none;">
                        {% if page_obj.has_previous %}
                        <li class="page-item" aria-current="page">
                            <button class="page-link" onclick="searchFilter(1)">처음</button>
                        </li>
                        <li class="page-item" aria-current="page">
                            <button class="page-link" onclick="searchFilter({{page_obj.previous_page_number}})">이전</button>
                        </li>
                        {% endif %}

                        {% for page_number in page_obj.paginator.page_range %}
                        {% if page_number == page_obj.now_page %}
                        <li class="page-item active" aria-current="page">
                            <button class="page-link" onclick="searchFilter({{ page_number }})">{{ page_number }}</button>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <button class="page-link" onclick="searchFilter({{ page_number }})">{{ page_number }}</button>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item" aria-current="page">
                            <button class="page-link" onclick="searchFilter({{page_obj.next_page_number}})">다음</button>
                        </li>
                        <li class="page-item" aria-current="page">
                            <button class="page-link" onclick="searchFilter({{page_obj.paginator.num_pages}})">끝</button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<!-- Help Modal-->
<div class="modal fade card-body" id="help" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:1000px; height:auto'>
            <button type="button" class="close" style="margin-top:30px; margin-left:900px" data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
            <div class="modal-body card-body" id='help-body'></div>
            <div class="modal-footer">
                <button class="btn btn-outline-teiren" type="button" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- Detail Modal -->
<div class="modal fade card-body" id="detail-modal" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style='width:1000px; height:auto'>
            <div class='d-flex justify-content-end p-3'>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <img src="{% static '/img/teiren-side-logo.png' %}" style="margin:0 auto; margin-bottom:0; width:300px; height: 100px;">
            <div class="modal-body justify-content-center" id='detail'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-teiren" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script> var cloud = '{{cloud}}' </script>
<script src="{% static '/M_logs/js/filter_select.js' %}"></script>
<script src="{% static '/M_logs/js/log.js' %}"></script>
{% endblock %}

