/* 
html {
  width: 100%;
  height: 100%;
}

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */
#cy {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 17em;
}
.tippy-tooltip{
  overflow-y:scroll !important;
  max-height: 30vh !important;
  line-height: 1.8 !important;
}
.config {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 17em;
  background: #C6D8DF;
  box-sizing: border-box;
  padding: 1em;
  color: var(--teiren);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  overflow: auto;
  z-index: 1;
}

.param {
  margin-bottom: 1em;
  font-size: 0.8rem;
}

.preamble {
  margin-bottom: 2em;
  margin-top: 2em;
  font-size: 0.8rem;
}

p {
  margin: 0.5em 0;
  font-size: 0.8em;
}

.param button {
  width: 3em;
  margin-right: 0.25em;
  text-align: center;
}

a,
a:hover {
  color: #8BB0D0;
}

.label {
  display: block;
  font-size: 14px;
}

.config .slider {
  display: block;
  width: 80%;
  height: 5px;
  appearance: none;
  border-radius: 5px;
  background: linear-gradient(to right, #6AB3CF 0%, #26486B 50%, #6E7D8C 50%, #9c9ea0 100%);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #26486B;
}

.config-toggle {
  position:absolute;
  right: 0;
  top: 0;
  padding: 1em;
  margin: 0.2em;
  cursor: pointer;
  color: rgb(168, 168, 168);
  z-index: 2;
}

.config-closed .config {
  opacity: 0;
  pointer-events: none;
}

.config-closed #cy {
  right: 0;
}

.tip-link {
  display: block;
}


@media (max-width: 200px){
  #cy {
    right: 0;
  }
}
