{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}
{% block content %}
<!-- Begin Page Content -->
<style>
    .ex-text {
        padding: 0.4rem 0.8rem;
        font-size : 15px;
        background-color: #444444;
        border-radius: 0.3rem;
        color: #ffffff;
        position: absolute;
        opacity: 0;
        transition: all ease 0.5s;
    }
    .ex:hover + .ex-text {
        opacity: 1;
    }
</style>
<div class="locationbar ml-2">
    <span>Compliance Management&nbsp;&nbsp;>&nbsp;&nbsp;<a href="/compliance/lists/">Compliance List</a> &nbsp;&nbsp;>&nbsp;&nbsp; <a href="/compliance/lists/{{compliance_type}}/">{{compliance_type}}</a> &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">{{product}}&nbsp;&nbsp;>&nbsp;&nbsp;{{no}} {{name}}<span>
</div>
<div>
    <h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">{{ compliance_type.upper|cut:"_" }}</h6>
    <p class="h4 mb-4 ml-2">{{product}}&nbsp;&nbsp;>&nbsp;&nbsp;{{no}} {{name}}</p>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-teiren">Compliance Detail</h4>
    </div>
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" width="100%" cellspacing="0"
                    style="font-size:15px;">
                <thead>
                <tr>
                    <th class="text-center">항목</th>
                    <th>{{no}} {{name}}</th>
                </tr>
                </thead>
                <tbody>
                    {% for article in article_list %}
                    <tr>
                        <td style="text-align:center">인증 기준</td>
                        <td>{{article.articleComment}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:center" width="200px" rowspan=len({{checklist}})>주요 확인사항</td>
                        <td>{% for i in article.articleChecklist %}{{i|linebreaks}}{% endfor %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-teiren">Related Law</h4>
    </div>
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="law_dataTable" width="100%" cellspacing="0"
                   style="text-align:center; font-size:15px;">
                <thead>
                    <tr>
                        <th>Law</th>
                        <th>Chapter</th>
                        <th>Section</th>
                        <th>Article</th>
                    </tr>
                </thead>
                <tbody>
                    {% for law in law_list %}
                        {% if law.lawName == '' and law.chapterNo == '' and law.sectionNo == '' and law.articleNo == '' %}
                        {% else %}
                        <tr>
                            <td>{{law.lawName}}</td>
                            <td>{{law.chapterNo}} {{law.chapterName}}</td>
                            <td>{{law.sectionNo}} {{law.sectionName}}</td>
                            <td>{{law.articleNo}} {{law.articleName}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header row py-3">
        <h4 class="m-0 font-weight-bold text-teiren">Related Policy</h4>
        <div class="ml-auto mr-3">
            <!-- <button class="ex btn btn-md">ex</button>
            <div class="ex-text">{% for a in article_list %}{% for i in a.articleExample %}{{i|linebreaks}}{% endfor %}{% endfor %}</div> -->
            <button class="btn btn-md btn-teiren" data-toggle="modal" data-target="#add_policy_modal"><i class="fa-solid fa-plus mr-2"></i>Add Related Policy</button>
        </div>
    </div>
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="policy_dataTable" width="100%" cellspacing="0"
                   style="text-align:center; font-size:15px;">
                <thead>
                    <tr>
                        <th>Policy</th>
                        <th>Name</th>
                        <th>Comment</th>
                        <th>Author</th>
                        <th>Last Update</th>
                        <th width="10%">Details</th>
                        <th width="12%">Delete Relation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for policy in policy_list %}
                        <tr>
                            <td>{{policy.policy|default:'-'}}</td>
                            <td>{{policy.data.name|default:'-'}}</td>
                            <td>{{policy.data.comment|default:'-'}}</td>
                            <td>{{policy.data.author|default:'-'}}</td>
                            <td>{{policy.data.last_update|default:'-'}}</td>
                            <td>
                                <form>
                                    <input type="hidden" name="policy" value="{{policy.policy}}"/>
                                    <input type="hidden" name="name" value="{{policy.data.name}}"/>
                                    <input type="hidden" name="comment" value="{{policy.data.comment}}"/>
                                    <input type="hidden" name="author" value="{{policy.data.author}}"/>
                                    <button type="submit" class="btn btn-md btn-teiren"><i class="fa-solid fa-circle-info mr-2"></i>Details</button>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="hidden" name="policy" value="{{policy.policy}}"/>
                                    <input type="hidden" name="name" value="{{policy.data.name}}"/>
                                    <input type="hidden" name="comment" value="{{policy.data.comment}}"/>
                                    <input type="hidden" name="author" value="{{policy.data.author}}"/>
                                    <button type="button" class="btn btn-md btn-outline-danger" data-toggle="modal" data-target="#delete_policy_modal"><i class="fa-solid fa-trash mr-2"></i>Delete Relation</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div id="preview_div"></div>
    <div class="card-header row py-3">
        <h4 class="m-0 font-weight-bold text-teiren">Evidence File List</h4>
        <div class="ml-auto mr-3">
            <!-- <button class="ex btn btn-md">ex</button>
            <div class="ex-text">{% for a in article_list %}{% for i in a.articleExample %}{{i|linebreaks}}{% endfor %}{% endfor %}</div> -->
            <button class="btn btn-md btn-teiren" data-toggle="modal" data-target="#upload_file"><i class="fa-solid fa-plus mr-2"></i>Add Evidence Data</button>
        </div>
    </div>
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="evidence_dataTable" width="100%" cellspacing="0"
                   style="text-align:center; font-size:15px;">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Data Comment</th>
                        <th>File</th>
                        <th>File Comment</th>
                        <th>Version</th>
                        <th>PoC</th>
                        <th>Author</th>
                        <th>Upload Date</th>
                        {% comment %} <th>Preview</th> {% endcomment %}
                        <th>Download</th>
                        <th>Modify</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if evidence_list %}
                        {% for evidence in evidence_list %}
                            <tr>
                                <td>{{evidence.dataName}}</td>
                                <td>{{evidence.dataComment}}</td>
                                <td>{{evidence.fileName}}</td>
                                <td>{{evidence.fileComment}}</td>
                                <td>{{evidence.fileVersion}}</td>
                                <td>{{evidence.filePoc}}</td>
                                <td>{{evidence.fileAuthor}}</td>
                                <td>{{evidence.fileUploadDate}}</td>
                                {% comment %} <td>
                                    <form>
                                        {% csrf_token %}
                                        <input type="hidden" name="comment" value="{{evidence.fileComment}}">
                                        <input type="hidden" name="name" value="{{evidence.fileName}}">
                                        <button type="button" class="btn btn-md btn-outline-teiren" onClick="preview(this)"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </form>
                                </td> {% endcomment %}
                                <td>
                                    <form method="POST" action="/compliance/lists/evidence/file/download/" target="_blank">
                                        {% csrf_token %}
                                        <input type="hidden" name="comment" value="{{evidence.fileComment}}">
                                        <input type="hidden" name="name" value="{{evidence.fileName}}">
                                        <button type="submit" class="btn btn-md btn-outline-teiren"><i class="fa-solid fa-download"></i></button>
                                    </form> 
                                </td>
                                <td>
                                    <form id="file_modify_modal_form">
                                        <input type="hidden" name="product" value="{{evidence.productName}}"/>
                                        <input type="hidden" name="data_name" value="{{evidence.dataName}}"/>
                                        <input type="hidden" name="name" value="{{evidence.fileName}}"/>
                                        <input type="hidden" name="comment" value="{{evidence.fileComment}}"/>
                                        <input type="hidden" name="og_comment" value="{{evidence.fileComment}}"/>
                                        <input type="hidden" name="version" value="{{evidence.fileVersion}}"/>
                                        <input type="hidden" name="author" value="{{evidence.fileAuthor}}"/>
                                        <input type="hidden" name="poc" value="{{evidence.filePoc}}"/>
                                        <button type="button" class="btn btn-md btn-outline-teiren" data-toggle="modal" data-target="#modify_file"><i class="fa-solid fa-pen-to-square"></i></button>
                                    </form>
                                </td>
                                <td>
                                    <form id="file_delete_modal_form">
                                        <input type="hidden" name="product" value="{{evidence.productName}}"/>
                                        <input type="hidden" name="data_name" value="{{evidence.dataName}}"/>
                                        <input type="hidden" name="name" value="{{evidence.fileName}}"/>
                                        <input type="hidden" name="comment" value="{{evidence.fileComment}}"/>
                                        <input type="hidden" name="version" value="{{evidence.fileVersion}}"/>
                                        <input type="hidden" name="author" value="{{evidence.fileAuthor}}"/>
                                        <input type="hidden" name="poc" value="{{evidence.filePoc}}"/>
                                        <button type="button" class="btn btn-md btn-outline-danger" data-toggle="modal" data-target="#delete_file"><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Upload Evidence File Modal -->
<div class="modal hide fade card-body" id="upload_file" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id='modal_title'>Upload Evidence File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="file_add_form" enctype="multipart/form-data">
                    <p>Product: <input type="text" class="form-control" name="product" value='{{product}}' readonly></p>
                    <p>Data: 
                        <select class="form-control" name="data_name" style="height:100%">
                            {% for data in data_list %}
                            <option value="{{data}}">{{data}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>File Comment: <input type="text" class="form-control" name="comment" value='' placeholder="Enter a Comment of File"></p>
                    <p>Version: <input type="text" class="form-control" name="version" value='' placeholder="ex. v_1.0"></p>
                    <p>Author: <input type="text" class="form-control" name="author" value="{{user}}" readonly></p>
                    <p>Poc: <input type="text" class="form-control" name="poc" value=''></p>
                    <p>File: <div class="form-control"><input name="file" type="file" accept=".png, .jpg, .jpeg, .pdf"></div></p>
                    <input type="hidden" name="art_no" value="{{no}}"/>
                    <input type="hidden" name="compliance" value="{{compliance_type}}"/>
                    <input type="hidden" name="com_version" value="{{version}}"/>
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-teiren" onClick="addEvidenceFile()" value="Upload">
            </div>
        </div>
    </div>
</div>

<!-- Modify Evidence File Modal -->
<div class="modal hide fade card-body" id="modify_file" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id='modal_title'>Modify Evidence File: <span id="file_name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="file_modify_form">
                    <p>Product: <input type="text" class="form-control" name="product" value='{{product}}' readonly></p>
                    <p>Data:
                        <select class="form-control" name="data_name" style="height:100%">
                            {% for data in data_list %}
                            <option value="{{data}}">{{data}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>File Comment: <input type="text" class="form-control" name="comment" value='' placeholder="Enter a Comment of File"></p>
                    <p>Version: <input type="text" class="form-control" name="version" value='' placeholder="ex. v_1.0"></p>
                    <p>Author: <input type="text" class="form-control" name="author" readonly></p>
                    <p>Poc: <input type="text" class="form-control" name="poc" value=''></p>
                    <input type="hidden" name="art_no" value="{{no}}"/>
                    <input type="hidden" name="og_data_name"/>
                    <input type="hidden" name="og_comment"/>
                    <input type="hidden" name="compliance" value="{{compliance_type}}"/>
                    <input type="hidden" name="name"/>
                    <input type="hidden" name="com_version" value="{{version}}"/>
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button'class="btn btn-md btn-teiren" onClick="modifyEvidenceFile()"value="Modify">
            </div>
        </div>
    </div>
</div>

<!-- Delete Evidence File Modal -->
<div class="modal hide fade card-body" id="delete_file" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-danger" id='modal_title'>Delete Evidence File: <span id="file_name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="file_delete_form" enctype="multipart/form-data">
                    <p>Product:<input type="text" class="form-control" name="product" readonly></p>
                    <p>Data:<input type="text" class="form-control" name="data_name" readonly></p>
                    <p>File Comment: <input type="text" class="form-control" name="comment" readonly></p>
                    <p>Version: <input type="text" class="form-control" name="version" readonly></p>
                    <p>Author: <input type="text" class="form-control" name="author" readonly></p>
                    <p>Poc: <input type="text" class="form-control" name="poc" readonly></p>
                    <input type="hidden" name="art_no" value="{{no}}"/>
                    <input type="hidden" name="compliance" value="{{compliance_type}}"/>
                    <input type="hidden" name="name"/>
                    <input type="hidden" name="com_version" value="{{version}}"/>
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" onClick="deleteEvidenceFile()" value="Delete">
            </div>
        </div>
    </div>
</div>


<!-- Add Related Policy Modal -->
<div class="modal hide fade card-body" id="add_policy_modal" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id='modal_title'>Add Related Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="policy_add_form" enctype="multipart/form-data">
                    <p>Data: 
                        <select class="form-control" name="data_name" style="height:100%">
                            {% for data in policy_data_list %}
                            <option value="{{data}}">{{data}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <input type="hidden" name="art_no" value="{{no}}"/>
                    <input type="hidden" name="compliance" value="{{compliance_type}}"/>
                    <input type="hidden" name="com_version" value="{{version}}"/>
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-teiren" onClick="addRelatedPolicy()" value="Add Related Policy">
            </div>
        </div>
    </div>
</div>

<!-- Delete Related Policy Modal -->
<div class="modal hide fade card-body" id="delete_policy_modal" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-danger" id='modal_title'>Delete Related Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="policy_delete_form" enctype="multipart/form-data">
                    <p>Policy:<input type="text" class="form-control" name="policy" readonly></p>
                    <p>Policy Data:<input type="text" class="form-control" name="name" readonly></p>
                    <p>Data Comment:<input type="text" class="form-control" name="comment" readonly></p>
                    <p>Data Author:<input type="text" class="form-control" name="author" readonly></p>
                    <input type="hidden" name="art_no" value="{{no}}"/>
                    <input type="hidden" name="compliance" value="{{compliance_type}}"/>
                    <input type="hidden" name="com_version" value="{{version}}"/>
                    {% csrf_token %}
                </form>
                <h5 class="text-danger">This will only delete the relationship, not the policy.</h5>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" onClick="deleteRelatedPolicy()" value="Delete Related Policy">
            </div>
        </div>
    </div>
</div>

<script>
    function addRelatedPolicy(){
        $.ajax({
            url: '/compliance/lists/evidence/policy/add/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: $('#policy_add_form').serialize()
        }).done(function(response){
            alert(response)
            if(response.startsWith('Success')){
                location.reload()
                return 0
            }
        })
    }

    $('#delete_policy_modal').on('shown.bs.modal', function(e){
        $(e.relatedTarget.parentNode).find('input').each(function(){
            $('#policy_delete_form').find(`input[name="${this.name}"]`).val(this.value)
        })
    })

    function deleteRelatedPolicy(){
        $.ajax({
            url: '/compliance/lists/evidence/policy/delete/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: $('#policy_delete_form').serialize()
        }).done(function(response){
            alert(response)
            if(response.startsWith('Success')){
                location.reload()
                return 0
            }
        })
    }
    function addEvidenceFile(){
        $.ajax({
            url: '/compliance/lists/evidence/file/add/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: new FormData($('#file_add_form')[0]),
            processData: false,
            contentType: false
        }).done(function(response){
            alert(response)
            if(response.startsWith('Success')){
                location.reload()
                return 0
            }
        })
    }

    $('#modify_file').on('shown.bs.modal', function (e) {
        $($(e.relatedTarget).parent()[0]).find('input').each(function(i){
            if (this.name === 'product'){
                $(`#file_modify_form select[name="product"] option[value="${this.value}"]`).attr('selected', true)
            } else if (this.name === 'data_name'){
                $('#file_modify_form input[name="og_data_name"]').val(this.value)
            } else if (this.name == 'name'){
                $('#modify_file #file_name').text(this.value)
                $(`#file_modify_form input[name="${this.name}"`).val(this.value)
            }
            else{
                $(`#file_modify_form input[name="${this.name}"`).val(this.value)
            }
        })
    });

    function modifyEvidenceFile(){
        $.ajax({
            url: '/compliance/lists/evidence/file/modify/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: $('#file_modify_form').serialize()
        }).done(function(response){
            alert(response)
            if(response.startsWith('Success')){
                location.reload()
                return 0
            }
        })
    }

    $('#delete_file').on('shown.bs.modal', function (e) {
        $($(e.relatedTarget).parent()[0]).find('input').each(function(i){
            if (this.name == 'name'){
                $('#delete_file #file_name').text(this.value)
            }
            $(`#file_delete_form input[name="${this.name}"`).val(this.value)
        })
    });

    function deleteEvidenceFile(){
        $.ajax({
            url:'/compliance/lists/evidence/file/delete/',
            data: $('#file_delete_form').serialize(),
            type: 'post'
        }).done(function(response){
            alert(response)
            if(response.startsWith("Success")){
                location.reload()
                return 0
            }
        })   
    }
    
    function preview(e){
        $('#preview_div').css('max-height', '900px')
        $('#preview_div').html(`
        <div class="card-header py-3 row">
            <h4 class="m-0 font-weight-bold text-teiren">File Preview</h4>
        </div>
        <div id="preview" class="d-flex justify-content-center" style="background-color:#d7d7d7">
            <div id="loader" class="d-flex justify-content-center align-items-center" 
                style="width:100%; height:600px; background-color:rgba(156, 154, 154, 0.1);">
                <div class="spinner-border-lg text-teiren"></div>
            </div>
        </div>
        `)
        $('.body-content').animate({
            scrollTop: Math.abs($('.locationbar').offset().top)+$('#preview_div').offset().top+20
          }, 'slow');
        $.ajax({
            url:'/compliance/file/preview/{{product}}/',
            type:'POST',
            data: $(e.parentNode).serialize()
        }).done(function(response){
            $('#loader').remove()
            console.log(response)
            $('#preview').append(response)
        })
    }

    $("#law_dataTable").DataTable({
        ordering: false,
        // 표시 건수기능 숨기기
        lengthChange: false,
        // 검색 기능 숨기기
        searching: false,
    })

    $("#evidence_dataTable").DataTable({
        ordering: false,
        // 표시 건수기능 숨기기
        lengthChange: false,
        // 검색 기능 숨기기
        searching: false,
    })

    $("#policy_dataTable").DataTable({
        ordering: false,
        // 표시 건수기능 숨기기
        lengthChange: false,
        // 검색 기능 숨기기
        searching: false,
    })
</script>

{% endblock %}