{% extends 'base.html' %}
{% load custom_filter %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/M_compliance/css/compliance_lists/searchcard.css' %}">
{% endblock head %}

{% block content %}
<!-- Begin Page Content -->
<div class="locationbar ml-2">
    <span>Compliance Management&nbsp;&nbsp;>&nbsp;&nbsp;<a href="/compliance/lists/">Compliance List</a> &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">{{compliance_type}}<span>
</div>
<div class="d-flex">
    <h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">{{compliance_type}}</h6>
    <form class="ml-auto" method="POST" action="/compliance/report/v1/download/{{compliance_type}}/">
        {% csrf_token %}
        <button type="submit" class="btn btn-md btn-teiren"><i class="fa-solid fa-download mr-2"></i>Download {{compliance_type}} Compliance Report</button>
    </form>
</div>
<p class="h6 mb-4 ml-2">Manage Details and Evidence by Item</p>
<!--단일 변수 출력-->
<h2>{{test_string}}</h2>
<br>
{% include './searchcard.html' %}

<div id="com_table" class="card shadow card-body" style="font-size:15px;">
    <div class="table-responsive" style="overflow:hidden;">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
               style="text-align:center;font-size:15px;">
            <thead>
            <tr>
                <th>Chapter</th>
                <th>Section</th>
                <th>Article</th>
                <th>Comment</th>
                {% if compliance_type == 'ISMS-P' %}
                <th>Comply</th>
                <th>Related Policy</th>
                <th>Last Updated</th>
                <th>Details</th>
                {% endif %}
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Chapter</th>
                <th>Section</th>
                <th>Article</th>
                <th>Comment</th>
                {% if compliance_type == 'ISMS-P' %}
                <th>Comply</th>
                <th>Related Policy</th>
                <th>Last Updated</th>
                <th>Details</th>
                {% endif %}
            </tr>
            </tfoot>

            <tbody>
                <!--for 문으로 리스트 출력: 파이썬 코드를 쓸 때는 % % 안에 담아서 사용-->
                {% for com in compliance %}
                <tr>
                    <td>{{com.chapterNo}}. {{com.chapterName}}</td>
                    <td>{{com.sectionNo}} {{com.sectionName}}</td>
                    <td>{{com.articleNo}}. {{com.articleName}}</td>
                    <td width="40%">{{com.articleComment}}</td>
                    {% if compliance_type == 'ISMS-P' %}
                    <td style="width:100px;">
                        <select name="com_score" class="com_score btn btn-md" style="background-color:#FFFFFF; border-color:#E5E5E5; width:100%;" onchange="scoreChange(this)">
                            <option value="{{com.complyScore}}" selected>
                                {% if com.complyScore == 2 %}
                                    ✔
                                {% elif com.complyScore == 1 %}
                                    △
                                {% else %}
                                    ❌
                                {% endif %}
                            </option>
                            {% make_list 0 1 2 as score %}
                            {% for option_value in score %}
                                {% if option_value != com.complyScore %}
                                    <option value="{{option_value}}" >
                                        {% if option_value == 2 %}
                                            ✔
                                        {% elif option_value == 1 %}
                                            △
                                        {% else %}
                                            ❌
                                        {% endif %}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="hidden" class="com_article" value="{{com.articleNo}}">
                    </td>
                    <td style="width:150px;">{{com.policy}}</td>
                    <td style="width:150px;">{{com.lastUpdate}}</td>
                    <td>
                        <form  method="POST" action="/compliance/lists/{{compliance_type}}/details/">
                            {% csrf_token %}
                            <input type="hidden" name="version" value="{{com.version}}">
                            <input type="hidden" name="product" value="{{product}}"/>
                            <input type="hidden" name="no" value="{{com.articleNo}}"/>
                            <input type="hidden" name="name" value="{{com.articleName}}"/>
                            <button class="btn btn-md btn-teiren">
                                Details
                            </button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    var compliance_type = "{{compliance_type}}"
</script>
<script src="{% static '/M_compliance/js/compliance_lists/lists.js' %}"></script>
<script src="{% static '/M_compliance/js/compliance_lists/searchcard.js' %}"></script>

{% endblock %}


