<thead>
    <tr>
        <th>No</th>
        <th>Product</th>
        <th>Name</th>
        <th>Comment</th>
        <th>Author</th>
        <th>Last update</th>
        <th>Details</th>
        <th>Modify</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for data in data_list%}
        <tr>
            <td style="width:20%;">{{forloop.counter}}</td>
            <td>{{data.product.name}}</td>
            <td>{{data.data.name}}</td>
            <td>{{data.data.comment}}</td>
            <td>{{data.data.author}}</td>
            <td>{{data.data.last_update}}</td>
            <td>
                <a href="/compliance/evidence/{{data.product.name}}/{{ data.data.name }}/">
                    <button type="button" class="btn btn-md btn-outline-teiren"><i class="fa-solid fa-circle-info mr-2"></i>Details</button>
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-md btn-teiren" data-toggle="modal" data-target="#data_mod"
                data-name="{{data.data.name}}" data-comment="{{data.data.comment}}" data-author="{{data.data.author}}"><i class="fa-solid fa-pen-to-square mr-2"></i>Modify</button>
            </td>
            <td>
                <button type="button" class="btn btn-md btn-danger" data-toggle="modal" data-target="#data_delete"
                data-name="{{data.data.name}}" data-comment="{{data.data.comment}}" data-author="{{data.data.author}}"><i class="fa-solid fa-trash mr-2"></i>Delete</button>
            </td>
        </tr>
    {% endfor %}
</tbody>