{% include 'head.html' %}
{% load static %}
<body class="bg-gradient-teiren">
    <div class="container">
        <!-- Outer Row -->
        <div class="row">
            <div class="col-lg-12 mt-5 d-flex justify-content-center align-items-center">
                <div class="card o-hidden border-0 shadow-lg" style="width:80%; height:450px">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <!-- Nested Row within Card Body -->
                        <div class="row p-2 justify-content-center align-items-center">
                            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                                <img src="{% static '/img/teiren-side-logo.png' %}" style="width:80%">
                            </div>
                            <div class="row col-lg-10 p-2 ">
                                <div class="col-lg-9 pt-3">
                                    <form id='login_form' class="user w-100" method=post>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                name="user_id" value="{{user_id}}" placeholder="사용자 ID">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                name="user_password" value="{{user_password}}" placeholder="비밀번호">
                                        </div>
                                </div>
                                <div class="col-lg-3 d-lg-flex align-items-center">
                                    <div class="d-none d-lg-flex v-divider"></div>
                                    <div>
                                        <input type="submit" value="로그인" class="btn btn-teiren btn-user btn-block mt-3 font-weight-bold" style="height:60%">
                                        <a href="/auth/register/" style="height:30%">
                                            <div class="btn btn-outline-teiren btn-user mt-2 font-weight-bold" >
                                                <span>회원가입</span>
                                            </div>
                                        </a>
                                    <div>
                                    <input type="submit" value="로그인"
                                        class="btn btn-teiren btn-user btn-block d-lg-none font-weight-bold">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>