.grid-stack {
    background-color: rgb(238, 238, 238);
    margin: 0 20px;
}

#layoutInfo {
    margin: 0 20px;
}

#layoutName {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

#layoutbtns {
    display: flex;
    justify-content: center;
}

.closebtn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    margin-left: auto;
    padding: 0 !important;
}

/* Delete Box */
#delete-box {
    position: fixed;
    bottom: 10px;
    right: 50vw;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    color: white;
    display: none;
}

#delete-box:hover {
    background-color: black;
    z-index: 999999;
}

/* Layout Sidebar */
#layoutSidebar {
    position: fixed;
    top: 3.3rem;
    bottom: 1rem;
    left: -350px;
    padding: 30px;
    width: 350px;
    border-radius: 20px;
    background-color: #305162;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease;
}

#layoutSidebar.open {
    left: -10px;
}

.layoutList {
    margin: 10px 0;
    padding: 15px;
    background-color: #FFFFFF;
    color: black;
    border-color: #E5E5E5;
    border-radius: 10px;
    font-size: 0.8rem;
    text-align: start;
}

.layoutList .delbox {
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;
}

/* Widget Sidebar */
#itemSidebar {
    position: fixed;
    top: 3.3rem;
    bottom: 1rem;
    right: -350px;
    padding: 30px;
    width: 350px;
    border-radius: 20px;
    background-color: #305162;
    color: #fff;
    flex-direction: column;
    transition: right 0.3s ease;
}

#itemSidebar.open {
    right: -10px;
}

.newWidget {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5rem;
}