<div id='rule_{{count}}' class="rule card-body shadow mt-4" style= "border-radius:20px; display:none;">
    <div class='row'>
        <h5 class='text-teiren font-weight-bold ml-3 mt-2'>탐지 정책 {{count}}</h5>
        <div class="ml-auto">
            <button type="button" class="btn btn-teiren btn-md slotbtn" style="border-radius:40px" onclick="addDynamicSlot()">+</button>
            <button type="button" class="btn btn-danger btn-md slotbtn" style="border-radius:40px" onclick="deleteDynamicSlot(this)">-</button>
        </div>
    </div>
    <div class="dynamic_content">
        <div class="form-group row text-center">
            <div class="col-6 mb-sm-1">
                <span>탐지 정책 이름</span>
                <input type="text-area" class="form-control form-control-user" name="flow_name_{{count}}_1" placeholder="탐지 정책 이름 설정">
            </div>
            <div class="col-6">
                <span>탐지 정책 설명</span>
                <input type="text-area" class="form-control form-control-user" name="flow_comment_{{count}}_1" placeholder="탐지 정책 설명">
            </div>
        </div>
        <div class="properties">
            <div id="flow{{count}}_1" class="form-group row text-center prop">
                <div class="text-center col-6 mb-1">
                    <span >탐지 정책 속성</span>
                    <br>
                    <input type="text-area" class="form-control form-control-user" list="flow_list_{{count}}_1" name="flow_key_{{count}}_1" onchange="newPropertyKey(this)" placeholder="탐지 정책 속성">
                    <datalist id="flow_list_{{count}}_1">
                        <option value='탐지 정책 속성'></option>
                        <option value='새로운 탐지 정책 속성'></option>
                        {% for property in log_properties %}
                        {% if property == "eventSource" %}
                        {% else %}
                        <option value={{property}}></option>
                        {% endif %}
                        {% endfor%}
                    </datalist>
                </div>
                <div class="col-5">
                    <span>탐지 정책 속성 값</span>
                    <input type="text-area" class="form-control form-control-user" name="flow_val_{{count}}_1" placeholder="탐지 정책 속성 값">
                </div>
                <div class="col-1 d-flex align-items-center ml-auto">
                    <button type="button" class="btn btn-teiren btn-sm ml-auto mr-auto" style="border-radius:40px" onclick="addDynamicProperty({{count}})">+</button>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center text-center mt-3">
            <div class="col-6">
                <span>탐지 횟수</span>
                <input type="text-area" class="form-control form-control-user" name="flow_count_{{count}}_1" placeholder="정책 탐지 횟수 지정 (횟수 이상일 때 탐지)">
            </div>
        </div>
    </div>
</div>