{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- Chart.js-->
<script src="{% static '/plugin/chart.js/Chart.bundle.min.js' %}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script> -->
<!-- Gridstack -->
<link rel="stylesheet" href="{% static '/plugin/gridstack/gridstack.css' %}">
<script src="{% static '/plugin/gridstack/gridstack-all.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AWS EC2 Monitoring Dashboard</title>
<link rel="stylesheet" href="{% static 'monitoring/css/main.css' %}"> <!-- 여기에 스타일시트 링크 추가 -->
<!-- 기타 필요한 스타일시트 또는 스크립트 -->
<!-- Page Essential -->
{% endblock %}
{% block content %}
<!-- Begin Page Content -->

<body>
    <div> user uuid: {{ uuid }} </div>
    <div class="header-container">
        <img src="{% static 'monitoring/image/ec2-logo.png' %}" alt="AWS Logo" class="aws-logo"> <!-- AWS 로고 이미지 -->
        <header class="dashboard-header">
            <div class="instance-count-card">
                <div class="card-title">Instance Count</div>
                <div class="count-number" id="instanceCount">0</div>
            </div>
        </header>
    </div>

    <section id="charts" class="charts">
        <!-- EC2 인스턴스별 차트를 추가 -->
        <!-- <div id="charts" style="max-width: 800px; margin: 0 auto;"></div> -->
    </section>
</body>



{% endblock %}
{% block script %}
<script src="{% static '/dashboard/js/default_layout.js' %}"></script>
<script src="{% static '/dashboard/js/dashboard.js' %}"></script>
<script>
    const charts = {};
    const url = window.location.href;
    const regex = /dashboard\/([a-f0-9\-]+)/;
    const match = url.match(regex);
    if (match && match.length > 1) {
        uuid = match[1];
    }
    
    async function fetchMetrics(uuid) {
        const response = await fetch(`/api/v1/metrics/agent/${uuid}`);
        return await response.json();
    }

    function createOrUpdateChart(metrics, instanceId) {
        const cpuData = metrics.map(metric => metric.cpu);
        const memoryData = metrics.map(metric => metric.memory);
        const diskUsageData = metrics.map(metric => metric.disk_usage);
        const timestamps = metrics.map(metric => new Date(metric.timestamp).toLocaleTimeString());

        if (!charts[instanceId]) {
            // 카드 컨테이너 생성
            const card = document.createElement('div');
            card.className = 'chart-card';

            // 인스턴스 ID 헤더 생성
            const cardHeader = document.createElement('div');
            cardHeader.className = 'card-header';
            cardHeader.textContent = instanceId;
            card.appendChild(cardHeader);

            // 차트 캔버스 생성
            const ctx = document.createElement('canvas');
            ctx.id = `chart-${instanceId}`;
            card.appendChild(ctx);

            // 카드 컨테이너를 차트 섹션에 추가
            document.getElementById('charts').appendChild(card);

            charts[instanceId] = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: timestamps,
                    datasets: [
                        {
                        label: `CPU`,
                        data: cpuData,
                        borderColor: 'rgb(255, 99, 132)',
                        fill: false
                        },
                        {
                            label: `Memory`,
                            data: memoryData,
                            borderColor: 'rgb(54, 162, 235)',
                            fill: false
                        },
                        {
                            label: `Disk Usage`,
                            data: diskUsageData,
                            borderColor: 'rgb(75, 192, 192)',
                            fill: false
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    animations: false,
                    plugins: {
                        tooltip: {
                            intersect: false, // 인터섹트 비활성화
                        },
                    },
                },
            });
            const verticalLinePlugin = {
                id: 'charts',
                afterDraw: function (chart, easing) {
                    if (chart.tooltip && chart.tooltip._active && chart.tooltip._active.length) {
                        const activePoint = chart.tooltip._active[0];
                        const ctx = chart.ctx;
                        const x = activePoint.element.x;
                        const topY = chart.scales.y.top;
                        const bottomY = chart.scales.y.bottom;

                        ctx.save();
                        ctx.beginPath();
                        ctx.moveTo(x, topY);
                        ctx.lineTo(x, bottomY);
                        ctx.strokeStyle = '#ff0000';
                        ctx.lineWidth = 2;
                        ctx.stroke();
                        ctx.restore();
                    }
                },
            };
            Chart.register(verticalLinePlugin);
            updateInstanceCount(); // Agent가 설치된 EC2의 갯수를 업데이트
        } else {
            // 차트가 이미 존재하는 경우 데이터만 업데이트
            const chart = charts[instanceId];
            chart.data.labels = timestamps;
            chart.data.datasets[0].data = cpuData;
            chart.data.datasets[1].data = memoryData;
            chart.data.datasets[2].data = diskUsageData;
            chart.update();
        }
    }

    async function renderCharts() {
        const metricsData = await fetchMetrics(uuid);

        const timestamps = metricsData.length > 0 ? metricsData[0].map(metric => new Date(metric.timestamp).toLocaleTimeString()) : [];

        metricsData.forEach(metrics => {
            if (metrics.length > 0) {
                createOrUpdateChart(metrics, metrics[0].instance_id, timestamps);
            }
        });
    }

    // document.getElementById('charts').addEventListener('mousemove', function (e) {
    //     mousePositionX = e.clientX;
    //     for (const chartId in charts) {
    //         if (charts.hasOwnProperty(chartId)) {
    //             const chart = charts[chartId];
    //             if (chart.tooltip) {
    //                 chart.tooltip._active = [{ element: { x: e.x } }];
    //                 chart.update();
    //             }
    //         }
    //     }
    // });
    setInterval(renderCharts, 2000);
    // renderCharts();

</script>
<script>
    function updateInstanceCount() {
        // 'charts' 섹션 내에 있는 canvas 요소의 개수를 계산합니다.
        const charts = document.getElementById('charts').getElementsByTagName('canvas');
        const instanceCount = charts.length;
        
        // 'instanceCount' 요소의 텍스트를 업데이트합니다.
        document.getElementById('instanceCount').textContent = instanceCount;
    }

    // 페이지 로드 시 실행
    document.addEventListener('DOMContentLoaded', updateInstanceCount);
</script>
<script>$('#ec2_dashboard_side').addClass('active');</script>
{% endblock %}
</body>
</html>
