{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- Chart.js-->
<script src="{% static '/plugin/chart.js/Chart.bundle.min.js' %}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script> -->

<!-- Gridstack -->
<link rel="stylesheet" href="{% static '/plugin/gridstack/gridstack.css' %}">
<script src="{% static '/plugin/gridstack/gridstack-all.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<!-- Page Essential -->
{% endblock %}
{% block content %}
<!-- Begin Page Content -->

<h1>test info page</h1>
<p>UUID: {{ uuid }}</p>

{% endblock %}
{% block script %}

{% endblock %}
    
</body>
</html>
