<div id="property{{count}}" class="form-group text-center prop">
    <div class="d-flex justify-content-center mb-2" style="margin-right:10%">
        <select id="property_logical_{{count}}" name="property_logical_{{count}}" class="btn btn-md mt-3" style="background-color:#e7faff; border-color:#E5E5E5; width:15%;">
            <option>AND</option>
            <option>OR</option>
        </select>
    </div>
    <div class="form-group row text-center">
        <div class="text-center col-4 mb-1">
            <span >Rule Property {{count}}</span>
            <br>
            <input type="text-area" class="form-control form-control-user" list="property_list_{{count}}" name="property_key_{{count}}" onchange="newPropertyKey(this)" placeholder="Rule Property {{count}}">
            <datalist id="property_list_{{count}}">
                <option value='New Property'></option>
                {% for property in log_properties %}
                {% if property == "eventSource" %}
                {% else %}
                <option value={{property}}></option>
                {% endif %}
                {% endfor%}
            </datalist>
        </div>
        <div class="col-2">
            <select name="property_op_{{count}}" class="btn btn-md mt-3 pl-0" style="background-color:#FFFFFF; border-color:#E5E5E5; width:100%;">
                <option>=</option>
                <option><></option>
                <option>CONTAINS</option>
            </select>
        </div>
        <div class="col-5">
            <span>Rule Value {{count}}</span>
            <input type="text-area" class="form-control form-control-user" name="property_val_{{count}}" placeholder="Rule Value {{count}}">
        </div>
        <div class="col-1 d-flex align-items-center px-0">
            <button type="button" class="btn btn-teiren btn-sm ml-2" style="border-radius:40px" onclick="addProperty('{{log_type}}')">+</button>
            <button type="button" class="btn btn-danger btn-sm ml-2" style="border-radius:40px" onclick="deleteProperty(this)">-</button>
        </div>
    </div>
</div>