<div>
    <p>Resource Type: <input type="text" class="form-control" name="integration_type" value="{{integration_type|title}}" readonly></p>
    <p><span>ACCESS KEY: </span><input type="text" class="form-control" name="access_key" value="{{access_key}}" readonly></p>
    <p><span>SECRET KEY: </span><input type="text" class="form-control" name="secret_key" placeholder="SECRET KEY"></p>
    <p><span>REGION NAME: </span><input type="text" class="form-control" name="region_name" value="{{region_name}}" readonly></p>
    <p><span>LOG GROUP NAME: </span><input type="text" class="form-control" name="group_name" value="{{group_name}}" readonly></p>
    {% if 'on_off' %}
        {% if 'on_off' == '0' %}
            <p><span>CURRENT STATUS: </span><input type="text" class="form-control" value="On" readonly></p>
            <input type="hidden" class="form-control" name="on_off" value="0" readonly>
        {% else %}
            <p><span>COLLECTION STATUS: </span><input type="text" class="form-control" value="Off" readonly></p>
            <input type="hidden" class="form-control" name="on_off" value="1" readonly>
        {% endif %}
    {% endif %}
    <input type="hidden" class="form-control" name="log_type" value="{{log_type}}"></p>
</div>