{% load static %}
<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% static '/auth/css/authentication.css' %}">
</head>
<body class="bg-auth">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="auth-alert auth-alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="auth-container">
        <div class="card border-0 auth-shadow w-50 h-100">
            <div class="card-body d-flex justify-content-center align-items-center">
                <div class="row w-100">
                    {% if register_status == 'success' %}
                    <div class="col-12 py-3 auth-input">
                        <div class="auth-text" style="width:75%">
                            <h1 class="mb-4 font-weight-bold text-{{color}}">Login Success. Please Check your Email</h1>
                        </div>
                        <a class="btn btn-block btn-teiren btn-lg" href="/auth/login/"><div>Sign In</div></a>
                    {% else %}
                    <div class="col-12 py-3 auth-input">
                        <div class="auth-text">
                            <h3 class="font-weight-bold text-{{color}}">Create Your Account</h3>
                            <h1 class="mb-4 font-weight-bold text-{{color}}">TEIREN CLOUD</h1>
                        </div>
                        <form id='login_form' class="user" method=post>
                            {% csrf_token %}
                            <div class="form-group">
                                <span class="material-symbols-outlined ml-auto">
                                    person
                                    </span>
                                <input type="text" class="form-control form-control-user" 
                                    name="username" value="{{username}}" placeholder="User ID">
                            </div>
                            <div class="form-group">
                                <span class="material-symbols-outlined ml-auto">
                                    mail
                                    </span>
                                <input type="text" class="form-control form-control-user"
                                    name="email" value="{{email}}" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <span class="material-symbols-outlined ml-auto">
                                    key
                                </span>
                                <input type="password" class="form-control form-control-user"
                                    name="password1" value="{{password1}}" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <span class="material-symbols-outlined ml-auto">
                                    password
                                </span>
                                <input type="password" class="form-control form-control-user"
                                    name="password2" placeholder="Password Verification">
                            </div>
                            <div class="divider"></div>
                            <input type="submit" value="Register" class="btn btn-teiren btn-user btn-block font-weight-bold">
                            <a class="a" href="/auth/login/">
                                <button type="button" class="btn btn-outline-teiren btn-user btn-block font-weight-bold">Back to Login Page</button>
                            </a>
                            <div></div>
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>