{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}
{% block content %}

<!-- Begin Page Content -->

<div class="locationbar ml-2">
    <span>Compliance Management&nbsp;&nbsp;>&nbsp;&nbsp;Compliance &nbsp;&nbsp;>&nbsp;&nbsp;<a href="/compliance/evidence/">Evidence Management</a>&nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">{{data_name}}<span>
</div>


<!-- Page Heading -->
<h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">{{data_name}}</h6>
<p class="h6 mb-4 ml-2">Manage evidence files & related compliance.</p>
<div class="card shadow mb-4" id="log_table">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-teiren">Overview</h5>
    </div>
    
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <tbody>
                    {%for data in data_list%}
                        <tr>
                            <th style="width:20%;">Name</th>
                            <td>{{data.data.name}}</td>
                        </tr>
                        <tr>
                            <th>Comment</th>
                            <td>{{data.data.comment}}</td>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <td>{{data.product.name}}</td>
                        </tr>
                        <tr>
                            <th>Author</th>
                            <td>{{data.data.author}}</td>
                        </tr>
                        <tr>
                            <th>Last Update Time</th>
                            <td>{{data.data.last_update}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="log_table">
    <div class="card-header py-3 row">
        <h5 class="m-0 font-weight-bold text-teiren">Evidence File Manage</h5>
        <button class="btn btn-md btn-teiren ml-auto mr-3" data-toggle="modal" data-target="#file_add" data-name="{{data_name}}" data-author="{{user}}"><i class="fa-solid fa-plus mr-2"></i>Add File</button>           
    </div>
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="file_dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Comment</th>
                        <th>Version</th>
                        <th>PoC</th>
                        <th>Author</th>
                        <th>Upload Date</th>
                        <th>Download</th>
                        <th>Modify</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {%for file in file_list%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{file.name}}</td>
                            <td>{{file.comment}}</td>
                            <td>{{file.version}}</td>
                            <td>{{file.poc}}</td>
                            <td>{{file.author}}</td>
                            <td>{{file.upload_date}}</td>
                            <td><button id="downloadBtn" class="btn btn-md btn-teiren"  onclick="download_file('{{file.name}}')"><i class="fa-solid fa-file-arrow-down mr-2"></i>Download</button></td>
                            <td>
                                <button class="btn btn-md btn-teiren" data-toggle="modal" data-target="#file_mod" 
                                data-data-name="{{data_name}}" data-name="{{file.name}}" data-comment="{{file.comment}}" data-version="{{file.version}}"
                                data-poc="{{file.poc}}" data-author="{{file.author}}" data-last-update="{{file.last_update}}"><i class="fa-solid fa-pen-to-square mr-2"></i>Modify</button>
                            </td>
                            <td>         
                                <button class="btn btn-md btn-danger" data-toggle="modal" data-target="#file_delete" 
                                data-data-name="{{data_name}}" data-name="{{file.name}}" data-comment="{{file.comment}}" data-version="{{file.version}}"
                                data-poc="{{file.poc}}" data-author="{{file.author}}" data-upload-date="{{file.upload_date}}"><i class="fa-solid fa-trash mr-2"></i>Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="log_table">
    <div class="card-header py-3 row">
        <h5 class="m-0 font-weight-bold text-teiren">Related Compliance Management</h5>
        <button class="btn btn-md btn-teiren ml-auto mr-3" data-toggle="modal" data-target="#com_add"><i class="fa-solid fa-plus mr-2"></i>Add Related Compliance</button>           
    </div>

    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="compliance_dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Compliance</th>
                        <th>Version Date</th>
                        <th>Chapter</th>
                        <th>Section</th>
                        <th>Article</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {%for compliance in compliance_list%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{compliance.version.name.upper|replace:"_,-"}}</td>
                        <td>{{compliance.version.date}}</td>
                        <td>{{compliance.chapter.no}}. {{compliance.chapter.name}}</td>
                        <td>{{compliance.section.no}} {{compliance.section.name}}</td>
                        <td>{{compliance.article.no}}. {{compliance.article.name}}</td>
                        <td>
                            <form method="POST" action="/compliance/lists/{{compliance.version.name.upper|replace:"_,-"}}/details/">
                                {% csrf_token %}
                                <input type="hidden" name="no" value="{{compliance.article.no}}"/>
                                <input type="hidden" name="name" value="{{compliance.article.name}}"/>
                                <button class="btn btn-md btn-teiren">
                                    Details
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Add Evidence File Modal -->
<div class="modal hide fade card-body" id="file_add" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id='modal_title'>Add Evidence File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="file_add_form">
                    <p>Data Name: <input class="form-control" name="data_name" type="text" readonly></p>
                    <p>File: <div class="form-control"><input name="file" type="file" accept="image/*, .pdf, .xlsx, .xls, .hwp, .hwpx, .ppt, .pptx, .csv, .docx, .doc"></div></p>
                    <p>File Comment: <input class="form-control" name="comment" type="text"></p>
                    <p>Author: <input class="form-control" name="author" type="text" readonly></p>
                    <p>Version: <input class="form-control" name="version" type="text"></p>
                    <p>PoC: <input class="form-control" name="poc" type="text"></p>
                    <h6>image 파일 전체, pdf, 엑셀(xlsx, xls, csv), 한글파일(hwp, hwpx), 파워포인트(ppt, pptx), 워드(docx, doc)</h6>
                    <h6 class="mb-2">형식만 업로드 가능합니다.</h6>
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' id='file_add_accept' class="btn btn-md btn-teiren" value="Save">
            </div>
        </div>
    </div>
</div>

<!-- Modify Evidence File Modal -->
<div class="modal hide fade card-body" id="file_mod" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id='modal_title'>Modify Evidence File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>``
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="file_modify_form">
                    <p>Data Name: <input class="form-control" name="data_name" type="text" readonly></p>
                    <p>Last Update(Auto Change): <input class="form-control" name="last_update" type="text" readonly></p>
                    <p>File Name: <input class="form-control" name="name" type="text" readonly></p>
                    <p>File Comment: <input class="form-control" name="comment" type="text"></p>
                    <p>File Author: <input class="form-control" name="author" type="text" readonly></p>
                    <p>File Version: <input class="form-control" name="version" type="text"></p>
                    <p>File PoC: <input class="form-control" name="poc" type="text"></p>
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' id='file_modify_accept' class="btn btn-md btn-teiren" value="Modify">
            </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Evidence File Modal -->
<div class="modal hide fade card-body" id="file_delete" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-danger" id='modal_title'>Delete Evidence File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>``
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="file_delete_form">
                    <p>Data Name: <input class="form-control" name="data_name" type="text" readonly></p>
                    <p>File Name: <input class="form-control" name="name" type="text" readonly></p>
                    <p>File Comment: <input class="form-control" name="comment" type="text" readonly></p>
                    <p>File Author: <input class="form-control" name="author" type="text" readonly></p>
                    <p>File Version: <input class="form-control" name="version" type="text" readonly></p>
                    <p>File PoC: <input class="form-control" name="poc" type="text" readonly></p>
                    <p>Uploaded Date: <input class="form-control" name="upload_date" type="text" readonly></p>
                </form>
                <h5 class="text-danger">Will You Delete Evidence File?</h5>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' id='file_delete_accept' class="btn btn-md btn-danger" value="Delete">
            </div>
            </form>
        </div>
    </div>
</div>


<!-- Add Compliance Modal -->
<div class="modal hide fade card-body" id="com_add" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-primary" id='modal_title'>Add Compliance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <div>
                    <input class="form-control" name="data_name" type="hidden">
                    <input class="form-control" name="file_name" type="hidden">
                    Relation Compliance

                    <label for="compliance">Choose Compliance:</label>
                    <select id="compliance" onchange="updateVersion()">
                        <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                        <option value="none">Choose Compliance</option>
                    </select>
                    <br>
                    <label for="version_selected">Choose Version:</label>
                    <select id="version_selected" onchange="updateArticle()">
                        <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                        <option value="none">Please select Compliance</option>
                    </select>
                    <br>
                    <label for="article_selected">Choose Compliance Article:</label>
                    <select id="article_selected">
                        <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                        <option value="none">Please select Version</option>
                    </select>

                    <!--더 많은 Relation Compliance를 추가할 수 있는 코드를 아래 제작해야 함-->
                </div>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' id='com_add_quit' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' id='com_add_accept' class="btn btn-md btn-outline-primary" onclick="add_com('{{data_name}}')" value="Add">
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#file_dataTable').DataTable({
        info: true,
        searching: false,
        lengthChange: false
    })
    $('#compliance_dataTable').DataTable({
        info: true,
        searching: false,
        lengthChange: false
    })

    $('#file_add').on('shown.bs.modal', function (e) {
        $('#file_add_form input[name="data_name"]').val($(e.relatedTarget).data('name'));
        $('#file_add_form input[name="author"]').val($(e.relatedTarget).data('author'))
    });

    $('#file_add_accept').click(function() {
        var formData = new FormData($('#file_add_form')[0]);    
        $.ajax({
            url: '/compliance/evidence/file/add/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false
        }).done(function(response){
            alert(response)
            if(response.startsWith("Success")){
                location.reload()
                return 0
            }
        })
    })

    $('#file_mod').on('shown.bs.modal', function (e) {
        var button = $(e.relatedTarget); // 클릭된 버튼

        $('#file_modify_form input[name="data_name"]').val(button.data('data-name'));
        $('#file_modify_form input[name="last_update"]').val(button.data('last-update'));
        $('#file_modify_form input[name="name"]').val(button.data('name'));
        $('#file_modify_form input[name="comment"]').val(button.data('comment'));
        $('#file_modify_form input[name="author"]').val(button.data('author'));
        $('#file_modify_form input[name="version"]').val(button.data('version'));
        $('#file_modify_form input[name="poc"]').val(button.data('poc'));
    });



    $('#file_modify_accept').click(function() {
        $.ajax({
            url: '/compliance/evidence/file/modify/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: $('#file_modify_form').serialize()
        }).done(function(response){
            alert(response)
            if(response.startsWith("Success")){
                location.reload()
                return 0
            }
        })
    });

    $('#file_delete').on('shown.bs.modal', function (e) {
        var button = $(e.relatedTarget); // 클릭된 버튼
        $('#file_delete_form input[name="data_name"]').val(button.data('data-name'));
        $('#file_delete_form input[name="upload_date"]').val(button.data('upload-date'));
        $('#file_delete_form input[name="name"]').val(button.data('name'));
        $('#file_delete_form input[name="comment"]').val(button.data('comment'));
        $('#file_delete_form input[name="author"]').val(button.data('author'));
        $('#file_delete_form input[name="version"]').val(button.data('version'));
        $('#file_delete_form input[name="poc"]').val(button.data('poc'));
    });

    $('#file_delete_accept').click(function (){
        $.ajax({
            url: '/compliance/evidence/file/delete/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: $('#file_delete_form').serialize()
        }).done(function(response){
            alert(response)
            if(response.startsWith("Success")){
                location.reload()
                return 0
            }
        })
    })

function add_com(data_name){
    // Call your Ajax function here
    var data_name = data_name;
    var compliance=$('#compliance').val();
    var version_selected=$('#version_selected').val();
    var article_selected=$('#article_selected').val();

    console.log('compliance: ', compliance);
    console.log('version:', version_selected);
    console.log('article_selected: ', article_selected);
    console.log('data_name: ', data_name);


    $.ajax({
        url: '/compliance/evidence/com_add/',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}"
        },
        type: 'POST',
        data: {
            'name': data_name,
            'compliance': compliance,
            'version_selected':version_selected,
            'article_selected': article_selected
        },
        success: function(response){       
            if(response.startsWith('\n<meta')){
                location.reload()
            }
            if(response === 'success'){
                alert('Saved Successfully')
                location.reload()
            }else if(response === 'already exist'){
                alert('Name is already exist. Try Again') //중복된거면 카테고리 comment라도 수정할 건지 물어볼 수 있어야 되는데,,,
            }else if(response === 'NULL'){
                alert('Compliance and Version must be entered. Try Again')
            }
            else {
                alert('Failed To Save. Please Try Again')
            }
        },
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); 
        }
    })

    
}


// 페이지 로드 시 초기화 함수 호출
{% comment %} window.onload = function() {
    // 상위 카테고리를 서버에서 받아오는 함수 호출
    fetchComplianceSelected();
} {% endcomment %}

// 상위 카테고리를 서버에서 받아오는 함수
{% comment %} function fetchComplianceSelected() {
    var compliance_selected = document.getElementById('compliance');
    
    //실제로 데이터 가져오는 곳.
    var compliance_list=[]
    return 0
    $.ajax({
        url: '/compliance/evidence/get_compliance',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}"
        },
        type: 'POST',
        data: {},
        success: function (response) {
            var compliance_list = response['compliance_list'];
            
            for (var i = 0; i < compliance_list.length; i++) {
                var compliance = compliance_list[i];
                var optionElement = document.createElement('option');
                optionElement.value = compliance;
                optionElement.text = compliance;
                compliance_selected.add(optionElement);
            }
        },
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); 
        }
    })

} {% endcomment %}

// 상위 카테고리가 변경될 때 호출되는 함수
function updateVersion() {
    var compliance_selected = document.getElementById('compliance');

    $.ajax({
        url: '/compliance/evidence/get_version',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}"
        },
        type: 'POST',
        data: {
            "compliance_selected": compliance_selected.value // Send the selected value to the server
        },
        success: function (response) {
            var version_list = response['version_list'];

            version_selected.innerHTML = ""; // 이전에 추가된 항목들 지우기

            var optionElement = document.createElement('option');
            optionElement.value = ''; // 실제 전달되는 값은 no만
            optionElement.text = 'Nothing Select';
            version_selected.add(optionElement);

            // 받아온 카테고리를 드롭다운에 추가
            for (var i = 0; i < version_list.length; i++) {
                var version = version_list[i]['version'];

                var optionElement = document.createElement('option');
                optionElement.value = version; // 실제 전달되는 값은 no만
                optionElement.text = version; 
            
                // version_selected에 추가
                version_selected.add(optionElement);
            }
        },
        error: function (xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
}


// 하위 카테고리를 서버에서 받아오는 함수
function updateArticle() {
    var compliance_selected = document.getElementById('compliance');
    var version_selected = document.getElementById('version_selected');

    $.ajax({
        url: '/compliance/evidence/get_article',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}"
        },
        type: 'POST',
        data: {
            "compliance_selected": compliance_selected.value, // Send the selected value to the server
            "version_selected": version_selected.value
        },
        success: function (response) {
            var article_list = response['article_list'];

            article_selected.innerHTML = ""; // 이전에 추가된 항목들 지우기

            var optionElement = document.createElement('option');
            optionElement.value = ''; // 실제 전달되는 값은 no만
            optionElement.text = 'Nothing Select';
            article_selected.add(optionElement);

            // 받아온 카테고리를 드롭다운에 추가
            for (var i = 0; i < article_list.length; i++) {
                var article = '['+article_list[i]['no']+'] '+article_list[i]['name'];
                var optionElement = document.createElement('option');
                optionElement.value = article_list[i]['no']; // 실제 전달되는 값은 no만
                optionElement.text = article;
                article_selected.add(optionElement);
            }
        },
        error: function (xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
}

function download_file(file_name) {
    console.log(file_name);
}

   

// 페이지 로드 시 초기화 함수 호출
{% comment %} window.onload = function() {
    // 상위 카테고리를 서버에서 받아오는 함수 호출
    fetchCategories();
} {% endcomment %}

// 상위 카테고리를 서버에서 받아오는 함수
{% comment %} function fetchCategories() {
    var compliance_selected = document.getElementById('compliance');
    //실제로 데이터 가져오는 곳.

    var compliance_list=[]

    $.ajax({
        url: '/compliance/evidence/get_compliance',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}"
        },
        type: 'POST',
        data: {},
        success: function (response) {
            var compliance_list = response['compliance_list'];
            
            for (var i = 0; i < compliance_list.length; i++) {
                var compliance = compliance_list[i];
                var optionElement = document.createElement('option');
                optionElement.value = compliance;
                //console.log(compliance);
                optionElement.text = compliance;
                compliance_selected.add(optionElement);
            }
        },
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); 
        }
    })

} {% endcomment %}

// 상위 카테고리가 변경될 때 호출되는 함수
function updateArticles() {
    var compliance_selected = document.getElementById('compliance');
    var article_selected = document.getElementById('article_selected');
    fetchSubCategories()
}

// 하위 카테고리를 서버에서 받아오는 함수
{% comment %} function fetchSubCategories() {
    var compliance_selected = document.getElementById('compliance');
    //console.log(compliance_selected.value)

    $.ajax({
        url: '/compliance/evidence/get_compliance_articles',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}"
        },
        type: 'POST',
        data: {
            "compliance_selected": compliance_selected.value // Send the selected value to the server
        },
        success: function (response) {
            console.log(response);
            var article_list = response['article_list'];

            article_selected.innerHTML = ""; // 이전에 추가된 항목들 지우기
            var optionElement = document.createElement('option');
            optionElement.value = ''; // 실제 전달되는 값은 no만
            optionElement.text = 'Nothing Select';

            article_selected.add(optionElement);
            // 받아온 카테고리를 드롭다운에 추가
            for (var i = 0; i < article_list.length; i++) {
                var article = '['+article_list[i]['no']+'] '+article_list[i]['name'];
                var optionElement = document.createElement('option');
                optionElement.value = article_list[i]['no']; // 실제 전달되는 값은 no만
                console.log(article);
                optionElement.text = article;
                article_selected.add(optionElement);
            }
        },
        error: function (xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
} {% endcomment %}

</script>

{% endblock %}

