<div class="searchcard shadow mb-4">
    <form id="search">
        <div class="searchcard-body py-3">
            <select class="btn-select" name="main_search_key">
                <option value="name">Name</option>
                <option value="comment">Comment</option>
                <option value="author">Author</option>
                <option value="last_update">Last Update</option>
            </select>
            <input class="search-input" name="main_search_value" placeholder="Search"/>
            <button class="btn-search" type="button" onClick="searchFilter()">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
            <!-- <button class="btn-collapse" type="button">
                <span class="material-symbols-outlined" style="font-size:30px">
                    expand_more
                </span>
            </button> -->
        </div>
    </form> 
        <div class="collapsecard" style="display:none;">
            <div class="searchcard-collapse pb-3" style="display:none;">
                <div class="collapsebox">
                    <div class="searchbox">
                        <div class="searchbox-header">
                            LogType
                        </div>
                        <div class="w-75">
                            <input class="searchbox-input dropdown-toggle" placeholder="LogType">
                            <ul class="search-dropdown-menu shadow" style="overflow:hidden scroll;">
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input logTypes" type="checkbox" name="logTypes" value="all" onclick="selectAll(this, 'logTypes')">All
                                    </label>
                                </li>
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input logTypes" type="checkbox" name="logTypes" value="regex" onclick="selectcheck(this, 'logTypes')">Regex
                                    </label>
                                </li>
                                {%for logTypes in logType_list %}
                                <li class="dropdown-item" style="">
                                    <label>
                                        <input class="form-check-input logTypes" type="checkbox" name="logTypes" value="{{logTypes}}" onclick="selectcheck(this, 'logTypes')">{{logTypes}}
                                    </label>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    <div id="logTypes_regex" class="regexbox" style="display: none;">
                        <input name="logTypes_regex" class="regex-input" placeholder="LogType Regex">
                    </div>
                </div>
                <div class="collapsebox">
                    <div class="searchbox">
                        <div class="searchbox-header">
                            EventTime
                        </div>
                        <div class="calandar">
                            <input class="calandar-input" type="date" name="eventTime_date_start">
                            <span style="font-size:14px;">~</span>
                            <input class="calandar-input" type="date" name="eventTime_date_end">
                        </div>
                    </div>
                </div>
                <div class="collapsebox">
                    <div class="searchbox">
                        <div class="searchbox-header">
                            EventType
                        </div>
                        <div class="w-75">
                            <input class="searchbox-input dropdown-toggle" placeholder="EventType">
                            <ul class="search-dropdown-menu shadow" style="overflow:hidden scroll;">
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input eventType" type="checkbox" name="eventType" value="all" onclick="selectAll(this, 'eventType')">All
                                    </label>
                                </li>
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input eventType" type="checkbox" name="eventType" value="regex" onclick="selectcheck(this, 'eventType')">Regex
                                    </label>
                                </li>
                                {%for eventType in eventType_list %}
                                <li class="dropdown-item" style="">
                                    <label>
                                        <input class="form-check-input eventType" type="checkbox" name="eventType" value="{{eventType}}" onclick="selectcheck(this, 'eventType')">{{eventType}}
                                    </label>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    <div id="eventType_regex" class="regexbox" style="display: none;">
                        <input name="eventType_regex" class="regex-input" placeholder="Event Name Regex">
                    </div>
                </div> 
            </div>
            <div class="searchcard-collapse pb-3" style="display:none;">
                <div class="collapsebox">
                    <div class="searchbox">
                        <div class="searchbox-header">
                            Source
                        </div>
                        <div class="w-75">
                            <input class="searchbox-input dropdown-toggle" placeholder="Source">
                            <ul class="search-dropdown-menu shadow" style="overflow:hidden scroll;">
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input source" type="checkbox" name="source" value="all" onclick="selectAll(this, 'source')">All
                                    </label>
                                </li>
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input source" type="checkbox" name="source" value="regex" onclick="selectcheck(this, 'source')">Regex
                                    </label>
                                </li>
                                {%for source in source_list %}
                                <li class="dropdown-item" style="">
                                    <label>
                                        <input class="form-check-input source" type="checkbox" name="source" value="{{source}}" onclick="selectcheck(this, 'source')">{{source}}
                                    </label>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>                    
                    <div id="source_regex" class="regexbox" style="display: none;">
                        <input name="source_regex" class="regex-input" placeholder="Source Regex">
                    </div>
                </div>
                <div class="collapsebox">
                    <div class="searchbox">
                        <div class="searchbox-header">
                            Src IP
                        </div>
                        <div class="w-75">
                            <input class="searchbox-input dropdown-toggle" placeholder="Src IP">
                            <ul class="search-dropdown-menu shadow" style="overflow:hidden scroll;">
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input srcIp" type="checkbox" name="srcIp" value="all" onclick="selectAll(this, 'srcIp')">All
                                    </label>
                                </li>
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input srcIp" type="checkbox" name="srcIp" value="regex" onclick="selectcheck(this, 'srcIp')">Regex
                                    </label>
                                </li>
                                {%for srcIp in srcIp_list %}
                                <li class="dropdown-item" style="">
                                    <label>
                                        <input class="form-check-input srcIp" type="checkbox" name="srcIp" value="{{srcIp}}" onclick="selectcheck(this, 'srcIp')">{{srcIp}}
                                    </label>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    <div id="srcIp_regex" class="regexbox" style="display: none;">
                        <input name="srcIp_regex" class="regex-input" placeholder="Src IP Regex">
                    </div>
                </div>
            </div>
            <div class="searchcard-collapse pb-3" style="display:none;">
                <div class="collapsebox">
                    <div class="searchbox">
                        <div class="searchbox-header">
                            Destination
                        </div>
                        <div class="w-75">
                            <input class="searchbox-input dropdown-toggle" placeholder="Destination">
                            <ul class="search-dropdown-menu shadow" style="overflow:hidden scroll;">
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input destination" type="checkbox" name="destination" value="all" onclick="selectAll(this, 'destination')">All
                                    </label>
                                </li>
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input destination" type="checkbox" name="destination" value="regex" onclick="selectcheck(this, 'destination')">Regex
                                    </label>
                                </li>
                                {%for destination in destination_list %}
                                <li class="dropdown-item" style="">
                                    <label>
                                        <input class="form-check-input destination" type="checkbox" name="destination" value="{{destination}}" onclick="selectcheck(this, 'destination')">{{destination}}
                                    </label>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>                    
                    <div id="destination_regex" class="regexbox" style="display: none;">
                        <input name="destination_regex" class="regex-input" placeholder="Destination Regex">
                    </div>
                </div>
                <div class="collapsebox">
                    <div class="searchbox">
                        <div class="searchbox-header">
                            Dst IP
                        </div>
                        <div class="w-75">
                            <input class="searchbox-input dropdown-toggle" placeholder="Dst IP">
                            <ul class="search-dropdown-menu shadow" style="overflow:hidden scroll;">
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input dstIp" type="checkbox" name="dstIp" value="all" onclick="selectAll(this, 'dstIp')">All
                                    </label>
                                </li>
                                <li class="dropdown-item">
                                    <label>
                                        <input class="form-check-input dstIp" type="checkbox" name="dstIp" value="regex" onclick="selectcheck(this, 'dstIp')">Regex
                                    </label>
                                </li>
                                {%for dstIp in dstIp_list %}
                                <li class="dropdown-item" style="">
                                    <label>
                                        <input class="form-check-input dstIp" type="checkbox" name="dstIp" value="{{dstIp}}" onclick="selectcheck(this, 'dstIp')">{{dstIp}}
                                    </label>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    <div id="dstIp_regex" class="regexbox" style="display: none;">
                        <input name="dstIp_regex" class="regex-input" placeholder="Dst IP Regex">
                    </div>
                </div>
                
                <button class="btn-reset" type="button" onClick="searchFilter('reset')">
                    <span class="material-symbols-outlined">
                        restart_alt
                    </span>
                    Reset
                </button>
                <button class="btn-info disabled" type="button" onClick="searchFilter('reset')">
                    <span class="material-symbols-outlined">
                        info
                    </span>
                    Info
                </button>
            </div>
        </div>
    <!-- </form>-->
</div>