{% load custom_filter %}
{% load static %} 
<div style="display: flex; justify-content: space-between; align-items: center;" class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-teiren">{{dataType}} Assets Management</h6>
        <div class="d-flex justify-content-end">
            <input type="hidden" name="dataName" id="dataName" value="{{dataType}}"/>
            <button class="btn btn-sm btn-teiren" data-toggle="modal" data-target="#assets_data_modify">Modify {{dataType}}</button>
            <span style="margin-left: 5px; margin-right: 5px;"></span>
            <button class="btn btn-sm btn-teiren" data-toggle="modal" data-target="#assets_data_delete">Delete {{dataType}}</button>
            <span style="margin-left: 5px; margin-right: 5px;"></span>
            <button class="btn btn-sm btn-teiren" data-toggle="modal" data-target="#assets_add">Add {{dataType}} Asset</button>
            <span style="margin-left: 5px; margin-right: 5px;"></span>
            <button class="btn btn-sm btn-teiren">Excel Download</button>
        </div>        
    </h4>
    <!-- Upload Asset Modal -->
    <div class="modal hide fade card-body" id="assets_add" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style='width:700px; height:auto'>
                <div class="modal-header">
                    <h5 class="m-0 font-weight-bold text-primary" id='modal_title'>Upload {{dataType}} Asset</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body card-body" style="font-size:12px;">
                    <form id="add_assets_form" enctype="multipart/form-data">
                    <div>
                        <p>Asset Type: <input type="text" class="form-control" id='assetType' name="assetType" value='' required></p>
                        <p>Serial Number: <input type="text" class="form-control" id='serialNo' name="serialNo" value='' placeholder="Enter a serial number of asset"></p>
                        <p>Asset Name: <input type="text" class="form-control" id='assetName' name="assetName" value='' placeholder="Enter a Comment of File"></p>
                        <p>Usage: <input type="text" class="form-control" id='assetUsage' name="assetUsage" value='' placeholder="ex. 개발용 Database"></p>
                        <p>Data: <input type="text" class="form-control" id='assetData' name="assetData" value='' placeholer="ex. 자산 내역"></p>
                        <p>Level: <input type="text" class="form-control" id='assetLevel' name="assetLevel" value='' placeholder="Enter asset security level"></p>
                        <p>Person of Contact: <input type="text" class="form-control" id='assetPoC' name="assetPoC" value='' placeholder="ex. 데이터팀 이현경"></p>
                        <p>User: <input type="text" class="form-control" id='assetUser' name="assetUser" value=''></p>
                        <input type="hidden" name="dataType" id="dataType" value="{{dataType}}"/>   
                        {% csrf_token %}
                    </div>
                    </form>
                </div>
                <div class="modal-footer" id="modal_footer">
                    <button type='submit' id='add' class="btn btn-md btn-outline-primary" onclick="addAssets()">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Assets Data Modal -->
    <div class="modal hide fade card-body" id="assets_data_delete" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style='width:700px; height:auto'>
                <div class="modal-header">
                    <h5 class="m-0 font-weight-bold text-primary" id='modal_title'>Delete {{dataType}} Asset</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body card-body" style="font-size:15px;">
                    <div>
                        <p>Data Type: {{dataType}}</p>
                        <p>등록되어 있는 자산 목록이 모두 삭제됩니다. 삭제하시겠습니까?</p>
                    </div>
                </div>
                <div class="modal-footer" id="modal_footer">
                    <button id='add' class="btn btn-md btn-outline-primary" onclick="deleteAssetData('{{dataType}}')">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modify Asset Data Modal -->
    <div class="modal hide fade card-body" id="assets_data_modify" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style='width:700px; height:auto'>
                <div class="modal-header">
                    <h5 class="m-0 font-weight-bold text-primary" id='modal_title'>Modify {{dataType}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body card-body" style="font-size:12px;">
                    <form id="modifyData_form" enctype="multipart/form-data">
                    <div>
                        {% for data in data_list %}
                        <p>Data: <input type="text" class="form-control" id='assetData' name="assetData" value='{{data.dataType}}'></p>
                        <p>Data Comment: <input type="text" class="form-control" id='dataComment' name="dataComment" value='{{data.dataComment}}'></p>
                        {% endfor %}
                        {% csrf_token %}
                        <input type="hidden" name="dataType" id="dataType" value="{{dataType}}"/>   
                    </div>
                    </form>
                </div>
                <div class="modal-footer" id="modal_footer">
                    <button type='submit' id='modify' class="btn btn-md btn-outline-primary" onclick="modifyAssetData()">Modify</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="card-body" style="font-size:15px;">
    <div class="table-responsive" style="overflow:hidden;">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
           style="text-align:center;font-size:15px;">
        <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Serial No</th>
                <th>Name</th>
                <th>Usage</th>
                <th>Data</th>
                <th>Level</th>
                <th>PoC</th>
                <th>User</th>
                <th>Upload Date</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets%}
                {% if asset.assetName is not null%}
                <tr>
                    <td width="3%">
                        <input type="checkbox" name="check" id="check">
                    </td>
                    <td>{{asset.assetType}}</td>
                    <td>{{asset.assetNo}}</td>
                    <td>{{asset.assetName}}</td>
                    <td>{{asset.assetUsage}}</td>
                    <td>{{asset.assetData}}</td>
                    <td>{{asset.assetLevel}}</td>
                    <td>{{asset.assetPoC}}</td>
                    <td>{{asset.assetUser}}</td>
                    <td>{{asset.assetDate}}</td>
                    <td>
                        <input type="hidden" name="dataType" id="dataType" value="{{dataType}}"/>
                        <input type="hidden" name="assetType" id="assetType" value="{{asset.assetType}}"/>
                        <input type="hidden" name="serialNo" id="serialNo" value="{{asset.assetNo}}"/>
                        <input type="hidden" name="assetName" id="assetName" value="{{asset.assetName}}"/>
                        <input type="hidden" name="assetUsage" id="assetUsage" value="{{asset.assetUsage}}"/>
                        <input type="hidden" name="assetData" id="assetData" value="{{asset.assetData}}"/>
                        <input type="hidden" name="assetLevel" id="assetLevel" value="{{asset.assetLevel}}"/>
                        <input type="hidden" name="assetPoC" id="assetPoC" value="{{asset.assetPoC}}"/>
                        <input type="hidden" name="assetUser" id="assetUser" value="{{asset.assetUser}}"/>
                        <input type="hidden" name="assetId" id="assetId" value="{{asset.assetId}}"/>
                        <button class="btn btn-sm btn-teiren" data-toggle="modal" data-target="#assets_modify" onclick="assetsModifyModal(this)">modify</button>
                    </td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="serial_no" id="serial_no" value="{{asset.assetNo}}"/>
                            <button type="button" class="btn btn-sm btn-teiren" onclick="deleteAssets(this)">delete</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="12">No Registered Assets</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    <!-- Modify Assets Modal -->
    <div class="modal hide fade card-body" id="assets_modify" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style='width:700px; height:auto'>
                <div class="modal-header">
                    <h5 class="m-0 font-weight-bold text-primary" id='modal_title'>Modify Asset</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body card-body" style="font-size:12px;">
                    <form id="modify_assets_form" enctype="multipart/form-data">
                    <div>
                        <p>Asset Type: <input type="text" class="form-control" id='assetType' name="assetType" value='{{asset.assetType}}'></p>
                        <p>Serial Number: <input type="text" class="form-control" id='serialNo' name="serialNo" value='{{asset.assetNo}}'></p>
                        <p>Asset Name: <input type="text" class="form-control" id='assetName' name="assetName" value='{{asset.assetName}}'></p>
                        <p>Usage: <input type="text" class="form-control" id='assetUsage' name="assetUsage" value='{{asset.assetUsage}}'></p>
                        <p>Data: <input type="text" class="form-control" id='assetData' name="assetData" value='{{asset.assetData}}'></p>
                        <p>Level: <input type="text" class="form-control" id='assetLevel' name="assetLevel" value='{{asset.assetLevel}}'></p>
                        <p>Person of Contact: <input type="text" class="form-control" id='assetPoC' name="assetPoC" value='{{asset.assetPoC}}'></p>
                        <p>User: <input type="text" class="form-control" id='assetUser' name="assetUser" value='{{asset.assetUser}}'></p>
                        <input type="hidden" name="assetId" id="assetId" value="{{asset.assetId}}"/>
                        <input type="hidden" name="dataType" id="dataType" value="{{dataType}}"/>
                        {% csrf_token %}
                    </div>
                    </form>
                </div>
                <div class="modal-footer" id="modal_footer">
                    <button type='submit' id='modify' class="btn btn-md btn-outline-primary" onclick="modifyAssets()">Modify</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addAssets(){
        var data = $('#add_assets_form').serialize()
        $.ajax({
            url: '/compliance/assets_add/',
            data: data,
            type: 'post'
        }).done(function(response){
            alert(response)
        })
    }

    function assetsModifyModal(e){
        var data = $(e.parentNode).find('input')
        data.each(function(){
            $(`#assets_modify #${this.name}`).val(this.value)
        })
    }

    function deleteAssetData(dataType){
        $.ajax({
            url: '/compliance/assets_data_delete/',
            headers:{
                'X-CSRFToken': '{{csrf_token}}'
            },
            data:{
                dataType:dataType
            },
            type: 'post'
        }).done(function(response){
            alert(response)
        })
    }

    function modifyAssetData(){
        var data = $('#modifyData_form').serialize()
        console.log(data)
        $.ajax({
            url: '/compliance/assets_data_modify/',
            data: data,
            type: 'post'
        }).done(function(response){
            alert(response)
        })
    }

    function modifyAssets(){
        var data = $('#modify_assets_form').serialize()
        console.log(data)
        $.ajax({
            url: '/compliance/assets_modify/',
            data: data,
            type: 'post'
        }).done(function(response){
            alert(response)
        })
    }

    function deleteAssets(e){
        var data=$(e).parent().serialize()
        console.log(data)
        $.ajax({
        url:'/compliance/assets_delete/',
        headers:{
            'X-CSRFToken': '{{csrf_token}}'
        },
        data: data,   
        type: 'post'
    }).done(function(response){
        alert(response)
    })   
    }
</script>