{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- Page Essential -->
<link rel="stylesheet" href="{% static '/M_compliance/css/compliance_lists/compliance_lists.css' %}">
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="locationbar ml-2">
    <span>Compliance Management&nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">Compliance Lists<span>
</div>
<div>
    <!-- Page Heading -->
    <h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">Compliance Lists</h6>
    <p class="h6 mb-4 ml-2">Select Compliance to Manage</p>
    
    <!--
    <form id="search" onsubmit="filterSearch()">
        <div class="searchcard shadow mb-4">
            <div class="searchcard-body py-3">
                <select class="btn-select" name="search_key">
                    <option>All</option>
                    <option>Cloud Service Platform</option>
                    <option>Security Solution</option>
                    <option>System</option>
                </select>
                <input class="search-input" name="search_value" placeholder="Search"/>
                <button class="btn-search" type="button" onClick="filterSearch()">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </div>
        </div>
    </form>
    -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-teiren">Compliance Lists</h6>
        </div>
        <div class="card-body">
            <div class="registration mt-3">
                <div class="regi-header">
                    <h6 class="h4 text-uppercase font-weight-bold">Compliance</h6>
                </div>
                <div class="regi-body">
                    <a class="regi-item shadow" href="/compliance/lists/ISMS-P/">
                        <span hidden>ISMS-P</span>
                        <img src="{% static '/img/ISMS-P-logo.png' %}">
                        <span class="span text-success font-weight-bold text-uppercase">ISMS-P</span>
                    </a>
                    <a class="regi-item shadow disabled" href="/compliance/lists/Gdpr/">
                        <span hidden>GDPR</span>
                        <img src="{% static '/img/gdpr-logo.png' %}">
                        <span class="span text-primary font-weight-bold text-uppercase">GDPR</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}