{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Begin Page Content -->

<div class="locationbar ml-2">
    <span>Compliance &nbsp;&nbsp;>&nbsp;&nbsp;Compliance &nbsp;&nbsp;>&nbsp;&nbsp;증적관리&nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">{{title}} <span>
</div>

<!-- Page Heading -->
<h2 class="h2 font-weight-bold mb-2 text-gray-800 ml-2">{{title}}</h2>
<p class="h4 mb-4 ml-2">{{title}} 분류에 대한 내용 및 관련 법령, 매핑 항목, 증적 버전 관리 등을 수행할 수 있습니다.</p>    
<div class="card shadow mb-4" id="log_table">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-teiren">증적 리스트</h4>
    </div>
    
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <tbody>
                    {%for c in category%}
                    <tr>
                        <th>분류</th>
                        <td>{{c.cate.name}}</td>
                    </tr>

                    <tr>
                        <th>설명</th>
                        <td>{{c.cate.comment}}</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <th>매핑 항목 요약</th>
                        <td>
                            {%for l in law_list%}
                            {{l.com.name}},
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="log_table">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-teiren">최근 증적 미리보기</h4>
    </div>

    <h2> 준비중입니다.</h2>

    <div class="card-header py-3">
        <form method="POST" action="/compliance/evidence_data_add/">
            <h4 class="m-0 font-weight-bold text-teiren">증적 현황
                {% csrf_token %}
                <input type="hidden" name="title" value="{{title}}"/>
                <input type="submit" class="btn btn-md btn-teiren" style="font-size:0.7vw" value="증적추가"/>
            </h4>
        </form>
    </div>

    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>파일명</th>
                        <th>세부설명</th>
                        <th>버전</th>
                        <th>파일</th>
                        <th>작성자</th>
                        <th>작업</th>
                    </tr>
                </thead>
                <tbody>
                    {%for d in data_list%}
                        <tr>
                            <td>1</td>
                            <td>{{d.name}}</td>
                            <td>{{d.comment}}</td>
                            <td>{{d.version_date}}</td>
                            <td> - </td>
                            <td> - </td>
                            <td>
                                <a href="/compliance/evidence_2" class="btn btn-md btn-danger" style="font-size:0.7vw">
                                    수정
                                </a>
                                <a href="/compliance/evidence_2" class="btn btn-md btn-teiren" style="font-size:0.7vw">
                                    삭제
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="log_table">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-teiren">관련 인증 및 정책</h4>
    </div>

    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>인증/법령</th>
                        <th>버전</th>
                        <th>항목</th>
                        <th>바로가기</th>
                    </tr>
                </thead>
                <tbody>
                    {%for l in law_list%}
                        <td>1</td>
                        <td>{{l.com.name}}</td>
                        <td>{{l.ver.date}}</td>
                        <td>
                            {{l.chap.no}}. {{l.chap.name}} ><br>
                            {{l.sec.no}}. {{l.sec.name}} ><br>
                            {{l.arti.no}}. {{l.arti.name}}
                        </td>
                        <td>
                            <a href="#" class="btn btn-md btn-teiren" style="font-size:0.7vw">
                                바로가기
                            </a>
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

