{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/M_compliance/css/evidence_management/searchcard.css' %}">
{% endblock head %}
{% block content %}
<!-- Begin Page Content -->
<div class="locationbar ml-2">
    <span>Compliance Management&nbsp;&nbsp;>&nbsp;&nbsp;Compliance &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">Evidence Management<span>
</div>


<!-- Page Heading -->
<h6 class="h3 mb-2 font-weight-bold text-gray-800 ml-2">Evidence Management</h6>
<p class="h6 mb-4 ml-2">Manage the entire evidence, manage the version, and manage the mapping at once.</p>
{% include "./evidence_management/searchcard.html" %}
<div class="card shadow mb-4" id="log_table">
    <div class="card-header row align-items-center py-3">
        <h6 class="m-0 mr-3 font-weight-bold text-teiren">Evidence List</h6>
        <button class="btn btn-md btn-teiren ml-auto mr-2" data-toggle="modal" data-target="#data_add"><i class="fa-solid fa-plus mr-2"></i>Add Data</button>           
    </div>
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="evidence_dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Comment</th>
                        <th>Author</th>
                        <th>Last update</th>
                        <th>Files</th>
                        <th>Modify</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data_list%}
                        <tr>
                            <td style="width:20%;">{{forloop.counter}}</td>
                            <td>{{data.product.name}}</td>
                            <td>{{data.data.name}}</td>
                            <td>{{data.data.comment}}</td>
                            <td>{{data.data.author}}</td>
                            <td>{{data.data.last_update}}</td>
                            <td>
                                <a href="/compliance/evidence/{{ data.data.name }}/">
                                    <button type="button" class="btn btn-md btn-teiren">바로가기</button>
                                </a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-md btn-teiren" data-toggle="modal" data-target="#data_mod"
                                data-name="{{data.data.name}}" data-comment="{{data.data.comment}}" data-author="{{data.data.author}}"><i class="fa-solid fa-pen-to-square mr-2"></i>Modify</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-md btn-danger" onclick="del_data('{{data.data.name}}')"><i class="fa-solid fa-trash mr-2"></i>Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Data Modal -->
<div class="modal hide fade card-body" id="data_add" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-primary" id='modal_title'>Add Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="data_add_form">
                    <p>Choose Product:
                        <select class="form-control" id="product_selected" name="product" placeholder="test">
                            <option value="">Select Product</option>
                            {% for product in product_list %}
                            <option value="{{product}}">{{product}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>Name: <input class="form-control" name="add_name" type="text"></p>
                    <p>Comment: <input class="form-control" name="add_comment" type="text"></p>
                    <p>Author: <input class="form-control" name="add_author" type="text"></p>

                    <p>Related Compliance:
                        <select class="form-control" id="compliance" name="compliance" onchange="updateVersion()">
                            <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                            <option value="">Choose Compliance</option>
                            {% for compliance in compliance_list %}
                            <option value="{{compliance}}">{{compliance}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>Related Compliance Version:
                        <select class="form-control" id="version_selected" name="version" onchange="updateArticle()">
                            <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                            <option value=""></option>
                        </select>
                    </p>
                    <p>Related Compliance Article:
                        <select class="form-control" id="article_selected" name="article">
                            <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                            <option value=""></option>
                        </select>
                    </p>
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' id='add_accept' class="btn btn-md btn-outline-primary" value="Save">
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Mod Data Modal -->
<div class="modal hide fade card-body" id="data_mod" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:700px; height:auto'>
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-primary" id='modal_title'>Modify Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <div>
                    <input class="form-control" name="last_name" type="hidden"><br><br>
                    Data Name: <input class="form-control" name="mod_name" type="text"><br><br>
                    Comment: <input class="form-control" name="mod_comment" type="text"><br><br>
                    Author: <input class="form-control" name="mod_author" type="text"><br><br>

                    <!-- Relation Compliance를 추가할 수 있는 코드를 아래 제작해야 함-->
                </div>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' id='mod_quit' class="btn btn-md btn-outline-danger" data-dismiss='modal' value="Cancel">
                <input type='button' id='mod_accept' class="btn btn-md btn-outline-primary" value="Modify">
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('#data_mod').on('shown.bs.modal', function (e) {
        var button = $(e.relatedTarget); // 클릭된 버튼
        var last_name = button.data('name'); // data-name 속성의 값
        var data_name = button.data('name'); // data-name 속성의 값
        var data_comment = button.data('comment'); // data-name 속성의 값
        var data_author = button.data('author'); // data-name 속성의 값

        // 모달 내부 필드에 데이터 표시
        $('input[name="last_name"]').val(last_name);
        $('input[name="mod_name"]').val(data_name);
        $('input[name="mod_comment"]').val(data_comment);
        $('input[name="mod_author"]').val(data_author);
    });

    $('#add_accept').click(function() {
        $.ajax({
            url: 'data/add/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: $('#data_add_form').serialize()
        }).done(function(response){
            alert(response)
            if(response === 'success'){
                location.reload()
                return 0
            }
        })
    });

    // 상위 카테고리가 변경될 때 호출되는 함수
    function updateVersion() {
        $.ajax({
            url: 'data/get_version/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: {
                "compliance": $('#compliance').val()
            }
        }).done(function(response){
            var version_list = response['version_list'];
            $('#article_selected').html('')
            $('#version_selected').html('')
            $('#version_selected').append(
                $('<option>').text('Choose Compliance Version').attr('disabled', true).attr('selected', true)
            )
            $(version_list).each(function(i){
                var version = $('<option>').text(this).val(this)
                $('#version_selected').append(version)
            })
        })
    }


    // 하위 카테고리를 서버에서 받아오는 함수
    function updateArticle() {
        $.ajax({
            url: 'data/get_article/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: {
                "compliance": $('#compliance').val(), // Send the selected value to the server
                "version": $('#version_selected').val()
            }
        }).done(function(response){
            var article_list = response['article_list']
            $('#article_selected').html('')
            $('#article_selected').append(
                $('<option>').text('Choose Compliance Article').attr('disabled', true).attr('selected', true)
            )
            $(article_list).each(function(){
                var version = $('<option>').text(`${this['no']} ${this['name']}`).val(`${this['no']} ${this['name']}`)
                $('#article_selected').append(version)
            })
        })
    }


    $('#mod_accept').click(function() {
        // Call your Ajax function here
        var last_name=$('input[name="last_name"]').val();
        var mod_name = $('input[name="mod_name"]').val();
        var mod_comment = $('input[name="mod_comment"]').val();
        var mod_author = $('input[name="mod_author"]').val();


        $.ajax({
            url: '/compliance/evidence/data_mod/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: {
                'last_name':last_name,
                'mod_name': mod_name,
                'mod_comment': mod_comment,
                'mod_author': mod_author
            },
            success: function(response){
                if(response.startsWith('\n<meta')){
                    location.reload()
                }
                if(response === 'success'){
                    alert('Saved Successfully')
                    window.location.href= '/compliance/evidence/'
                }else if(response === 'already exist'){
                    alert('Name is already exist. Try Again') //중복된거면 카테고리 comment라도 수정할 건지 물어볼 수 있어야 되는데,,,
                }else if(response === 'NULL'){
                    alert('Name must be entered. Try Again')
                }
                else {
                    alert('Failed To Save. Please Try Again')
                }
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); 
            console.log(xhr.status + ": " + xhr.responseText); 
                console.log(xhr.status + ": " + xhr.responseText); 
            }
        })
    });

    function del_data(del_data_name){
        $.ajax({
            url: '/compliance/evidence/data_del/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: {
                'name': del_data_name,
            },
            success: function(response){
                if(response.startsWith('\n<meta')){
                    location.reload()
                }
                if(response === 'success'){
                    alert('Deleted Successfully')
                    window.location.href= '/compliance/evidence/'
                } else {
                    alert('Failed To Save. Please Try Again')
                }
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); 
            console.log(xhr.status + ": " + xhr.responseText); 
                console.log(xhr.status + ": " + xhr.responseText); 
            }
        })
    }
</script>
<script src="{% static '/M_compliance/js/evidence_management/searchcard.js' %}"></script>
{% endblock %}

