{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->

<h2>개요</h2>
<h3>
    {%for c in category%}
        분류: {{c.name}}<br>
        설명: {{c.comment}}<br>
        관련 법령: 
            {%for m in c.mapped_1%}
                {{m}}
            {% endfor %}
        <br>
    {% endfor %}
</h3>

<br><br>

<h2>증적 버전 관리</h2>
<h3>
    {%for d in data%}
        파일명: {{d.name}}<br>
        세부 설명: {{d.comment}}<br>
        버전: {{d.version_date}}<br>
    {% endfor %}
<h3>


{% endblock %}

