{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<div class="locationbar ml-2">
    <span>Compliance &nbsp;&nbsp;>&nbsp;&nbsp;Compliance &nbsp;&nbsp;>&nbsp;&nbsp;</span>
    <span class="current">증적관리<span>
</div>

<!-- Page Heading -->
<h2 class="h2 font-weight-bold mb-2 text-gray-800 ml-2">증적 리스트</h2>
<p class="h4 mb-4 ml-2">전체 증적 관리 및 버전관리, 매핑 관리를 한번에 수행할 수 있습니다.</p>    

<div class="card shadow mb-4" id="log_table">
    <div class="card-header py-3 row">
        <h4 class="m-0 font-weight-bold text-teiren">
            분류 상세
        </h4>
        <button class="btn btn-md btn-teiren ml-auto mr-3" data-toggle="modal" data-target="#add_modal">
            항목 추가
        </button>
    </div>
    
    <div class="card-body" style="font-size:15px;">
        <div class="table-responsive" style="overflow:hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                style="table-layout:fixed;text-align:center;font-size:15px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>분류</th>
                        <th>설명</th>
                        <th>증적</th>
                        <th>비고</th>
                        <th>작업</th>
                    </tr>
                    </thead>
                
                <tbody>
                    {% for category in category_list%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{category.name }}</td>
                            <td>{{category.comment}}</td>
                            <td>
                                <form method="POST" action="/compliance/evidence/data/{{category.name}}/">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-md btn-teiren" value="바로가기"/>           
                                </form>     
                            </td>
                            <td> - </td>
                            <td>
                                <button type="button" class="btn btn-md btn-teiren" onclick="mod_cate('{{category.name}}')">수정</button>
                                <button type="button" class="btn btn-md btn-danger" onclick="del_cate('{{category.name}}')">삭제</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade card-body" id="add_modal" role="dialog" style="overflow-y:auto" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style="width:1000px; height:auto">
            <div class="modal-header">
                <h5 class="m-0 font-weight-bold text-teiren" id="modal_title">Add Evidence</h5>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body card-body" style="font-size:12px;">
                <form id="add_form" class="mt-2">
                    <div class="form-group row text-center">
                        <div class="col-sm-6 mb-sm-1">
                            <span>Evidence Name</span>
                            <input type="text" class="form-control form-control-user" name="name" placeholder="Evidence Name">
                        </div>
                        <div class="col-sm-6">
                            <span>Evidence Comment</span>
                            <input type="text" class="form-control form-control-user" name="comment" placeholder="Evidence Comment">
                        </div>
                    </div>
                    
                    인증 매핑 리스트<br><br>
                    <div class="form-group row text-center">
                        <div class="col-sm-6 mb-sm-1">
                            <span>Compliance</span>
                            <select class="form-control form-control-user" id="compliance" name="compliance" style="height:auto" onchange="updateArticles()" >
                                <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                                <option value="none">Secelct Compliance</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <span>Article</span>
                            <select class="form-control form-control-user" id="article_selected" name="article_selected" style="height:auto">
                                <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                                <option value="none">Secelct Article</option>
                            </select>
                        </div>
                    </div>
                    법령 매핑 리스트<br><br>
                    <div class="form-group row text-center">
                        <div class="col-sm-6 mb-sm-1">
                            <span>Law</span>
                            <select class="form-control form-control-user" id="law" name="law" style="height:auto" onchange="updateLawChapter()" >
                                <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                                <option value="none">Secelct Law</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <span>Chapter</span>
                            <select class="form-control form-control-user" id="chapter_selected" name="chapter_selected" style="height:auto">
                                <!-- 초기에는 아무것도 선택되지 않도록 빈 옵션 추가 -->
                                <option value="none">Secelct Chapter</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="modal_footer">
                <button type="button" class="btn btn-md btn-outline-danger mr-2" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-md btn-outline-teiren">Add</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function mod_cate(mod_cate_name){
        console.log(mod_cate_name);
    }
    
    function del_cate(del_cate_name){
        console.log(del_cate_name);
        del_cate_name=del_cate_name
    
        $.ajax({
            url: '/compliance/evidence_cate_del/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: {
                'name': del_cate_name,
            },
            success: function(response){
                if(response.startsWith('\n<meta')){
                    location.reload()
                }
                if(response === 'success'){
                    alert('Saved Successfully')
                    window.location.href= '/compliance/evidence_cate/'
                } else {
                    alert('Failed To Save. Please Try Again')
                }
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); 
            }
        })
    }
</script>
{% endblock %}

