{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Begin Page Content -->

    <h3>
    <form method="POST" action="/compliance/evidence_4/">
        {% csrf_token %}
        분류:
        <input name="category_name" type="text"><br><br>

        설명:
        <input name="category_comment" type="text"><br><br>

        파일명:
        <input name="data_name" type="text"><br><br>

        파일 세부 설명:
        <input name="data_comment" type="text"><br><br>


        매핑:
        <select id="category_mapped_1" name="category_mapped_1" class="btn btn-md" style="background-color:#FFFFFF; border-color:#E5E5E5;">
            <option value="isms-p">ISMS-P</option>
            <option value="GDRR">GDRR</option>
            <option value="CSAP">CSAP</option>
            <option value="iso27001">iso27001</option>
        </select><br><br>


    매핑 법령 세부 항목<br>
    <table class="table table-bordered">
        <tr>
            <td colspan='3'>ISMS-P</td>
        </tr>

        {% for a in article_list%}
            <tr>
                <td>{{a.no}}</td>
                <td>{{a.name}}</td>
                <td><label class="btn btn-md btn-teiren"><input type="checkbox" name="category_mapped_ismsp" value="{{a.no}}"/></td>
            </tr>
        {% endfor %}
    </table>

    <input class="btn btn-md btn-teiren" type="submit" vaule="제출"/>
</form>

 

{% endblock %}

