{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->

    분류: <input name="name" type="text"><br><br>
    설명: <input name="comment" type="text"><br><br>
    매핑 리스트
    <button type="button" class="btn btn-md btn-teiren" onclick="add_cate()">저장</button>

<script>
    function add_cate(){
        var name=document.querySelector('input[name="name"]');
        var comment=document.querySelector('input[name="comment"]');
        console.log(name.value);
        console.log(comment.value);
    

        $.ajax({
            url: '/compliance/evidence_cate_add/',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}"
            },
            type: 'POST',
            data: {
                'name': name.value,
                'comment': comment.value
            },
            success: function(response){
                if(response.startsWith('\n<meta')){
                    location.reload()
                }
                if(response === 'success'){
                    alert('Saved Successfully')
                    window.location.href= '/compliance/evidence_cate/'
                } else {
                    alert('Failed To Save. Please Try Again')
                }
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); 
            }
        })
    }
</script>

{% endblock %}

