{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- Begin Page Content -->


  <h3>
    {% for c in category %}
      Category: 
      {{c.cate.name}}<br><br>

      Category Comment:
      {{c.cate.comment}}<br><br>
       
    <form id="add_data">
      <input name="cate" value="{{c.cate.name}}" type="hidden"/>

      File name:
      <input name="name" type="text"><br><br>

      File comment:
      <input name="comment" type="text"><br><br>

      Version(Date):
      <input name="version_date" type="text"><br><br>

      Upload file:
      <h5>image 파일 전체, pdf, 엑셀(xlsx, xls, csv), 한글파일(hwp, hwpx), 파워포인트(ppt, pptx), 워드(docx, doc) 형식만 업로드 가능합니다.</h5>
      <input name="file" type="file" accept="image/*, .pdf, .xlsx, .xls, .hwp, .hwpx, .ppt, .pptx, .csv, .docx, .doc"><br><br>

      Author:
      <input name="author" type="text"><br><br>
  </form>
  <button class="btn btn-md btn-teiren" onclick="add_data('{{cate}}')"/>제출</button>
  {% endfor %}

</form>

<script>
  function add_data(cate){
    var data=$('#add_data').serialize()
      $.ajax({
          url: '/compliance/evidence_data_add_result/',
          headers: {
              'X-CSRFToken': "{{ csrf_token }}"
          },
          type: 'POST',
          data: data,
          success: function(response){
              if(response.startsWith('\n<meta')){
                  location.reload()
              }
              if(response === 'success'){
                  alert('Saved Successfully')
                  location.reload()
              }else if(response === 'already exist'){
                alert('file name is already exist. Try Again') //중복된거면 카테고리 comment라도 수정할 건지 물어볼 수 있어야 되는데,,,
              }else if(response === 'NULL'){
                  alert('Data name must be entered. Try Again')
              }
              else {
                  alert('Failed To Save. Please Try Again')
              }
          },
          error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText); 
          }
      })
  }
</script>
{% endblock %}

