{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<h1>ISMS-P</h1>

<br>
<!--단일 변수 출력-->
<h2>{{test_string}}</h2>
<br>

<div class="d-flex text-center mb-2">
    <!-- <div>
        <span>Cloud</span>
        <br>
        <select id="com_cloud" name="com_cloud" class="btn btn-md" style="background-color:#FFFFFF; border-color:#E5E5E5; width:100%;">
            <option value="2023-10-31">2023-10-31</option>
            <option value="2023-04-22">2023-04-22</option>
            <option value="2019-01-01">2019-01-01</option>
        </select>
    </div> -->
        <span>Version</span>
        <br>
        <select id="com_version" name="com_version" class="btn btn-md" style="background-color:#FFFFFF; border-color:#E5E5E5; width:100%;">
            {% for a in version_list %}
            <option value="{{a}}">{{a}}</option>
            {% endfor %}
        </select>
    <div>
        <button class="btn btn-md btn-teiren" onclick="versionModify()">
            Select
        </button>
    </div>
</div>

<div id="com_table" class="card-body" style="font-size:15px;">
    <div class="table-responsive" style="overflow:hidden;">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
               style="text-align:center;font-size:15px;">
            <thead>
            <tr>
                <th>Chapter</th>
                <th>Section</th>
                <th>Article</th>
                <th>Comment</th>
                <th>준수 여부</th>
                <th>Last Update</th>
                <th>Details</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Chapter</th>
                <th>Section</th>
                <th>Article</th>
                <th>Comment</th>
                <th>준수 여부</th>
                <th>Last Update</th>
                <th>Details</th>
            </tr>
            </tfoot>

            <tbody>
                <!--for 문으로 리스트 출력: 파이썬 코드를 쓸 때는 % % 안에 담아서 사용-->
                {% for com in compliance %}
                <tr>
                    <td>{{com.chapterNo}}. {{com.chapterName}}</td>
                    <td>{{com.sectionNo}} {{com.sectionName}}</td>
                    <td>{{com.articleNo}}. {{com.articleName}}</td>
                    <td width="40%">{{com.articleComment}}</td>
                    <td>
                        checkbox
                    </td>
                    <td>date</td>
                    <td>
                        <form  method="POST" action="/compliance/lists_2/">
                            {% csrf_token %}
                            <input type="hidden" name="no" value="{{com.articleNo}}"/>
                            <input type="hidden" name="name" value="{{com.articleName}}"/>
                            <button class="btn btn-md btn-teiren" style="font-size:0.7vw">
                                Details
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function versionModify(){
        var version = $('#com_version').val()
        $('#com_table').fadeOut('normal')
        $.ajax({
            url:'/compliance/version_modify/',
            headers:{
                'X-CSRFToken': '{{csrf_token}}'
            },
            data:{
                version: version
            },
            type: 'post'
        }).done(function(response){
            console.log(response)
            $('#com_table').html(response)
            $('#com_table').fadeIn('fast')
        })
        
    }

</script>

{% endblock %}


