{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h5 mb-2 text-gray-800 font-weight-bold">보고서 추출</h1>
    <p class="mb-4">월간 위협 보고서 및 컴플라이언스 인증 보고서를 다운로드 합니다.</p>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="btn col-xl-3 col-md-6 mb-4" onclick="location.href='/compliance/report_month'">
            <div class="card border-left-success shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md font-weight-bold text-success text-uppercase mb-1">
                                위협 월간 보고서
                            </div>
                            <img src="{% static '/img/excel-logo.png' %}" width='68%'>
                            <div class="h5 mt-2 font-weight-bold text-gray-800">
                                <span> 위협 월간 보고서 (Excel)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn col-xl-3 col-md-6 mb-4" href='/report_isms-p' target="_blank">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md font-weight-bold text-secondary text-uppercase mb-1">
                                ISMS-P
                            </div>
                            <img src="{% static '/img/ISMS-P-logo.png' %}" width='45%'>
                            <div class="h5 mt-2 font-weight-bold text-gray-800">
                                <span>ISMS-P 인증 보고서(PDF)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="btn col-xl-3 col-md-6 mb-4" href='/report_jujungtong' target="_blank">
            <div class="card border-left-teiren shadow h-100 py-2">
                <div class="card-body pb-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md font-weight-bold text-teiren text-uppercase mb-1">
                                주요정보통신기반시설 취약점 진단 가이드
                            </div>
                            <img class="pb-4 pt-3" src="{% static '/img/teiren_icon.png' %}" width="50%">
                            <div class="h5 mt-1 font-weight-bold text-gray-800">
                                <span>주요정보통신기반시설</br>취약점 인증보고서(PDF)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="btn col-xl-3 col-md-6 mb-4" href='/report_cloud_iaas' target="_blank">
            <div class="card border-left-teiren shadow h-100 py-2">
                <div class="card-body pb-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md font-weight-bold text-teiren text-uppercase mb-1">
                                CSAP IaaS
                            </div>
                            <img src="{% static '/img/csap-logo.png' %}" width="45%">
                            <div class="h5 mt-1 font-weight-bold text-gray-800">
                                <span>클라우드 보안인증</br>IaaS 보고서(PDF)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<script>
$('#report_month').on('click', function(){
    $.ajax({

    headers: {
        'X-CSRFToken': "{{ csrf_token }}"
    },
    url:"/report/report_month/",
    type: 'GET',
    success: function(response){
       alert("다운로드 되었습니다")
    }
    })
})
</script>
{% endblock %}