<div class="searchcard shadow mb-4">
    <div class="searchcard-body py-3">
        <div class="d-flex align-items-end text-center mb-2 w-100">
            <div class="search-select">
                <div class="searchbox-header">
                    Rule Type
                </div>
                <select id="com_version" name="com_version" class="btn-select">
                    {% for version in version_list %}
                    <option value="{{version}}">{{version}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="search-select">
                <label class="h5 mb-2" for="com_product">Product</label>
                <select id="com_product" name="com_product" class="btn-select">
                    {% for product in product_list %}
                    <option value="{{product.productName}}">{{product.productName}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <button class="btn-search" onclick="versionModify()">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>