{% load static %} 
    <div class="table-responsive" style="overflow:hidden;">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
               style="text-align:center;font-size:15px;">
            <thead>
            <tr>
                <th>Chapter</th>
                <th>Section</th>
                <th>Article</th>
                <th>Comment</th>
                <th>준수 여부</th>
                <th>사내 정책</th>
                <th>운영 현황</th>
                <th>Details</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Chapter</th>
                <th>Section</th>
                <th>Article</th>
                <th>Comment</th>
                <th>준수 여부</th>
                <th>사내 정책</th>
                <th>운영 현황</th>
                <th>Details</th>
            </tr>
            </tfoot>
            
            <tbody>
                <!--for 문으로 리스트 출력: 파이썬 코드를 쓸 때는 % % 안에 담아서 사용-->
                {% for com in compliance %}
                <tr>
                    <!-- {%for key, value in com.items%}
                        <td>{{value}}</td>
                    {% endfor %} -->
                    <td>{{com.chapterNo}} {{com.chapterName}}</td>
                    <td>{{com.sectionNo}} {{com.sectionName}}</td>
                    <td>{{com.articleNo}} {{com.articleName}}</td>
                    <td>{{com.articleComment}}</td>
                    <td>
                        checkbox
                    </td>
                    <td>
                        <img src="{% static '/img/doc.png' %}" style="height:1.3em">
                    </td>
                    <td>
                        {% if com.files == '-' %}
                        <img src="{% static '/img/text.png' %}" style="height:1.3em">
                        {% else %}
                        {% for i in com.files %}
                            {% if i == 'pdf' %}
                            <img src="{% static '/img/pdf.png' %}" style="height:1.3em">
                            {% elif i == 'jpg' %}
                            <img src="{% static '/img/image.png' %}" style="height:1.3em">
                            {% else %}
                            <img src="{% static '/img/image.png' %}" style="height:1.3em">
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <form  method="POST" action="/compliance/lists_2/">
                            {% csrf_token %}
                            <input type="hidden" name="no" value="{{com.articleNo}}"/>
                            <input type="hidden" name="name" value="{{com.articleName}}"/>
                            <button class="btn btn-md btn-teiren" style="font-size:0.7vw">
                                Details
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>


