{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <link rel="stylesheet" href="{% static '/css/tab_table.css' %}">
</head>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div>
        <h1 class="h3 mb-2 text-gray-800 ml-2">{{cloud|upper}} 정책 설정</h1>
        <p class="mb-4 ml-2">{{cloud|upper}} 로그의 상세한 허용/차단할 룰을 확인하고, 설정할 수 있습니다.</p>
    </div>
    <div class="tabs">
        <input type="radio" id="tab1" name="tab-control-modal" checked>
        <input type="radio" id="tab2" name="tab-control-modal">
        <ul class='ul'>
            <li title="사용자 설정 Rule">
                <label for="tab1" role="button">
                    <span>사용자 설정 Rule</span>
                </label>
            </li>
            <li title="기본 설정 Rule">
                <label for="tab2" role="button">
                    <span>기본 설정 Rule</span>
                </label>
            </li>
        </ul>
        <div class="slider">
            <div class="indicator"></div>
        </div>
        <div class="content">
            <section id='custom'>
                {% include './custom.html' %}
            </section>
            <section id='default'>
                {% include './default.html' %}
            </section>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- Rule Detail Modal -->
<div class="modal fade card-body" id="detail-modal" role="dialog" style='overflow-y:auto' aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style='width:1000px; height:auto'>
            <div class='d-flex justify-content-end p-3'>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body justify-content-center" id='detail_body'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-teiren" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Modal -->
<div class="modal fade card-body" id="rule-modal" role="dialog" style='overflow-y:auto' aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style='width:1000px; height:auto'>
            <div class='d-flex justify-content-end p-3'>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body justify-content-center" id='rule_body'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-teiren" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<div class="modal hide fade card-body" id="edit" role="dialog" style='overflow-y:auto' aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style='width:1000px; height:auto'>
            <button type="button" class="btn btn-teiren btn-md text-center mt-3 mr-3" style='margin-left:auto'
                data-dismiss='modal' data-toggle='modal' data-target='#detail-modal' onclick="$('#edit_body').html('')">
                <span class="icon text-white-50"><i class='fas fa-arrow-left'></i></span>
            </button>
            <div class="modal-body card-body" id='edit_body'>
            </div>
            <div class="modal-footer" id="modal_footer">
                <input type='button' class="btn btn-teiren" value="Close" data-dismiss='modal' data-toggle='modal' data-target='#detail-modal'>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal hide fade card-body" id="del" role="dialog" style='overflow-y:auto' aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style='width:1000px; height:auto; border-color:red'>
            <div class="modal-body card-body" id='del_body'>
                <h4 class="text-center text-danger font-weight-bold"><span class='h3 text-center text-danger font-weight-bold p-3' id='rule_name'></span><br>정책을 삭제하시겠습니까?</h4>
            </div>
            <div class="modal-footer" id="modal_footer">
                <form>
                    <div id='del_form' method='post'></div>
                    <input type='button' class="btn btn-outline-teiren" value="확인" onclick='del_action(this.parentNode)'>
                    <input type='button' class="btn btn-outline-danger" value="취소" data-dismiss='modal' data-toggle='modal' data-target='#detail-modal'>
                </form>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function add(cloud) {
        $.ajax({
            url: 'add/',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                cloud: cloud
            },
            type: 'post'
        }).done(function(data) {
            $('#rule_body').html(data);
        })
        $('#rule-modal').modal('show');
    }

    function detail(event) {
        var url = event.address.value
        var data = $(event).serialize()
        $.ajax({
            url: url,
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: data,
            type: 'post'
        }).done(function(data) {
            $('#detail_body').html(data)
        }).fail(function(){
            $('#detail_body').html('fail')
        })
    }
    function edit(event) {
        var data = $(event).serialize()
        $.ajax({
            url: 'edit/',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: data,
            type: 'post'
        }).done(function(data) {
            $('#edit_body').html(data)
        })
    }

    function del(event) {
        $('#rule_name').html(event.rule_name.value)
        var data = $(event).children('input').clone()
        $('#del_form').html(data)
    }

    function del_action(event) {
        var data = $(event).serialize()
        $.ajax({
            url: '/custom/delete/',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: data,
            type: 'post'
        }).done(function(data) {
            if (data == '정책 삭제 완료') {
                $('.modal').modal('hide')
                alert(data)
                window.location.reload()
            } else if (data == '정책 삭제 실패') {
                alert(data)
            } else {
                $('#rule_name').html(data)
                $('#del_form').append($('<input type=hidden id=del_confirm name=confirm value=1>'));
            }
        }).fail(function() {
            alert('다시 시도해주세요')
        })
    }

    function onoff(event) {
        var data = $(event.parentNode).serialize()
        $.ajax({
            url: 'on_off/',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: data,
            type: 'post'
        }).done(function(on_off) {
            $(event.parentNode.on_off).val(on_off)
            if (on_off == '1') {
                $(event).val('  On  ')
                $(event).css('background-color', '')
                $(event).css('border-color', '')
            } else {
                $(event).val('  Off  ')
                $(event).css('background-color', '#D3D3D3')
                $(event).css('border-color', '#D3D3D3')
            }
        })
    }
    $('#threat_top').addClass('show');
</script>
<script type="text/javascript">
    $(function() {
        $("#dataTable").DataTable({
            destroy: false,
            // 표시 건수기능 숨기기
            lengthChange: true,
            // 검색 기능 숨기기
            searching: false,
            // 정렬 기능 숨기기
            ordering: false,
            // 정보 표시 숨기기
            info: true,
            // 페이징 기능 숨기기
            paging: true
        });
    });
    $(function() {
        $("#dataTable2").DataTable({
            destroy: false,
            // 표시 건수기능 숨기기
            lengthChange: true,
            // 검색 기능 숨기기
            searching: false,
            // 정렬 기능 숨기기
            ordering: false,
            // 정보 표시 숨기기
            info: true,
            // 페이징 기능 숨기기
            paging: true
        });
    });
</script>
{% endblock %}