{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- Cytoscape.js -->
<script src="{% static '/plugin/cytoscape.js/WebCola/cola.min.js' %}"></script>
<script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@2.6.0/dist/tippy.all.js"></script>
<script src="https://unpkg.com/cytoscape@3.18.0/dist/cytoscape.min.js"></script>
<script src="https://unpkg.com/cytoscape-cola@2.2.3/cytoscape-cola.js"></script>
<script src="https://unpkg.com/cytoscape-popper@1.0.2/cytoscape-popper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape-euler@1.2.2/cytoscape-euler.min.js"></script>
<script src="https://unpkg.com/bluebird@3.5.2/js/browser/bluebird.js"></script>

<!-- Page Essential-->
<link rel="stylesheet" href="{% static '/css/tab.css' %}">
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div>
    <div>
        <h6 class='h3 mb-2 font-weight-bold text-gray-800 ml-2'>{{rule_name}}</h6>
        <p class='h6 ml-2 mb-4'>Threat Detection Analysis</p>
    </div>
    <div class="tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <ul class='ul'>
            <li title="DASHBOARD">
                <label for="tab1" role="button">
                    <i class="fa-solid fa-circle-nodes"></i>
                    <span>Graph Analysis</span>
                </label>
            </li>
            <li title= "{{rule_name}}">
                <label for="tab2" role="button">
                    <i class="fas fa-fw fa-bars"></i>
                    <span>{{rule_name}}</span>
                </label>
            </li>
        </ul>

        <div class="slider">
            <div class="indicator"></div>
        </div>
        <div class="content">
            <section>
                <div style="height:600px">
                    {% include 'graphdb/graph.html' %}
                </div>
            </section>
            <section>
                {% include './detected_details.html' %}
            </section>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade card-body" id="detail-modal" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1" style='width:1000px; height:auto'>
            <div class='d-flex justify-content-end p-3'>
                <button type="button" class=close data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <img src="{% static '/img/teiren-side-logo.png' %}" style="margin:0 auto; margin-bottom:0; width:300px; height: 100px;">
            <div class="modal-body justify-content-center" id='detail'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-teiren" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $('#detail-modal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        var id = button.data('id')
        var logType = button.data('logtype')
        var resourceType = button.data('resourcetype')
        $.ajax({
            url: `/logs/${resourceType}/modal/details/`,
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                id: id,
                logType: logType
            },
            type: 'post'
        }).done(function(data) {
            $('#detail').html(data)
        }).fail(function(data) {
            $('#detail').html('fail')
        })
    })
    $(function() {
        $('#threat_top').addClass('show')
    })
    $(function(){
        $("#dataTable").DataTable({
            destroy: false,
            // 표시 건수기능 숨기기
            lengthChange: false,
            // 검색 기능 숨기기
            searching: false,
            // 정렬 기능 숨기기
            ordering: false,
            // 정보 표시 숨기기
            info: true,
            // 페이징 기능 숨기기
            paging: true
        });
    });
</script>
{% endblock %}